.page-content-body {
  width: 100%;
}
.page-content-body .drag-item {
  width: 100%;
}
.page-content-body .drag-item .container {
  width: 87.5rem;
  padding: 3.125rem 1.25rem 1.5rem;
  margin: 0 auto;
}
.page-content-body .drag-item .container .top-box {
  width: 100%;
  height: 5.9375rem;
  margin: 0 0 60px;
  text-align: center;
}
.page-content-body .drag-item .container .top-box .blog-title {
  height: 2.8125rem;
  font-size: 1.875rem;
  font-weight: 600;
}
.page-content-body .drag-item .container .top-box .blog-description {
  height: 1.625rem;
  margin: 1.5rem 0 0;
  font-size: 1rem;
  color: #999999;
}
.page-content-body .drag-item .container .list {
  width: 100%;
  margin: 0 0 1.875rem;
}
.page-content-body .drag-item .container .list .row {
  margin: 10px 0 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.page-content-body .drag-item .container .list .row .col {
  flex: 1;
  height: 38.125rem;
  margin: 0 0.625rem;
}
.page-content-body .drag-item .container .list .row .col a {
  display: block;
  width: 100%;
  height: 28.75rem;
}
.page-content-body .drag-item .container .list .row .col a .common-img-box {
  width: 100%;
  height: 100%;
}
.page-content-body .drag-item .container .list .row .col a .common-img-box img {
  width: 100%;
  height: 100%;
}
.page-content-body .drag-item .container .list .row .col .card-body {
  height: 9.125rem;
  width: 100%;
  padding: 1.25rem 0 0;
  border-bottom: 0.0625rem solid #000;
}
.page-content-body .drag-item .container .list .row .col .card-body .mb-3 {
  height: 1.125rem;
  margin: 0 0 1rem;
  font-size: 0.75rem;
  color: #999999;
}
.page-content-body .drag-item .container .list .row .col .card-body .mb-3 i {
  padding: 0 0.625rem;
  color: #999999;
}
.page-content-body .drag-item .container .list .row .col .card-body h5 {
  height: 1.875rem;
  margin: 0 0 1rem;
  font-size: 1.25rem;
  font-weight: normal;
}
.page-content-body .drag-item .container .list .row .col .card-body p {
  height: 1.5rem;
  margin: 0 0 1.5rem;
  color: #999999;
}
