* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.content-box {
  width: 100%;
}
.content-box .main {
  width: 100%;
  height: 100%;
}
.content-box .main .checkout-box {
  width: 100%;
  height: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-box .main .checkout-box .left-checkout {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: end;
  border-right: 0.0625rem solid #c7c3c3;
}
.content-box .main .checkout-box .left-checkout .payment-info {
  width: 40rem;
  height: 100%;
  padding: 3.5rem 4.375rem 0 0;
}
.content-box .main .checkout-box .left-checkout .payment-info .logo-box {
  height: 4.125rem;
  width: 100%;
  padding: 0 0 0.875rem 0;
  margin: 0;
}
.content-box .main .checkout-box .left-checkout .payment-info .logo-box a {
  display: block;
  width: 100%;
  height: 100%;
}
.content-box .main .checkout-box .left-checkout .payment-info .logo-box a img {
  width: 10.8125rem;
  height: 2.8125rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .bread {
  width: 100%;
  height: 1.125rem;
  margin: 0 0 1.25rem;
  display: flex;
  align-items: center;
}
.content-box .main .checkout-box .left-checkout .payment-info .bread .uppercase {
  color: #595a5a;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay {
  width: 100%;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box {
  width: 100%;
  height: 9.75rem;
  padding: 0 1.25rem;
  margin: 1.25rem 0 0;
  border: 0.0625rem solid #bbb9b9;
  border-radius: 0.3125rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-md-12 {
  width: 100%;
  height: 8.4375rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-md-12 .row {
  display: flex;
  align-items: center;
  height: 3.125rem;
  line-height: 3.125rem;
  border-bottom: 0.0625rem solid #b4b2b2;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-md-12 .row:last-child {
  justify-content: start;
  align-items: center;
  border-bottom: none;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-md-12 .row h2 {
  font-size: 0.875rem;
  font-weight: normal;
  color: #737373;
  padding-right: 1.25rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-md-12 .row p {
  width: 40%;
  display: inline-block;
  height: 3.125rem;
  color: #545454;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  text-align: left;
  white-space: nowrap;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-md-12 .row a {
  flex: 1;
  text-align: right;
  color: #2277cc;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-md-12 .paypal-button-container {
  margin-top: 0.3125rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.375rem;
  line-height: 2.5rem;
  font-size: 1rem;
  text-align: center;
  background-color: #ffc439;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-md-12 .paypal-button-container span {
  font-size: 1rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-md-12 .paypal-button-container1 {
  margin-top: 0.625rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.375rem;
  line-height: 2.5rem;
  font-size: 1rem;
  text-align: center;
  background-color: #080808;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-md-12 .paypal-button-container1 span {
  font-size: 1rem;
  color: #fff;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-md-12 .paypal-powered-by {
  margin-top: 0.625rem;
  width: 100%;
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 1rem;
  text-align: center;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-md-12 .paypal-powered-by img {
  height: 1.25rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-md-12 .paypal-powered-by span {
  font-size: 1rem;
  color: #807f7f;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.375rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .divider .line {
  height: 0.0313rem;
  width: 50%;
  border-bottom: 0.0625rem solid #c7c5c5;
}
.content-box .main .checkout-box .left-checkout .payment-info .pay .divider .or {
  font-size: 1rem;
  padding: 0 0.625rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact {
  width: 100%;
  height: 39.375rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact h2 {
  height: 1.25rem;
  margin: 0.625rem 0 0.625rem;
  font-size: 1.125rem;
  font-weight: 400;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact p {
  color: #737373;
  font-size: 0.8125rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .ship {
  width: 100%;
  height: 2.875rem;
  border: 0.0625rem solid #999999;
  padding: 0 0.625rem;
  margin: 1.25rem 0;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .ship img {
  width: 2.1875rem;
  height: 1.375rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .ship p {
  display: inline-block;
  align-items: center;
  font-size: 0.875rem;
  color: #1b1b1b;
  line-height: 0.9375rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .ship p i {
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 0.9375rem;
  border: 0.0625rem solid #999999;
  margin-right: 0.625rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .ship p .i-active {
  border: 0.0625rem solid #2277cc;
  background-color: #2277cc;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .ship p .pay-i-active {
  border: 0.0625rem solid #2277cc;
  background-color: #2277cc;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .ship span {
  display: inline-block;
  font-size: 0.9375rem;
  font-weight: 550;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .ship-active {
  border: 0.125rem solid #2277cc;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .pay-active {
  border: 0.125rem solid #2277cc;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact form input {
  width: 100%;
  height: 2.875rem;
  margin: 0.625rem 0;
  border: 0.0625rem solid #999999;
  padding: 0 10px;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact form select {
  width: 100%;
  height: 2.875rem;
  border: 0.0625rem solid #999999;
  padding: 0 10px;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact form span {
  color: red;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact form .row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact form .row .col {
  width: 33%;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact form .row .col select {
  width: 100%;
  height: 2.875rem;
  line-height: 2.875rem;
  border: 0.0625rem solid #999999;
  padding: 0 0.3125rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact form p {
  color: #807f7f;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact form .agree {
  margin: 1.25rem 0 0;
  display: flex;
  align-items: center;
  height: 1.5rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact form .agree input {
  width: 0.9375rem;
  height: 0.9375rem;
  margin: 0 0.625rem;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact form .agree p {
  height: 1.5rem;
  line-height: 1.5rem;
  color: #000;
  font-weight: 600;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .pay-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.875rem;
  padding: 1.5625rem 0;
  margin: 0.9375rem 0 20px;
  border-bottom: 0.0625rem solid #999999;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .pay-btn .return {
  color: #2277cc;
  font-size: 1rem;
  font-weight: 550;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .pay-btn .ctin {
  height: 3.75rem;
  width: 11.25rem;
  background-color: #2277cc;
  padding: 1.25rem 0.625rem;
  border-radius: 0.3125rem;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .pay-btn .ctin button {
  border: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .footer {
  width: 100%;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .footer ul {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .footer ul li {
  font-size: 0.875rem;
  color: #807f7f;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .footer .icon-list {
  padding: 0 1.25rem;
  width: 100%;
  margin: 0.625rem 0 0;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .footer .icon-list .item-payment-box {
  text-align: center;
  width: 100%;
}
.content-box .main .checkout-box .left-checkout .payment-info .contact .footer .icon-list .item-payment-box img {
  width: 2.5rem;
  height: 1.125rem;
  margin: 0.3125rem 0 0;
}
.content-box .main .checkout-box .right-checkout {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: start;
  background-color: #f8f7f7;
}
.content-box .main .checkout-box .right-checkout .checkout-price {
  width: 42.5rem;
  height: 100%;
  padding: 75px 0 0 1.25rem;
}
.content-box .main .checkout-box .right-checkout .checkout-price .product-list {
  width: 100%;
}
.content-box .main .checkout-box .right-checkout .checkout-price .product-list > div {
  width: 100%;
}
.content-box .main .checkout-box .right-checkout .checkout-price .product-list .product-item {
  width: 100%;
  height: 6.25rem;
  padding: 0.625rem 0 1.3125rem;
  border-bottom: 0.0625rem solid #999999;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.content-box .main .checkout-box .right-checkout .checkout-price .product-list .product-item .left {
  width: 25rem;
  height: 100%;
  display: flex;
}
.content-box .main .checkout-box .right-checkout .checkout-price .product-list .product-item .left .img-box {
  position: relative;
  width: 4.0625rem;
  height: 100%;
  border: 0.0625rem solid #b6b4b4;
  padding: 0.3125rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
}
.content-box .main .checkout-box .right-checkout .checkout-price .product-list .product-item .left .img-box img {
  max-width: 100%;
  max-height: 100%;
}
.content-box .main .checkout-box .right-checkout .checkout-price .product-list .product-item .left .img-box i {
  position: absolute;
  top: -0.625rem;
  right: -0.625rem;
  width: 1.3125rem;
  height: 1.3125rem;
  text-align: center;
  line-height: 1.3125rem;
  border-radius: 50%;
  background-color: #5e5c5c;
  color: #fff;
}
.content-box .main .checkout-box .right-checkout .checkout-price .product-list .product-item .left .info {
  width: 18.75rem;
  padding: 0 0 0 0.625rem;
}
.content-box .main .checkout-box .right-checkout .checkout-price .product-list .product-item .left .info .title {
  width: 25rem;
  height: 38px;
  padding: 5px;
  margin: 0 0 0.625rem;
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.content-box .main .checkout-box .right-checkout .checkout-price .product-list .product-item .left .info .color {
  font-size: 0.75rem;
  color: #818080;
}
.content-box .main .checkout-box .right-checkout .checkout-price .product-list .product-item .right {
  width: 100px;
  text-align: right;
}
.content-box .main .checkout-box .right-checkout .checkout-price .product-list .product-item .right .price {
  width: 100px;
  padding: 0.625rem;
  font-size: 1rem;
  font-weight: 600;
}
.content-box .main .checkout-box .right-checkout .checkout-price .discount-box {
  width: 100%;
  height: 5.4375rem;
  padding: 1.3125rem 0 9px;
  border-bottom: 0.0625rem solid #999999;
}
.content-box .main .checkout-box .right-checkout .checkout-price .discount-box form {
  display: flex;
  justify-content: space-between;
}
.content-box .main .checkout-box .right-checkout .checkout-price .discount-box form input {
  width: 22.5rem;
  height: 2.875rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #999999;
  padding: 0 0.625rem;
}
.content-box .main .checkout-box .right-checkout .checkout-price .discount-box form .btn {
  width: 5rem;
  height: 2.875rem;
  line-height: 2.875rem;
  text-align: center;
  border-radius: 0.3125rem;
  background-color: #c7c3c3;
  color: #fff;
  font-size: 1rem;
}
.content-box .main .checkout-box .right-checkout .checkout-price .price-info {
  width: 100%;
  height: 8.6875rem;
  padding: 0.9375rem 0;
  border-bottom: 0.0625rem solid #999999;
}
.content-box .main .checkout-box .right-checkout .checkout-price .price-info .price-item {
  width: 100%;
  height: 2.25rem;
}
.content-box .main .checkout-box .right-checkout .checkout-price .price-info .price-item .label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  color: #535353;
}
.content-box .main .checkout-box .right-checkout .checkout-price .price-info .price-item .label .txt {
  font-size: 0.875rem;
  color: #000;
  font-weight: 545;
}
.content-box .main .checkout-box .right-checkout .checkout-price .total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.0625rem;
  padding: 1.25rem 0 1.5625rem;
}
.content-box .main .checkout-box .right-checkout .checkout-price .total-price span {
  font-size: 1rem;
}
.content-box .main .checkout-box .right-checkout .checkout-price .total-price .price i {
  color: #7c7b7b;
  margin: 0 0.375rem 0 0;
}
.content-box .main .checkout-box .right-checkout .checkout-price .total-price .price span {
  font-size: 1.5rem;
}
