@font-face {
  font-family: Poppins;
  font-weight: 400;
  src: url("../font/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url("../font/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Poppins;
  font-weight: 600;
  src: url("../font/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "PreferredFont";
  src: local("Helvetica Neue");
}
body {
  font: 16px Poppins, PreferredFont, Helvetica, Arial, sans-serif, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-family: Poppins, PreferredFont, Helvetica, Arial, sans-serif, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
html,
body,
#app {
  height: 100%;
}
#app {
  position: relative;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.content-box .page-content-header {
  height: 6.875rem;
  width: 100%;
  margin: 0 auto;
}
.content-box .page-content-header header {
  width: 100%;
  height: 100%;
}
.content-box .page-content-header header .top-nav {
  height: 2.875rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: black;
  color: #fff;
  border-bottom: 0.0625rem solid #a5a2a2;
  font-size: 13px;
}
.content-box .page-content-header header .top-nav a {
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
}
.content-box .page-content-header header .top-nav a img {
  width: 0.9375rem;
  height: 0.9375rem;
}
.content-box .page-content-header header .bottom-nav {
  width: 90rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
}
.content-box .page-content-header header .bottom-nav .logo {
  display: block;
  width: 12.5rem;
  height: 3.75rem;
  padding: 0.625rem 1.25rem;
}
.content-box .page-content-header header .bottom-nav .logo img {
  width: 9.0625rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
}
.content-box .page-content-header header .bottom-nav .tab {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-box .page-content-header header .bottom-nav .tab li {
  height: 100%;
  position: relative;
  margin: 0 1.25rem;
}
.content-box .page-content-header header .bottom-nav .tab li i {
  position: absolute;
  top: 0.625rem;
  right: -1.25rem;
  padding: 0.0625rem 0.3125rem;
  border-radius: 0.9375rem;
  background-color: #f31f1f;
  font-size: 0.5rem;
  color: #fff;
}
.content-box .page-content-header header .bottom-nav .tab li a {
  display: block;
  padding: 0 0.125rem;
  height: 4rem;
  line-height: 4rem;
  color: #464444;
  text-align: center;
}
.content-box .page-content-header header .bottom-nav .tab li a:hover {
  border-bottom: 0.125rem solid #413f3f;
}
.content-box .page-content-header header .bottom-nav .yonghu {
  display: flex;
}
.content-box .page-content-header header .bottom-nav .yonghu li {
  position: relative;
  padding: 0 10px;
}
.content-box .page-content-header header .bottom-nav .yonghu li .products {
  position: absolute;
  top: -0.625rem;
  left: 1.5625rem;
  padding: 0.0625rem 0.3125rem;
  background-color: #f56c6c;
  border-radius: 0.625rem;
  text-align: center;
  font-size: 0.75rem;
  color: #fff;
}
.content-box .page-content-body {
  width: 100%;
}
.content-box .page-content-footer {
  width: 100%;
  height: 30rem;
  background-color: #f6f6f6;
}
.content-box .page-content-footer .container {
  height: 21.875rem;
}
.content-box .page-content-footer .container .pc-menu {
  width: 87.5rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.content-box .page-content-footer .container .pc-menu .item-content {
  padding: 5rem 2rem;
  text-align: left;
  flex: 25%;
  height: 100%;
  border-right: 0.0625rem dotted grey;
}
.content-box .page-content-footer .container .pc-menu .item-content:nth-child(4) {
  border: 0;
}
.content-box .page-content-footer .container .pc-menu .item-content .item .menu-link {
  padding: 0.625rem 0 0 0;
}
.content-box .page-content-footer .container .pc-menu .item-content .item .menu-link p {
  display: block;
  line-height: 1.4375rem;
  margin: 0 0 1rem;
  font-size: 1rem;
  font-weight: 550;
}
.content-box .page-content-footer .container .pc-menu .item-content .item .menu-link ul {
  width: 100%;
}
.content-box .page-content-footer .container .pc-menu .item-content .item .menu-link ul li {
  height: 2rem;
  line-height: 2rem;
}
.content-box .page-content-footer .container .pc-menu .item-content .item .menu-link ul li a {
  display: block;
  height: 1.4375rem;
  line-height: 1.4375rem;
}
.content-box .page-content-footer .container .mobile-menu {
  width: 100%;
  margin: 0 auto;
}
.content-box .page-content-footer .container .mobile-menu .item-content .item {
  padding: 0 20px;
}
.content-box .page-content-footer .container .mobile-menu .item-content .item .menu-link {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 43px;
  line-height: 43px;
  margin: 0 0 16px;
}
.content-box .page-content-footer .container .mobile-menu .item-content .item .menu-link p {
  font-size: 16px;
  font-weight: 550;
}
.content-box .page-content-footer .container .mobile-menu .item-content .item .menu-link .from-content {
  width: 100%;
}
.content-box .page-content-footer .container .mobile-menu .item-content .item .menu-link .from-content .input {
  width: 100%;
}
.content-box .page-content-footer .container .mobile-menu .item-content .item ul li {
  height: 32px;
  font-size: 16px;
  color: #686767;
}
.content-box .page-content-footer .container .mobile-menu .item-content .item ul li a {
  color: #686767;
}
.content-box .page-content-footer .container .mobile-menu .item-content .item .follow-body {
  height: 43px;
}
.content-box .page-content-footer .container .mobile-menu .item-content .item .follow-body ul {
  display: flex;
  align-items: center;
  padding-bottom: 6rem;
}
.content-box .page-content-footer .container .mobile-menu .item-content .item .follow-body ul li a {
  display: block;
  width: 1.875rem;
  height: 1.875rem;
}
.content-box .page-content-footer .container .mobile-menu .item-content .item .follow-body ul li a img {
  width: 0.9375rem;
  height: 0.9375rem;
}
.content-box .page-content-footer .footer-bottom-container {
  height: 8.125rem;
  padding: 0.25rem 0;
  background-color: #f6f6f6;
  border-top: 0.0625rem solid #c7c5c5;
}
.content-box .page-content-footer .footer-bottom-container .bottom-box {
  display: flex;
  align-items: center;
  height: 100%;
  width: 88.75rem;
  margin: 0 auto;
  justify-content: center;
}
.content-box .page-content-footer .footer-bottom-container .bottom-box .item-payment-box {
  width: 25rem;
  text-align: center;
  margin-right: 6.25rem;
  margin-left: 1.875rem;
}
.content-box .page-content-footer .footer-bottom-container .bottom-box .item-payment-box img {
  width: 2.0625rem;
  height: 1.375rem;
  margin: 0.625rem;
}
.mb-10 span {
  line-height: 1.5;
}
form .from-content {
  margin-top: 0.625rem;
  display: block;
  display: flex;
  align-items: center;
  height: 2.5rem;
  background-color: white;
  border: 0.0625rem solid #b6b3b3;
}
form .from-content .input input {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 0 1.25rem;
}
form .from-content .input input::placeholder {
  color: #a5a2a2;
  font-weight: 500;
}
form .from-content button {
  border: 0;
  background-color: #fff;
}
form .err {
  padding: 0.0625rem 0;
  font-size: 0.75rem;
  color: #f74134;
  font-weight: 300;
  opacity: 0;
}
.lg ul {
  display: flex;
  align-items: center;
  padding-bottom: 6rem;
}
.lg ul li a {
  display: block;
  width: 1.875rem;
  height: 1.875rem;
}
.lg ul li a img {
  width: 0.9375rem;
  height: 0.9375rem;
}
.root {
  position: absolute;
  top: 1.625rem;
  right: 0.625rem;
  width: 6.25rem;
  z-index: 10;
  display: none;
}
.root .row {
  border-radius: 0.3125rem;
  border: 1px solid #a5a3a3;
  overflow: hidden;
}
.root .row a {
  display: block;
  padding: 0.625rem 1.25rem;
  text-align: left;
  font-size: 1rem;
  background-color: #fff;
}
.root .row a:hover {
  background-color: #999;
  color: #fff;
}
.shop-item {
  display: none;
  position: absolute;
  top: 6.875rem;
  left: 0;
  width: 100%;
  height: 28.125rem;
  margin: 0 auto;
  background-color: #fff;
  z-index: 3;
}
.shop-item .container {
  width: 88.75rem;
  margin: 0 auto;
  height: 100%;
  background-color: #fff;
  border-top: 0.0625rem solid #949191;
  display: flex;
  align-items: center;
}
.shop-item .container .left {
  flex: 1;
  display: flex;
  justify-content: center;
}
.shop-item .container .left ul {
  flex: 1;
  padding-right: 1.25rem;
}
.shop-item .container .left ul h2 {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  font-weight: 550;
}
.shop-item .container .left ul li {
  line-height: 1.875rem;
  font-size: 1rem;
}
.shop-item .container .left ul li a {
  color: #6b6a6a;
}
.product-item {
  display: none;
  position: absolute;
  top: 6.875rem;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  z-index: 3;
}
.product-item .container {
  width: 88.75rem;
  margin: 0 auto;
  height: 100%;
  border-top: 0.0625rem solid #7a7a7a;
}
.product-item .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-item .container ul li {
  flex: 1;
  height: 100%;
  margin: 0 0.625rem;
  font-size: 1rem;
  font-weight: 500;
}
.product-item .container ul li a {
  text-align: center;
  margin-top: 1.25rem;
  display: block;
  padding: 0 0.625rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #686767;
}
.product-item .container ul li a:hover {
  background-color: #d6d1d1;
}
.pages-item {
  display: none;
  position: absolute;
  top: 6.875rem;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  z-index: 4;
}
.pages-item .container {
  width: 88.75rem;
  margin: 0 auto;
  height: 100%;
  border-top: 0.0625rem solid #7a7a7a;
}
.pages-item .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages-item .container ul li {
  flex: 1;
  height: 100%;
  margin: 0 0.625rem;
  font-size: 1rem;
  font-weight: 500;
}
.pages-item .container ul li a {
  text-align: center;
  margin-top: 1.25rem;
  display: block;
  padding: 0 0.625rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #686767;
}
.pages-item .container ul li a:hover {
  background-color: #d6d1d1;
}
