*{
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.content-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .page-content-header{
    height: 110px;
    width: 1440px;
    margin: 0 auto;
    header{
        width: 100%;
        height: 100%;
        
        .top-nav{
            height: 46px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            border-bottom: 1px solid #a5a2a2;
            a{
                display: block;
                
                width: 30px;
                height: 30px;
                line-height: 30px;
                padding: 0 0px;
                img{
                    width: 15px;
                    height: 15px;
                }
            }
        }
        .bottom-nav{
            // position: fixed;
            width: 100%;
            height: 64px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            margin: 0 auto;
            .logo{
                display: block;
                width: 200px;
                height: 60px;
                padding: 10px 20px;
                img{
                    width: 145px;
                    height: 37px;
                    line-height: 37px;
                }
            }
            .tab{
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                    
                    height: 100%;
                    position: relative;
                    margin: 0 20px;
                    i{
                        position: absolute;
                        top: 10px;
                        right: -20px;
                        padding: 1px 5px;
                        border-radius: 15px;
                        background-color: rgb(243, 31, 31);
                        font-size: 8px;
                        color: #fff;
                    }
                    a{
                        display: block;
                        padding: 0 2px;
                        height: 64px;
                        line-height: 64px;
                        color: #464444;
                        text-align: center;
                        
                        &:hover{
                            border-bottom: 2px solid #413f3f;
                        }
    
                    }
                    
                }
            }
            .yonghu{
                display: flex;
                li{
                    position: relative;
                    padding: 0 10px;
                    .products{
                        position: absolute;
                        top: -10px;
                        left: 25px;
                        padding: 1px 5px;
                        background-color: #f56c6c;
                        border-radius: 10px;
                        text-align: center;
                        font-size: 12px;
                        color: #fff;
                    }
                }
            }

        }
    }
}
.page-content-body{
    width: 100%;
    height: 100%;
}
.page-content-footer{
    width: 100%;
    height: 480px;
    background-color: rgb(246, 246, 246);
    .container{
        height: 350px;
        .item-box{
            width: 1400px;
            margin: 0 auto;
            height: 100%;
            display: flex;
            align-items: center;
            .item-content{
                padding: 80px 32px;
                text-align: left;
                flex: 1;
                height: 100%;
                border-right: 1px dotted grey;
                &:nth-child(4){
                    border: 0;
                }
                .item{
                    .menu-link{
                       padding: 10px 0 0 0; 
                        p{  
                            display: block;
                            line-height: 23px;
                            margin: 0 0 16px;
                            font-size: 16px;
                            font-weight: 500;
                        }
                        ul{
                            li{
                                height: 32px;
                                line-height: 32px;
                                a{
                                    display: block;
                                    height: 23px;
                                    line-height: 23px;
                                }
                                
                            }
                            
                        }
                    }
                }
            }
            
        }
    }
    .footer-bottom-container{
        height: 130px;
        padding: 4px 0;
        background-color: rgb(246, 246, 246);
        border-top: 1px solid #c7c5c5;
        .bottom-box{
            display: flex;
            align-items: center;
            height: 100%;
            width: 1420px;
            margin: 0 auto;
            .item-payment-box{
                width: 400px;
                margin-right: 100px;
                margin-left: 30px;
                img{
                    width: 33px;
                    height: 22px;
                    margin: 10px;
                }
            
        }
    }
    
}
}
}


.mb-10{
    span{
        line-height: 1.5;
      
    }
}
form{
    .from-content{
        margin-top: 10px;
        display: block;
        display: flex;
        align-items: center;
        height: 40px;
        background-color: white;
        border: 1px solid rgb(182, 179, 179);
        .input{
            input{
                border: 0;
                width: 100%;
                height: 100%;
                padding: 0 20px;
                &::placeholder{
                    color: #a5a2a2;
                    font-weight: 500;
                }
            }   
        }
        button{
            border: 0;
            background-color: #fff;
        }
    
    }
    .err{
        padding: 1px 0;
        font-size: 12px;
        color: rgb(247, 65, 52);
        font-weight: 300;
        opacity: 0;
    }
}
.lg{
    ul{
        display: flex;
        align-items: center;
        padding-bottom: 96px;
    li{
        a{
            display: block;
            width: 30px;
            height: 30px;
            img{
                width: 15px;
                height: 15px;
                
            }
        }
    }
    }
    }

// yonghu
.root{
    position: absolute;
    top: 90px;
    right: 280px;
    width: 120px;
    z-index: 10;
    display: none;
    .row{
        a{
            display: block;
            padding: 10px 20px;
            text-align: left;
            font-size: 16px;
            background-color: #fffafa;
            &:hover{
                background-color: #e0dddd;
            }
        }
    }
}


// tab显示
.shop-item{
    display: none;
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    background-color: #fff;
    z-index: 3;
    .container{
        width: 1420px;
        margin: 0 auto;
        height: 100%;
        background-color: #fff;
        border-top: 1px solid #949191;
        display: flex;
        align-items: center;
        .left{
            flex: 1;
            display: flex;
            ul{
                flex: 1;
                padding-right: 20px;
                h2{
                    margin-bottom: 20px;
                    font-size: 16px;
                    font-weight: 550;
                }
                li{
                    line-height: 30px;
                    font-size: 16px;
                    a{
                        color: #6b6a6a;
                    }
                }
            }
        }
        .right{
            flex: 1;
            .row{
                display: flex;
                align-items: center;
                .col{
                    flex:1;
                    margin: 0 20px;
                    a{
                        width: 250px;
                        display: block;
                        height: 300px;
                        .common-img-box{
                            width: 100%;
                            height: 100%;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                        }
                    }
                    .text{
                        margin-top: 10px;
                        h2{
                            font-size: 20px;
                            font-weight: normal;
                            margin: 10px 0;
                        }
                        p{
                            font-size: 16px;
                            color: #6b6a6a;
                        }
                    }
                }
            }
        }
    }
}

// product
.product-item{
   display: none;
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 3;
    
    .container{
        width: 1420px;
        margin: 0 auto;
        height: 100%;
        border-top: 1px solid #7a7a7a;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                flex: 1;
                height: 100%;
                margin: 0 10px;
                font-size: 16px;
                font-weight: 500;
                a{
                    text-align: center;
                    margin-top: 20px;
                    display: block;
                    padding: 0 10px;
                    height: 40px;
                    line-height: 40px;
                    color: #686767;
                    &:hover{
                        background-color: #d6d1d1;
                    }
                }
            }
    }
    }
}

// pages
.pages-item{
    display: none;
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 4;
    .container{
        width: 1420px;
        margin: 0 auto;
        height: 100%;
        border-top: 1px solid #7a7a7a;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                flex: 1;
                height: 100%;
                margin: 0 10px;
                font-size: 16px;
                font-weight: 500;
                a{
                    text-align: center;
                    margin-top: 20px;
                    display: block;
                    padding: 0 10px;
                    height: 40px;
                    line-height: 40px;
                    color: #686767;
                    &:hover{
                        background-color: #d6d1d1;
                    }
                }
            }
    }
    }
}