.page-content-body {
  width: 100%;
}
.page-content-body .drag-item {
  width: 100%;
}
.page-content-body .drag-item .banner {
  width: 100%;
  height: 21.875rem;
}
.page-content-body .drag-item .banner img {
  width: 100%;
  height: 100%;
}
.page-content-body .drag-item .coupon-view {
  height: 5.125rem;
  width: 100%;
  background-image: linear-gradient(to right, #ff4848, #ff0d7d);
  text-align: center;
}
.page-content-body .drag-item .coupon-view img {
  height: 100%;
}
.page-content-body .container {
  width: 90rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}
.page-content-body .container .sort-box {
  width: 100%;
  height: 5.25rem;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-content-body .container .sort-box .item {
  height: 100%;
  font-size: 1rem;
}
.page-content-body .container .sort-box .box {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.page-content-body .container .sort-box .box span {
  font-size: 1rem;
}
.page-content-body .container .sort-box .box .item-select {
  width: 12.5rem;
  height: 2.25rem;
  line-height: 2.25rem;
  padding: 0 0.625rem;
  border: 0.0625rem solid #dcdfe6;
  margin-left: 1.25rem;
}
.page-content-body .container .sort-box .box .select-box {
  display: none;
  position: absolute;
  top: 3.125rem;
  right: 0;
  width: 12.5rem;
  border: 0.0625rem solid #dcdfe6;
  background-color: #fff;
}
.page-content-body .container .sort-box .box .select-box .sort-item {
  height: 2.875rem;
  line-height: 2.8125rem;
  text-align: left;
  padding: 0 1rem;
  font-size: 1rem;
  border-bottom: 0.0625rem solid #dcdfe6;
}
.page-content-body .container .sort-box .box .select-box .sort-item:hover {
  background-color: #dcdfe6;
}
.page-content-body .container .row {
  width: 90rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
}
.page-content-body .container .col {
  height: 31.25rem;
  width: 16.5625rem;
  padding: 0 0.5625rem;
  margin: 0 0 1.5rem;
}
.page-content-body .container .col a {
  display: block;
  width: 100%;
  height: 22.5rem;
  transition: all 0.3s;
}
.page-content-body .container .col a img {
  width: 100%;
  height: 100%;
}
.page-content-body .container .col a:hover {
  transform: scale(1.02);
}
.page-content-body .container .col .info-box {
  padding: 0.625rem 0 0;
  height: 6.25rem;
  width: 100%;
}
.page-content-body .container .col .info-box .pro-title {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1.125rem;
}
.page-content-body .container .col .info-box .price {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
  margin: 0 0 0.625rem;
  color: #f03d3d;
}
.page-content-body .container .col .info-box .price span {
  font-size: 0.875rem;
  color: #666666;
  text-decoration: line-through;
}
