.page-content-body {
  width: 100%;
}
.page-content-body .drag-item {
  width: 100%;
}
.page-content-body .drag-item .container1 {
  display: none;
  width: 1440px;
  margin: 0 auto;
  height: 600px;
  text-align: center;
}
.page-content-body .drag-item .container1 h2 {
  height: 152px;
  padding: 56px 16px;
  font-size: 36px;
  font-weight: normal;
}
.page-content-body .drag-item .container1 a {
  display: block;
  width: 200px;
  height: 44px;
  line-height: 44px;
  border-radius: 6px;
  margin: 300px auto;
  background-color: black;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s;
}
.page-content-body .drag-item .container1 a:hover {
  transform: scale(1.02);
}
.page-content-body .drag-item .container2 {
  display: block;
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.page-content-body .drag-item .container2 h2 {
  height: 152px;
  padding: 56px 16px;
  font-size: 36px;
  font-weight: normal;
}
.page-content-body .drag-item .container2 .main {
  width: 100%;
}
.page-content-body .drag-item .container2 .main .table-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 32px 10px;
  font-size: 16px;
  border-bottom: 1px solid #b8b8b8;
  margin-bottom: 20px;
}
.page-content-body .drag-item .container2 .main .table-body {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page-content-body .drag-item .container2 .main .table-body li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  padding: 32px 10px;
  font-size: 16px;
  text-align: left;
  background-color: transparent;
  border-radius: 5px;
  border-bottom: 1px solid #b8b8b8;
}
.page-content-body .drag-item .container2 .main .table-body li .left-box {
  display: flex;
  align-items: center;
}
.page-content-body .drag-item .container2 .main .table-body li .left-box .img-box {
  margin: 0 10px;
  width: 70px;
  height: 90px;
  background-color: brown;
}
.page-content-body .drag-item .container2 .main .table-body li .left-box .img-box img {
  width: 100%;
  height: 100%;
}
.page-content-body .drag-item .container2 .main .table-body li .left-box .info {
  margin: 0 20px;
  height: 90px;
}
.page-content-body .drag-item .container2 .main .table-body li .left-box .info .order-number {
  color: #3160c4;
  font-size: 16px;
}
.page-content-body .drag-item .container2 .main .table-body li .left-box .info .title {
  margin-top: 10px;
  font-size: 14px;
}
.page-content-body .drag-item .container2 .main .table-body li .left-box .info .color {
  font-size: 14px;
}
.page-content-body .drag-item .container2 .main .table-body li .left-box .info .size {
  font-size: 14px;
}
.page-content-body .drag-item .container2 .main .table-body li .right-box .order-price {
  margin-top: 30px;
  color: #070707;
  font-size: 20px;
}
.page-content-body .drag-item .container2 .main .table-body li .right-box .order-status {
  margin-top: 20px;
  text-align: right;
  color: #34cf7a;
}
.page-content-body .drag-item .container2 .main .table-body li .right-box .err-status {
  text-align: right;
  color: #ec3d1e;
}
