.page-content-body {
  height: 37.5rem;
  width: 100%;
}
.page-content-body .drag-item {
  width: 75rem;
  height: 37.5rem;
  margin: 0 auto;
}
.page-content-body .drag-item .container {
  width: 100%;
  height: 37.5rem;
  padding: 0 1.25rem;
}
.page-content-body .drag-item .container h4 {
  text-align: center;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 1.875rem auto;
  font-size: 1.875rem;
  font-weight: normal;
}
.page-content-body .drag-item .container .mb-4 h4 {
  text-align: left;
  margin: 1.875rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
}
.page-content-body .drag-item .container .mb-4 p {
  text-align: left;
  margin: 0.75rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #707070;
}
