.pay-success {
  width: 500px;
  background-color: #fff;
  margin: 50px auto;
  padding: 50px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 6px 9px 12px 1px rgba(0, 0, 0, 0.1);
}
.pay-success .icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.pay-success h1 {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  text-align: center;
}
.pay-success .pay-content {
  margin: 50px 0;
  padding: 0 20px;
  background-color: #272525;
  width: 100%;
  height: 200px;
  border-bottom: none;
  background: radial-gradient(circle at 50% 50%, #fff 0, #fff 50%, transparent 0), radial-gradient(circle at 50% 50%, #fff 0, #fff 50%, transparent 0);
  background-repeat: repeat-x;
  background-color: #e9e9e9;
  background-size: 24px 12px;
  background-position: 7px calc(100% - -5px), calc(100% + 17px) -5px;
}
.pay-success .pay-content .line {
  height: 30px;
  width: 100%;
  border-bottom: 3px dashed #fff;
}
.pay-success .pay-content .list {
  margin: 20px 0;
  padding: 20px 0;
}
.pay-success .pay-content .list .order-num {
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}
.pay-success .pay-content .list .order-price {
  text-align: right;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}
.pay-success .pay-content .list .order-time {
  text-align: right;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}
.pay-error {
  width: 500px;
  background-color: #fff;
  margin: 50px auto;
  padding: 50px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 6px 9px 12px 1px rgba(0, 0, 0, 0.1);
}
.pay-error .icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.pay-error h1 {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  text-align: center;
}
.pay-error .pay-content {
  margin: 50px 0;
  padding: 0 20px;
  background-color: #272525;
  width: 100%;
  height: 200px;
  border-bottom: none;
  background: radial-gradient(circle at 50% 50%, #fff 0, #fff 50%, transparent 0), radial-gradient(circle at 50% 50%, #fff 0, #fff 50%, transparent 0);
  background-repeat: repeat-x;
  background-color: #e9e9e9;
  background-size: 24px 12px;
  background-position: 7px calc(100% - -5px), calc(100% + 17px) -5px;
}
.pay-error .pay-content .line {
  height: 30px;
  width: 100%;
  border-bottom: 3px dashed #fff;
}
.pay-error .pay-content .list {
  margin: 20px 0;
  padding: 20px 0;
}
.pay-error .pay-content .list .order-num {
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}
.pay-error .pay-content .list .order-price {
  text-align: right;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}
.pay-error .pay-content .list .order-time {
  text-align: right;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}
