* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: auto;
}
.page-content-body {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.page-content-body .drag-item .product-info {
  width: 77.5rem;
  padding: 0.625rem 1.25rem;
  margin: 0 auto;
}
.page-content-body .drag-item .product-info .top-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 800px;
  padding: 1.25rem 0 0;
  margin: 0 0 3rem;
  background-color: #fff;
}
.page-content-body .drag-item .product-info .top-box .swiper-box {
  flex: 1;
  height: 100%;
  padding-right: 0.9375rem;
}
.page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .left-swiper {
  width: 4.375rem;
  height: 100%;
}
.page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .left-swiper .side {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .left-swiper .side::-webkit-scrollbar {
  display: none;
}
.page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .left-swiper .side .swiper-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
.page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .left-swiper .side .swiper-list .swiper-item {
  height: 5.5rem;
  width: 100%;
  margin: 0 0 0.625rem;
  padding: 0.3125rem;
  background-color: #fff;
}
.page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .left-swiper .side .swiper-list .swiper-item img {
  max-width: 100%;
  max-height: 100%;
}
.page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .left-swiper .side .swiper-list .active {
  width: 4.375rem;
  height: 5.5rem;
  border: 0.0625rem solid black;
}
.page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper {
  width: 28.125rem;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
}
.page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper img {
  max-width: 100%;
  max-height: 100%;
}
.page-content-body .drag-item .product-info .top-box .info-box {
  flex: 1;
  height: 100%;
  padding-left: 1.875rem;
  border: 0;
}
.page-content-body .drag-item .product-info .top-box .info-box::-webkit-scrollbar {
  display: none;
}
.page-content-body .drag-item .product-info .top-box .info-box div {
  width: 100%;
}
.page-content-body .drag-item .product-info .top-box .info-box div .title {
  padding: 0 5rem 0 0;
  font-size: 1.875rem;
  font-weight: normal;
}
.page-content-body .drag-item .product-info .top-box .info-box div .subtitle {
  padding: 0 5rem 0 0;
  margin: 0.3125rem 0 0;
  font-size: 0.875rem;
  color: #818080;
}
.page-content-body .drag-item .product-info .top-box .info-box div .price-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 2rem;
  line-height: 2rem;
  margin: 1.875rem 0 0;
}
.page-content-body .drag-item .product-info .top-box .info-box div .price-box .price {
  width: 5.5rem;
  font-size: 1.5rem;
  height: 2rem;
  line-height: 2rem;
  color: #f10215;
}
.page-content-body .drag-item .product-info .top-box .info-box div .price-box .compare-at-price {
  width: 3.75rem;
  height: 1.6875rem;
  line-height: 1.6875rem;
  margin: 0.125rem 0 0 0.625rem;
  font-size: 1.125rem;
  color: #666666;
  text-decoration: line-through;
}
.page-content-body .drag-item .product-info .top-box .info-box div .price-box .discount-tag {
  width: 5rem;
  padding: 0.125rem 0.375rem;
  height: 1.6875rem;
  line-height: 1.6875rem;
  margin: 0 0 0 1.25rem;
  background-color: #fa986d;
  font-size: 0.875rem;
  color: #fff;
}
.page-content-body .drag-item .product-info .top-box .info-box div .coupon-box {
  width: 31.25rem;
  height: 5.5rem;
  padding: 0.25rem;
  margin: 1.875rem 0 0;
  background-color: #ffefdf;
  border-radius: 0.75rem;
  overflow: hidden;
}
.page-content-body .drag-item .product-info .top-box .info-box div .coupon-box .item-coupon {
  width: 100%;
  height: 100%;
  background: linear-gradient(#ff4f17, #ff9e45);
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-content-body .drag-item .product-info .top-box .info-box div .coupon-box .item-coupon .left-info {
  flex: 2;
  height: 5rem;
  padding: 1.25rem 1.25rem 0.625rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #fff;
  text-align: left;
  border-right: 0.125rem dashed #fee7cd;
}
.page-content-body .drag-item .product-info .top-box .info-box div .coupon-box .item-coupon .left-info .off {
  height: 1.625rem;
  font-size: 1.375rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .coupon-box .item-coupon .left-info .condition {
  font-size: 0.75rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .coupon-box .item-coupon .right-info {
  flex: 1;
  height: 100%;
  padding: 0.4375rem 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-content-body .drag-item .product-info .top-box .info-box div .coupon-box .item-coupon .right-info .code-btn {
  width: 5.25rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 1rem;
  background: linear-gradient(270deg, #fee7cd, #fff4e7);
  box-shadow: 0 0.1875rem 0.25rem 0.0625rem rgba(183, 41, 32, 0.3);
  border: 0.0625rem solid #fff;
}
.page-content-body .drag-item .product-info .top-box .info-box div .coupon-box .item-coupon .right-info .code-btn span {
  color: #f10215;
  font-size: 0.75rem;
  font-weight: 700;
  cursor: pointer;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification {
  position: relative;
  margin: 1.25rem 0 0;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options {
  height: 8.5rem;
  width: 100%;
  padding: 0 10px;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .name {
  display: block;
  height: 1.5rem;
  margin: 0 0 0.4375rem;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0 10px;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .name span {
  font-weight: normal;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .item-box {
  width: 100%;
  height: 3.125rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .item-box .product-options-item {
  width: auto;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 0.625rem;
  margin: 0.3125rem;
  border: 0.0625rem solid #9c9b9b;
  font-size: 1.125rem;
  color: #080808;
  text-align: center;
  border-radius: 0.375rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .item-box .product-options-item:hover {
  border: 0.0625rem solid #1b1b1b;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .item-box .color-active {
  background-color: #000;
  color: #fff;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .item-box .size-active {
  background-color: #000;
  color: #fff;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row {
  height: 5.125rem;
  padding: 0 0.625rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .product-quantity {
  height: 100%;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .product-quantity .name {
  display: block;
  height: 1.5rem;
  margin: 0 0 0.75rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .product-quantity .input-box {
  height: 2.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .product-quantity .input-box .input-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
  height: 2.75rem;
  margin: 0 1.25rem 0 0;
  border: 0.0625rem solid #9e9d9d;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .product-quantity .input-box .input-number span {
  display: block;
  width: 2.5rem;
  height: 2.75rem;
  line-height: 2.75rem;
  text-align: center;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .product-quantity .input-box .input-number .input {
  width: 2.75rem;
  height: 2.75rem;
  line-height: 2.75rem;
  text-align: center;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .product-quantity .input-box .add-to-cart {
  height: 100%;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .product-quantity .input-box .add-to-cart .t-minor-button {
  width: 100%;
  height: 100%;
  padding: 0.8125rem 1.875rem;
  text-align: center;
  border: 0.0625rem solid black;
  border-radius: 0.375rem;
  transition: all 0.3s;
  font-size: 1rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .product-quantity .input-box .add-to-cart .t-minor-button:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.02);
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .margin-top-btn {
  width: 100%;
  height: 3rem;
  margin: 1.25rem 0 0;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .margin-top-btn .col-md-12 {
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  text-align: center;
  background-color: #000;
  border-radius: 0.375rem;
  transition: all 0.3s;
  color: #fff;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .margin-top-btn .col-md-12:hover {
  transform: scale(1.02);
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .col-md-12 {
  width: 100%;
  height: 8.4375rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .col-md-12 .paypal-button-container {
  margin-top: 0.625rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.375rem;
  line-height: 2.5rem;
  font-size: 1rem;
  text-align: center;
  background-color: #ffc439;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .col-md-12 .paypal-button-container span {
  font-size: 1rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .col-md-12 .paypal-button-container1 {
  margin-top: 0.625rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.375rem;
  line-height: 2.5rem;
  font-size: 1rem;
  text-align: center;
  background-color: #080808;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .col-md-12 .paypal-button-container1 span {
  font-size: 1rem;
  color: #fff;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .col-md-12 .paypal-powered-by {
  margin-top: 0.625rem;
  width: 100%;
  height: 1.875rem;
  line-height: 1.875rem;
  font-size: 1rem;
  text-align: center;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .col-md-12 .paypal-powered-by img {
  height: 1.875rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options .row .col-md-12 .paypal-powered-by span {
  font-size: 1rem;
  color: #807f7f;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 {
  height: 5rem;
  width: 100%;
  margin-top: 50px;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .name {
  display: block;
  height: 1.5rem;
  margin: 0 0 0.4375rem;
  font-size: 1rem;
  font-weight: 700;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .name span {
  font-weight: normal;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .item-box {
  width: 100%;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .item-box .product-options-item {
  width: 9.375rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 0.625rem;
  margin: 0.3125rem;
  border: 0.0625rem solid #9c9b9b;
  font-size: 1.125rem;
  color: #080808;
  text-align: center;
  border-radius: 0.375rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .item-box .product-options-item:hover {
  border: 0.0625rem solid #1b1b1b;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .item-box .color-active {
  background-color: #000;
  color: #fff;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .item-box .size-active {
  background-color: #000;
  color: #fff;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row {
  height: 5.125rem;
  padding: 0 0.625rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .product-quantity {
  height: 100%;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .product-quantity .name {
  display: block;
  height: 1.5rem;
  margin: 0 0 0.75rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .product-quantity .input-box {
  height: 2.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .product-quantity .input-box .input-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
  height: 2.75rem;
  margin: 0 1.25rem 0 0;
  border: 0.0625rem solid #9e9d9d;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .product-quantity .input-box .input-number span {
  display: block;
  width: 2.5rem;
  height: 2.75rem;
  line-height: 2.75rem;
  text-align: center;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .product-quantity .input-box .input-number .input {
  width: 2.75rem;
  height: 2.75rem;
  line-height: 2.75rem;
  text-align: center;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .product-quantity .input-box .add-to-cart {
  height: 100%;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .product-quantity .input-box .add-to-cart .t-minor-button {
  width: 100%;
  height: 100%;
  padding: 0.8125rem 1.875rem;
  text-align: center;
  border: 0.0625rem solid black;
  border-radius: 0.375rem;
  transition: all 0.3s;
  font-size: 1rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .product-quantity .input-box .add-to-cart .t-minor-button:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.02);
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .margin-top-btn {
  width: 100%;
  height: 3rem;
  margin: 1.25rem 0 0;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .margin-top-btn .col-md-12 {
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  text-align: center;
  background-color: #000;
  border-radius: 0.375rem;
  transition: all 0.3s;
  color: #fff;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .margin-top-btn .col-md-12:hover {
  transform: scale(1.02);
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .col-md-12 {
  width: 100%;
  height: 8.4375rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .col-md-12 .paypal-button-container {
  margin-top: 0.625rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.375rem;
  line-height: 2.5rem;
  font-size: 1rem;
  text-align: center;
  background-color: #ffc439;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .col-md-12 .paypal-button-container span {
  font-size: 1rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .col-md-12 .paypal-button-container1 {
  margin-top: 0.625rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.375rem;
  line-height: 2.5rem;
  font-size: 1rem;
  text-align: center;
  background-color: #080808;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .col-md-12 .paypal-button-container1 span {
  font-size: 1rem;
  color: #fff;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .col-md-12 .paypal-powered-by {
  margin-top: 0.625rem;
  width: 100%;
  height: 1.875rem;
  line-height: 1.875rem;
  font-size: 1rem;
  text-align: center;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .col-md-12 .paypal-powered-by img {
  height: 1.875rem;
}
.page-content-body .drag-item .product-info .top-box .info-box div .product-specification .product-options1 .row .col-md-12 .paypal-powered-by span {
  font-size: 1rem;
  color: #807f7f;
}
.page-content-body .drag-item .product-info .tab-box {
  width: 75rem;
  margin: 6.25rem auto;
}
.page-content-body .drag-item .product-info .tab-box .tab-nav {
  height: 3.125rem;
  width: 100%;
  border-bottom: 0.0625rem solid #cecccc;
}
.page-content-body .drag-item .product-info .tab-box .tab-nav .tab-list {
  height: 3.125rem;
  display: flex;
  justify-content: center;
  line-height: 3.125rem;
}
.page-content-body .drag-item .product-info .tab-box .tab-nav .tab-list .tab-item {
  margin: 0 2rem;
  font-size: 1.125rem;
  height: 100%;
  color: #807f7f;
}
.page-content-body .drag-item .product-info .tab-box .tab-nav .tab-list .tab-item:hover {
  color: #000;
}
.page-content-body .drag-item .product-info .tab-box .tab-nav .tab-list .nav-active {
  height: 100%;
  color: #000;
  border-bottom: 0.125rem solid #000;
}
.page-content-body .drag-item .product-info .tab-box .tab-content {
  padding: 2.5rem 0;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content1 {
  margin: 0 auto;
  display: block;
  height: 18.75rem;
  overflow: scroll;
  border: 0;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content1::-webkit-scrollbar {
  display: none;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content1 h4 {
  margin: 1.875rem 0;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: normal;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content1 p {
  margin: 0.75rem 0;
  line-height: 1.5rem;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content2 {
  margin: 0 auto;
  display: none;
  width: 100%;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content2 .review-box {
  width: 100%;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content2 .review-box .list-box {
  width: 100%;
  height: 100%;
  padding: 0 1.25rem;
  border: 0.0625rem solid #cecccc;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content2 .review-box .list-box .write-review {
  width: 100%;
  height: 100%;
  padding: 1.5625rem 0 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content2 .review-box .list-box .write-review div {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content2 .review-box .list-box .write-review .button {
  width: 10rem;
  height: 2.875rem;
  border: 0.0625rem solid black;
  margin: 1.875rem 0 0;
  border-radius: 0.375rem;
  color: #000;
  transition: all 0.3s;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content2 .review-box .list-box .write-review .button span {
  width: 100%;
  height: 2.75rem;
  text-align: center;
  line-height: 2.75rem;
  display: block;
  font-size: 1rem;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content2 .review-box .list-box .write-review .button:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.02);
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content3 {
  display: none;
  width: 100%;
  height: 18.75rem;
  overflow: scroll;
  border: 0;
  margin: 0 auto;
  text-align: center;
  padding: 2.5rem 0;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content3::-webkit-scrollbar {
  display: none;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content3 p {
  height: 1.5rem;
  margin: 0.75rem 0;
  font-size: 1rem;
  color: #777676;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content4 {
  display: none;
  width: 100%;
  height: 18rem;
  overflow: scroll;
  border: 0;
  margin: 0 auto;
  text-align: center;
  padding: 2.5rem 0;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content4::-webkit-scrollbar {
  display: none;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content4 p {
  height: 1.5rem;
  margin: 0.75rem 0;
  font-size: 1rem;
  color: #777676;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content5 {
  margin: 0 auto;
  display: none;
  width: 100%;
  padding: 2.5rem 0;
  height: 18.75rem;
  overflow: scroll;
  border: 0;
  text-align: center;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content5::-webkit-scrollbar {
  display: none;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content5 h4 {
  font-size: 1.5rem;
  font-weight: normal;
  height: 0.125rem;
  margin: 1.875rem 0;
}
.page-content-body .drag-item .product-info .tab-box .tab-content .tab-item-content5 p {
  line-height: 1.5rem;
  margin: 0.75rem 0;
  font-size: 1rem;
  color: #666666;
}
.page-content-body .drag-item .product-info .tab-box .like-box {
  width: 75rem;
  padding: 0 0 0.5rem;
  margin: 2.25rem 0 1rem;
}
.page-content-body .drag-item .product-info .tab-box .like-box .title {
  height: 3.9375rem;
  margin: 0 0 3.75rem;
  font-size: 2.625rem;
}
.page-content-body .drag-item .product-info .tab-box .like-box .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.page-content-body .drag-item .product-info .tab-box .like-box .row > div {
  width: 25%;
  height: 570px;
  margin: 0 0 1.5rem;
}
.page-content-body .drag-item .product-info .tab-box .like-box .row .col {
  width: 100%;
  padding: 0 0.625rem;
}
.page-content-body .drag-item .product-info .tab-box .like-box .row .col a {
  display: block;
  width: 100%;
}
.page-content-body .drag-item .product-info .tab-box .like-box .row .col a .common-img-box {
  padding: 0 0 1.25rem;
  height: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.page-content-body .drag-item .product-info .tab-box .like-box .row .col a .common-img-box .product-discount {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px !important;
  height: 50px !important;
  background-color: brown;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
}
.page-content-body .drag-item .product-info .tab-box .like-box .row .col a .common-img-box .product-discount .triangle {
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 0;
  height: 0 !important;
  border-top: 25px solid brown;
  border-right: 25px solid transparent;
}
.page-content-body .drag-item .product-info .tab-box .like-box .row .col a .common-img-box .product-discount .triangle1 {
  position: absolute;
  bottom: -24px;
  right: 0;
  width: 0;
  height: 0 !important;
  border-top: 25px solid brown;
  border-left: 25px solid transparent;
}
.page-content-body .drag-item .product-info .tab-box .like-box .row .col a .common-img-box img {
  max-width: 100%;
  max-height: 100%;
}
.page-content-body .drag-item .product-info .tab-box .like-box .row .col a .info-box {
  padding: 0 0.625rem;
  text-align: center;
}
.page-content-body .drag-item .product-info .tab-box .like-box .row .col a .info-box .pro-title {
  font-size: 1rem;
  width: 100%;
  height: 80px;
  text-align: left;
  margin: 0.625rem 0.3125rem;
  color: #000;
  padding: 0.625rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.page-content-body .drag-item .product-info .tab-box .like-box .row .col a .info-box .star {
  height: 2.6875rem;
}
.page-content-body .drag-item .product-info .tab-box .like-box .row .col a .info-box .price {
  padding: 0 0.625rem;
  height: 1.5625rem;
  font-size: 1.25rem;
  color: #f10215;
}
.page-content-body .drag-item .product-info .tab-box .like-box .row .col a .info-box .price span {
  font-size: 0.875rem;
  margin-left: 0.3125rem;
  color: #666666;
  text-decoration: line-through;
}
.page-content-body .drag-item .product-info .tab-box .Poplin {
  width: 100%;
  height: 31.25rem;
}
.page-content-body .drag-item .product-info .tab-box .Poplin .row-contain {
  width: 100%;
  height: 100%;
  padding: 2.5rem 1.25rem;
  display: flex;
  align-content: center;
}
.page-content-body .drag-item .product-info .tab-box .Poplin .row-contain .col {
  flex: 1;
  height: 100%;
}
.page-content-body .drag-item .product-info .tab-box .Poplin .row-contain .col a {
  display: block;
  width: 100%;
  height: 100%;
}
.page-content-body .drag-item .product-info .tab-box .Poplin .row-contain .col a .common-img-box {
  width: 100%;
  height: 100%;
}
.page-content-body .drag-item .product-info .tab-box .Poplin .row-contain .col a .common-img-box img {
  width: 100%;
  height: 100%;
}
.page-content-body .drag-item .product-info .tab-box .Poplin .row-contain .col .info-box {
  width: 100%;
  height: 18.75rem;
  padding: 0 0.625rem 0 3.75rem;
  margin: 3.125rem 0 0;
}
.page-content-body .drag-item .product-info .tab-box .Poplin .row-contain .col .info-box h3 {
  line-height: 4.5rem;
  margin: 0 0 1.5rem;
  font-size: 3.75rem;
  font-weight: normal;
}
.page-content-body .drag-item .product-info .tab-box .Poplin .row-contain .col .info-box .text {
  line-height: 1.75rem;
  margin: 0.75rem 0 2rem;
}
.page-content-body .drag-item .product-info .tab-box .Poplin .row-contain .col .info-box .text p {
  font-size: 1rem;
}
.page-content-body .drag-item .product-info .tab-box .Poplin .row-contain .col .info-box a {
  display: block;
  width: 5rem;
  padding: 0.25rem 0;
  height: 1.875rem;
  font-size: 1rem;
  font-weight: 550;
  border-bottom: 0.125rem solid #000;
}
.shopping-cart-mask {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.shopping-cart-mask .shopping-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  width: 28.125rem;
  height: 100%;
  background-color: #fff;
  border: 0.0625rem solid #999999;
}
.shopping-cart-mask .shopping-cart .header {
  position: relative;
  width: 100%;
  height: 4.75rem;
  padding: 1.5rem 1.5rem 1rem;
  font-size: 1.5rem;
}
.shopping-cart-mask .shopping-cart .header i {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.shopping-cart-mask .shopping-cart .body {
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
  overflow: scroll;
}
.shopping-cart-mask .shopping-cart .body::-webkit-scrollbar {
  display: none;
}
.shopping-cart-mask .shopping-cart .body .main-box {
  width: 100%;
  height: 8.5rem;
  padding: 0.625rem 0;
}
.shopping-cart-mask .shopping-cart .body .main-box .table-body {
  width: 100%;
  height: 100%;
}
.shopping-cart-mask .shopping-cart .body .main-box .table-body .table-item {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0.625rem 0;
}
.shopping-cart-mask .shopping-cart .body .main-box .table-body .table-item .img-box {
  padding: 0 0.625rem;
  width: 5.625rem;
  height: 6.5625rem;
  border: 0.0625rem solid #cecccc;
  margin: 0 0.625rem 0 0;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
.shopping-cart-mask .shopping-cart .body .main-box .table-body .table-item .img-box img {
  max-width: 100%;
  max-height: 100%;
}
.shopping-cart-mask .shopping-cart .body .main-box .table-body .table-item .table-info {
  width: 21.875rem;
  height: 100%;
  padding: 0 0 0 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shopping-cart-mask .shopping-cart .body .main-box .table-body .table-item .table-info .title {
  height: 1.25rem;
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.shopping-cart-mask .shopping-cart .body .main-box .table-body .table-item .table-info .p {
  height: 1.125rem;
  font-size: 0.875rem;
  margin: 0 0 0.25rem;
}
.shopping-cart-mask .shopping-cart .body .main-box .table-body .table-item .table-info .price {
  margin-top: 0.3125rem;
  height: 1rem;
  font-size: 1rem;
}
.shopping-cart-mask .shopping-cart .body .main-box .table-body .table-item .table-info .count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.3125rem 0 0;
  height: 2rem;
}
.shopping-cart-mask .shopping-cart .body .main-box .table-body .table-item .table-info .count .input-box {
  width: 6.25rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopping-cart-mask .shopping-cart .body .main-box .table-body .table-item .table-info .count .input-box .input-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
  height: 2.25rem;
  border-radius: 0.3125rem;
  background-color: #f1f1f1;
}
.shopping-cart-mask .shopping-cart .body .main-box .table-body .table-item .table-info .count .input-box .input-number span {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
}
.shopping-cart-mask .shopping-cart .body .main-box .table-body .table-item .table-info .count .input-box .input-number .input {
  padding: 0 0.625rem;
  height: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  font-size: 1rem;
}
.shopping-cart-mask .shopping-cart .body .main-box .table-body .table-item .table-info .count .remove-btn {
  width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
  border-radius: 0.9375rem;
  text-align: center;
  background-color: #f1f1f1;
}
.shopping-cart-mask .shopping-cart .footer {
  width: 100%;
  height: 6.25rem;
  padding: 0 1.5rem 1rem;
}
.shopping-cart-mask .shopping-cart .footer .item-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.6875rem;
  font-size: 1.125rem;
  font-weight: 600;
}
.shopping-cart-mask .shopping-cart .footer .button-box {
  width: 100%;
}
.shopping-cart-mask .shopping-cart .footer .button-box .col-md-12 {
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  text-align: center;
  background-color: #000;
  border-radius: 0.375rem;
  color: #fff;
}
.shopping-cart-mask .shopping-cart .footer .button-box .col-md-12 {
  width: 100%;
}
.shopping-cart-mask .shopping-cart .footer .button-box .col-md-12 .paypal-button-container {
  margin-top: 0.625rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.375rem;
  line-height: 2.5rem;
  font-size: 1rem;
  text-align: center;
  background-color: #ffc439;
}
.shopping-cart-mask .shopping-cart .footer .button-box .col-md-12 .paypal-button-container span {
  font-size: 1rem;
}
.shopping-cart-mask .shopping-cart .footer .button-box .col-md-12 .paypal-button-container1 {
  margin-top: 0.625rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.375rem;
  line-height: 2.5rem;
  font-size: 0.0625rem;
  text-align: center;
  background-color: #080808;
}
.shopping-cart-mask .shopping-cart .footer .button-box .col-md-12 .paypal-button-container1 span {
  font-size: 16px;
  color: #fff;
}
.shopping-cart-mask .shopping-cart .footer .button-box .col-md-12 .paypal-powered-by {
  margin-top: 0.625rem;
  width: 100%;
  height: 1.875rem;
  line-height: 1.875rem;
  font-size: 1rem;
  text-align: center;
}
.shopping-cart-mask .shopping-cart .footer .button-box .col-md-12 .paypal-powered-by img {
  height: 1.875rem;
}
.shopping-cart-mask .shopping-cart .footer .button-box .col-md-12 .paypal-powered-by span {
  font-size: 1rem;
  color: #807f7f;
}
