* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: auto;
}
.page-content-body {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  .drag-item {
    .product-info {
      width: 77.5rem;
      // height: 1800px;
      padding: 0 1.25rem;
      margin: 0 auto;
      .top-box {
        display: flex;
        align-items: center;
        width: 100%;
        height: 44.25rem;
        padding: 1.25rem 0 0;
        margin: 0 0 3rem;
        background-color: #fff;
        .swiper-box {
          flex: 1;
          height: 100%;
          padding-right: .9375rem;
          .sticky-box {
            width: 100%;
            height: 100%;
            justify-content: space-between;
            display: flex;
            align-items: center;
            .left-swiper {
              width: 4.375rem;
              height: 100%;
              .side {
                width: 100%;
                height: 100%;
                .swiper-list {
                  display: flex;
                  flex-direction: column;
                  align-content: center;
                  justify-content: space-between;
                  .swiper-item {
                    height: 5.5rem;
                    width: 100%;
                    margin: 0 0 .625rem;
                    padding: .3125rem;
                    background-color: #fff;
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .active {
                    width: 4.375rem;
                    height: 5.5rem;
                    border: .0625rem solid black;
                  }
                }
              }
            }
            .right-swiper {
              width: 30.9375rem;
              height: 100%;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        .info-box {
          flex: 1;
          height: 100%;
          padding-left: .9375rem;
          div {
            width: 100%;
            height: 8.0625rem;
            .title {
              height: 2.625rem;
              padding: 0 5rem 0 0;
              font-size: 1.875rem;
              font-weight: normal;
            }
            .subtitle {
              height: 1.25rem;
              padding: 0 5rem 0 0;
              margin: .3125rem 0 0;
              font-size: .875rem;
              color: #666666;
            }
            .price-box {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              height: 2rem;
              line-height: 2rem;
              margin: 1.875rem 0 0;
              .price {
                width: 5.5rem;
                font-size: 1.5rem;
                height: 2rem;
                line-height: 2rem;
                color: #f10215;
              }
              .compare-at-price {
                width: 3.75rem;
                height: 1.6875rem;
                line-height: 1.6875rem;
                margin: .125rem 0 0 .625rem;
                font-size: 1.125rem;
                color: #666666;
                text-decoration: line-through;
              }
              .discount-tag {
                width: 5rem;
                padding: .125rem .375rem;
                height: 1.6875rem;
                line-height: 1.6875rem;
                margin: 0 0 0 1.25rem;
                background-color: #fa986d;
                font-size: .875rem;
                color: #fff;
              }
            }
            .coupon-box {
              width: 31.25rem;
              height: 5.5rem;
              padding: .25rem;
              margin: 1.875rem 0 0;
              background-color: #ffefdf;
              border-radius: .75rem;
              overflow: hidden;
              .item-coupon {
                width: 100%;
                height: 100%;
                background: linear-gradient(#ff4f17, #ff9e45);
                border-radius: .625rem;
                display: flex;
                justify-content: center;
                align-items: center;
                .left-info {
                  flex: 2;
                  height: 5rem;
                  padding: 1.25rem 1.25rem .625rem 2rem;
                  display: flex;
                  flex-direction: column;
                  align-items: left;
                  color: #fff;
                  text-align: left;
                  border-right: .125rem dashed #fee7cd;
                  .off {
                    height: 1.625rem;
                    font-size: 1.375rem;
                  }
                  .condition {
                    font-size: .75rem;
                  }
                }
                .right-info {
                  flex: 1;
                  height: 100%;
                  padding: .4375rem .625rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .code-btn {
                    width: 5.25rem;
                    height: 2rem;
                    line-height: 2rem;
                    border-radius: 1rem;
                    background: linear-gradient(270deg, #fee7cd, #fff4e7);
                    box-shadow: 0 .1875rem .25rem .0625rem rgba(183, 41, 32, 0.3);
                    border: .0625rem solid #fff;
                    span {
                      color: #f10215;
                      font-size: .75rem;
                      font-weight: 700;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
            .product-specification {
              position: relative;
              margin: 1.25rem 0 0;
              .product-options {
                height: 5rem;
                width: 100%;
                margin: 0 0 1.25rem;
                .name {
                  display: block;
                  height: 1.5rem;
                  margin: 0 0 .4375rem;
                  font-size: 1rem;
                  font-weight: 700;
                  span {
                    font-weight: normal;
                  }
                }
                .item-box {
                  width: 100%;
                  height: 3.125rem;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  .product-options-item {
                    width: 9.375rem;
                    height: 2.5rem;
                    line-height: 2.5rem;
                    padding: 0 .625rem;
                    margin: .3125rem;
                    border: .0625rem solid rgb(156, 155, 155);
                    font-size: 1.125rem;
                    color: #080808;
                    text-align: center;
                    border-radius: .375rem;
                    &:hover {
                      border: .0625rem solid rgb(27, 27, 27);
                    }
                  }
                  .color-active {
                    background-color: #000;
                    color: #fff;
                  }
                  .size-active {
                    background-color: #000;
                    color: #fff;
                  }
                }
                .row {
                  height: 5.125rem;
                  padding: 0 .625rem;
                  .product-quantity {
                    height: 100%;
                    .name {
                      display: block;
                      height: 1.5rem;
                      margin: 0 0 .75rem;
                    }
                    .input-box {
                      height: 2.875rem;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      .input-number {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 8rem;
                        height: 2.75rem;
                        margin: 0 1.25rem 0 0;
                        border: .0625rem solid rgb(158, 157, 157);
                        span {
                          display: block;
                          width: 2.5rem;
                          height: 2.75rem;
                          line-height: 2.75rem;
                          text-align: center;
                        }
                        .input {
                          width: 2.75rem;
                          height: 2.75rem;
                          line-height: 2.75rem;
                          text-align: center;
                        }
                      }
                      .add-to-cart {
                        height: 100%;
                        .t-minor-button {
                          width: 100%;
                          height: 100%;
                          padding: .8125rem 1.875rem;
                          text-align: center;
                          border: .0625rem solid black;
                          border-radius: .375rem;
                          transition: all 0.3s;
                          font-size: 1rem;
                          &:hover {
                            background-color: #000;
                            color: #fff;
                            transform: scale(1.02);
                          }
                        }
                      }
                    }
                  }
                  .margin-top-btn {
                    width: 100%;
                    height: 3rem;
                    margin: 1.25rem 0 0;

                    .col-md-12 {
                      height: 3rem;
                      line-height: 3rem;
                      font-size: 1rem;
                      text-align: center;
                      background-color: #000;
                      border-radius: .375rem;
                      transition: all 0.3s;
                      color: #fff;
                      &:hover {
                        transform: scale(1.02);
                      }
                    }
                  }
                  .col-md-12 {
                    width: 100%;
                    height: 8.4375rem;
                    .paypal-button-container {
                      margin-top: .625rem;
                      width: 100%;
                      height: 2.5rem;
                      border-radius: .375rem;
                      line-height: 2.5rem;
                      font-size: 1rem;
                      text-align: center;
                      background-color: #ffc439;
                      span {
                        font-size: 1rem;
                      }
                    }
                    .paypal-button-container1 {
                      margin-top: .625rem;
                      width: 100%;
                      height: 2.5rem;
                      border-radius: .375rem;
                      line-height: 2.5rem;
                      font-size: 1rem;
                      text-align: center;
                      background-color: #080808;
                      span {
                        font-size: 1rem;
                        color: #fff;
                      }
                    }
                    .paypal-powered-by {
                      margin-top: .625rem;
                      width: 100%;
                      height: 1.875rem;
                      line-height: 1.875rem;
                      font-size: 1rem;
                      text-align: center;
                      img {
                        height: 1.875rem;
                      }
                      span {
                        font-size: 1rem;
                        color: #807f7f;
                      }
                    }
                  }
                }
              }
              .product-options1 {
                position: absolute;
                top: 16.875rem;
                height: 5rem;
                width: 100%;
                margin:  0 0;
                .name {
                  display: block;
                  height: 1.5rem;
                  margin: 0 0 .4375rem;
                  font-size: 1rem;
                  font-weight: 700;
                  span {
                    font-weight: normal;
                  }
                }
                .item-box {
                  width: 100%;
                  height: 3.125rem;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  .product-options-item {
                    width: 9.375rem;
                    height: 2.5rem;
                    line-height: 2.5rem;
                    padding: 0 .625rem;
                    margin: .3125rem;
                    border: .0625rem solid rgb(156, 155, 155);
                    font-size: 1.125rem;
                    color: #080808;
                    text-align: center;
                    border-radius: .375rem;
                    &:hover {
                      border: .0625rem solid rgb(27, 27, 27);
                    }
                  }
                  .color-active {
                    background-color: #000;
                    color: #fff;
                  }
                  .size-active {
                    background-color: #000;
                    color: #fff;
                  }
                }
                .row {
                  height: 5.125rem;
                  padding: 0 .625rem;
                  .product-quantity {
                    height: 100%;
                    .name {
                      display: block;
                      height: 1.5rem;
                      margin: 0 0 .75rem;
                    }
                    .input-box {
                      height: 2.875rem;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      .input-number {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 8rem;
                        height: 2.75rem;
                        margin: 0 1.25rem 0 0;
                        border: .0625rem solid rgb(158, 157, 157);
                        span {
                          display: block;
                          width: 2.5rem;
                          height: 2.75rem;
                          line-height: 2.75rem;
                          text-align: center;
                        }
                        .input {
                          width: 2.75rem;
                          height: 2.75rem;
                          line-height: 2.75rem;
                          text-align: center;
                        }
                      }
                      .add-to-cart {
                        height: 100%;
                        .t-minor-button {
                          width: 100%;
                          height: 100%;
                          padding: .8125rem 1.875rem;
                          text-align: center;
                          border: .0625rem solid black;
                          border-radius: .375rem;
                          transition: all 0.3s;
                          font-size: 1rem;
                          &:hover {
                            background-color: #000;
                            color: #fff;
                            transform: scale(1.02);
                          }
                        }
                      }
                    }
                  }
                  .margin-top-btn {
                    width: 100%;
                    height: 3rem;
                    margin: 1.25rem 0 0;

                    .col-md-12 {
                      height: 3rem;
                      line-height: 3rem;
                      font-size: 1rem;
                      text-align: center;
                      background-color: #000;
                      border-radius: .375rem;
                      transition: all 0.3s;
                      color: #fff;
                      &:hover {
                        transform: scale(1.02);
                      }
                    }
                  }
                  .col-md-12 {
                    width: 100%;
                    height: 8.4375rem;
                    .paypal-button-container {
                      margin-top: .625rem;
                      width: 100%;
                      height: 2.5rem;
                      border-radius: .375rem;
                      line-height: 2.5rem;
                      font-size: 1rem;
                      text-align: center;
                      background-color: #ffc439;
                      span {
                        font-size: 1rem;
                      }
                    }
                    .paypal-button-container1 {
                      margin-top: .625rem;
                      width: 100%;
                      height: 2.5rem;
                      border-radius: .375rem;
                      line-height: 2.5rem;
                      font-size: 1rem;
                      text-align: center;
                      background-color: #080808;
                      span {
                        font-size: 1rem;
                        color: #fff;
                      }
                    }
                    .paypal-powered-by {
                      margin-top: .625rem;
                      width: 100%;
                      height: 1.875rem;
                      line-height: 1.875rem;
                      font-size: 1rem;
                      text-align: center;
                      img {
                        height: 1.875rem;
                      }
                      span {
                        font-size: 1rem;
                        color: #807f7f;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      // tab
      .tab-box {
        width: 75rem;
        margin: 6.25rem auto;
        .tab-nav {
          height: 3.125rem;
          width: 100%;
          border-bottom: .0625rem solid #cecccc;
          .tab-list {
            height: 3.125rem;
            display: flex;
            justify-content: center;
            line-height: 3.125rem;
            .tab-item {
              margin: 0 2rem;
              font-size: 1.125rem;
              height: 100%;
              color: #807f7f;

              &:hover {
                color: #000;
              }
            }
            .nav-active {
              height: 100%;
              color: #000;
              border-bottom: .125rem solid #000;
            }
          }
        }

        .tab-content {
          padding: 2.5rem 0;

          // 1
          .tab-item-content1 {
            display: block;
            height: 18rem;
            h4 {
              margin: 1.875rem 0;
              font-size: 1.5rem;
              line-height: 1.75rem;
              font-weight: normal;
            }
            p {
              margin: .75rem 0;
              line-height: 1.5rem;
            }
          }
          // 2
          .tab-item-content2 {
            display: none;
            width: 100%;
            .review-box {
              width: 100%;
              height: 9.8125rem;
              .list-box {
                width: 100%;
                height: 100%;
                padding: 0 1.25rem;
                border: .0625rem solid #cecccc;
                .write-review {
                  width: 100%;
                  height: 100%;
                  padding: 1.5625rem 0 1.875rem;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  div {
                    height: 1.5rem;
                    line-height: 1.5rem;
                    font-size: 1rem;
                  }
                  .button {
                    width: 10rem;
                    height: 2.875rem;
                    border: .0625rem solid black;
                    margin: 1.875rem 0 0;
                    border-radius: .375rem;
                    color: #000;
                    transition: all 0.3s;
                    span {
                      width: 100%;
                      height: 2.75rem;
                      text-align: center;
                      line-height: 2.75rem;
                      display: block;
                      font-size: 1rem;
                    }
                    &:hover {
                      background-color: #000;
                      color: #fff;
                      transform: scale(1.02);
                    }
                  }
                }
              }
            }
          }
          // 3
          .tab-item-content3 {
            display: none;
            width: 100%;
            height: 10.25rem;
            padding: 2.5rem 0;
            p {
              height: 1.5rem;
              margin: .75rem 0;
              font-size: 1rem;
              color: #777676;
            }
          }
          // 4
          .tab-item-content4 {
            display: none;
            width: 100%;
            height: 10.25rem;
            padding: 2.5rem 0;
            p {
              height: 1.5rem;
              margin: .75rem 0;
              font-size: 1rem;
              color: #777676;
            }
          }
          // 5
          .tab-item-content5 {
            display: none;
            width: 100%;
            padding: 2.5rem 0;
            h4 {
              font-size: 1.5rem;
              font-weight: normal;
              height: .125rem;
              margin: 1.875rem 0;
            }
            p {
              line-height: 1.5rem;
              margin: .75rem 0;
              font-size: 1rem;
              color: #666666;
            }
          }
        }
        .like-box {
          width: 75rem;
          padding: 0 0 .5rem;
          margin: 2.25rem 0 1rem;
          .title {
            height: 3.9375rem;
            margin: 0 0 3.75rem;
            font-size: 2.625rem;
          }
          .row {
            height: 34.375rem;
            width: 100%;
            display: flex;
            align-items: center;
            .col {
              flex: 1;
              height: 100%;
              padding: 0 .625rem;
              margin: 0 0 1.5rem;
              a {
                display: block;
                width: 100%;
                height: 34.375rem;
                .common-img-box {
                  height: 26.875rem;
                  width: 100%;
                  background-color: #fa986d;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                .pro-title {
                  margin: 1.25rem 0 0;
                  height: 1.5rem;
                  font-size: 1rem;
                }

                .price {
                  height: 1.5rem;
                  font-size: 1.125rem;
                  span {
                    font-size: .875rem;
                    margin-left: .3125rem;
                    color: #666666;
                    text-decoration: line-through;
                  }
                }
              }
            }
          }
        }
        .Poplin {
          width: 100%;
          height: 31.25rem;
          .row-contain {
            width: 100%;
            height: 100%;
            padding: 2.5rem 1.25rem;
            display: flex;
            align-content: center;
            .col {
              flex: 1;
              height: 100%;
              a {
                display: block;
                width: 100%;
                height: 100%;
                .common-img-box {
                  width: 100%;
                  height: 100%;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
              .info-box {
                width: 100%;
                height: 18.75rem;
                padding: 0 .625rem 0 3.75rem;
                margin: 3.125rem 0 0;
                h3 {
                  line-height: 4.5rem;
                  margin: 0 0 1.5rem;
                  font-size: 3.75rem;
                  font-weight: normal;
                }
                .text {
                  line-height: 1.75rem;
                  margin: .75rem 0 2rem;
                  p {
                    font-size: 1rem;
                  }
                }
                a {
                  display: block;
                  width: 5rem;
                  padding: .25rem 0;
                  height: 1.875rem;
                  font-size: 1rem;
                  font-weight: 550;
                  border-bottom: .125rem solid #000;
                }
              }
            }
          }
        }
      }
    }
  }
}

// mask
.shopping-cart-mask {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    // shopping cart
    .shopping-cart {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        // display: none;
        top: 0;
        right: 0;
        width: 28.125rem;
        height: 100%;
        background-color: #fff;
        border: .0625rem solid #999999;

        .header {
        position: relative;
        width: 100%;
        height: 4.75rem;
        padding: 1.5rem 1.5rem 1rem;
        font-size: 1.5rem;
        i {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
        }
        }
        .body {
        width: 100%;
        height: 100%;
        padding: 0 1.5rem;
        // overflow: scroll;
        .main-box {
            width: 100%;
            height: 8.5rem;
            padding: .625rem 0;
            .table-body {
            width: 100%;
            height: 100%;
            .table-item {
                display: flex;
                width: 100%;
                height: 100%;
                background-color: #fff;
                padding: .625rem 0;
                .img-box {
                padding: 0 .625rem;
                width: 7.1875rem;
                height: 6.5625rem;
                border: .0625rem solid #cecccc;
                margin: 0 .625rem 0 0;
                img {
                    width: 100%;
                    height: 100%;
                }
                }
                .table-info {
                width: 21.875rem;
                height: 100%;
                padding: 0 0 0 .625rem;
                .title {
                    height: 1.25rem;
                    font-size: 1rem;
                }
                .p {
                    height: 1.125rem;
                    font-size: .875rem;
                    margin: 0 0 .25rem;
                }
                .price {
                    height: 1.5rem;
                    font-size: 1rem;
                }
                .count {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: .3125rem 0 0;
                    height: 2.25rem;
                    .input-box {
                    width: 6.25rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .input-number {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 8rem;
                        height: 2.25rem;
                        border-radius: .3125rem;
                        background-color: #f1f1f1;
                        span {
                        display: block;
                        width: 2.25rem;
                        height: 2.25rem;
                        line-height: 2.25rem;
                        text-align: center;
                        }
                        .input {
                        padding: 0 .625rem;
                        height: 2.25rem;
                        line-height: 2.25rem;
                        text-align: center;
                        font-size: 1rem;
                        }
                    }
                    }
                    .remove-btn {
                    width: 2.25rem;
                    height: 2.25rem;
                    line-height: 2.25rem;
                    border-radius: .9375rem;
                    text-align: center;
                    background-color: #f1f1f1;
                    }
                }
                }
            }
            }
        }
        }
        .footer {
        width: 100%;
        height: 6.25rem;
        padding: 0 1.5rem 1rem;
        .item-price{
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 2.6875rem;
          font-size: 1.125rem;
          font-weight: 600;

        }
        .button-box{
          width: 100%;
          
          .col-md-12 {
            height: 2.5rem;
            line-height: 2.5rem;
            font-size: 1rem;
            text-align: center;
            background-color: #000;
            border-radius: .375rem;
            color: #fff;
            
          }
          .col-md-12 {
            width: 100%;
            .paypal-button-container {
              margin-top: .625rem;
              width: 100%;
              height: 2.5rem;
              border-radius: .375rem;
              line-height: 2.5rem;
              font-size: 1rem;
              text-align: center;
              background-color: #ffc439;
              span {
                font-size: 1rem;
              }
            }
            .paypal-button-container1 {
              margin-top: .625rem;
              width: 100%;
              height: 2.5rem;
              border-radius: .375rem;
              line-height: 2.5rem;
              font-size: .0625rem;
              text-align: center;
              background-color: #080808;
              span {
                font-size: 16px;
                color: #fff;
              }
            }
            .paypal-powered-by {
              margin-top: .625rem;
              width: 100%;
              height: 1.875rem;
              line-height: 1.875rem;
              font-size: 1rem;
              text-align: center;
              img {
                height: 1.875rem;
              }
              span {
                font-size: 1rem;
                color: #807f7f;
              }
            }
          }
          
        }
          
        }
        }
    }

