.page-content-body {
  width: 100%;
  height: 600px;
}
.page-content-body .drag-item {
  height: 400px;
  width: 100%;
}
.page-content-body .drag-item .container1 {
  display: block;
  width: 1440px;
  margin: 0 auto;
  height: 600px;
  text-align: center;
}
.page-content-body .drag-item .container1 a {
  display: block;
  width: 200px;
  height: 44px;
  line-height: 44px;
  border-radius: 6px;
  margin: 300px auto;
  background-color: black;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s;
}
.page-content-body .drag-item .container1 a:hover {
  transform: scale(1.02);
}
.page-content-body .drag-item .container2 {
  display: none;
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.page-content-body .drag-item .container2 h2 {
  height: 152px;
  padding: 56px 16px;
  font-size: 36px;
  font-weight: normal;
}
.page-content-body .drag-item .container2 .main {
  width: 100%;
}
.page-content-body .drag-item .container2 .main .table-header {
  width: 100%;
  height: 50px;
}
.page-content-body .drag-item .container2 .main .table-body {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page-content-body .drag-item .container2 .main .table-body li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 212px;
  padding: 32px 0;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #b8b8b8;
}
.page-content-body .drag-item .container2 .main .table-body li .c-product-item {
  height: 100%;
  width: 672px;
  padding: 0 20px 0 0;
  display: flex;
  justify-content: start;
}
.page-content-body .drag-item .container2 .main .table-body li .c-product-item .top {
  height: 100%;
  width: 110px;
}
.page-content-body .drag-item .container2 .main .table-body li .c-product-item .top a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: pink;
}
.page-content-body .drag-item .container2 .main .table-body li .c-product-item .top a .img-box {
  width: 100%;
  height: 100%;
}
.page-content-body .drag-item .container2 .main .table-body li .c-product-item .top a .img-box img {
  width: 100%;
  height: 100%;
}
.page-content-body .drag-item .container2 .main .table-body li .c-product-item .info {
  width: 50%;
  padding: 0 0 0 24px;
}
.page-content-body .drag-item .container2 .main .table-body li .c-product-item .info .title {
  display: block;
  height: 24px;
  font-size: 16px;
  font-weight: 510;
}
.page-content-body .drag-item .container2 .main .table-body li .c-product-item .info .c-color {
  margin: 10px 0 ;
  height: 21px;
  font-size: 14px;
  color: #363636;
}
.page-content-body .drag-item .container2 .main .table-body li .c-product-item .info .c-color span {
  padding: 0 20px;
  color: #242323;
}
.page-content-body .drag-item .container2 .main .table-body li .c-product-item .info .price {
  margin: 10px 0 ;
  font-size: 14px;
}
.page-content-body .drag-item .container2 .main .table-body li .c-total-item {
  width: 168px;
  text-align: right;
  font-size: 18px;
}
