.page-content-body {
  width: 100%;
}
.page-content-body .drag-item {
  width: 100%;
}
.page-content-body .drag-item .search-box {
  width: 100%;
  height: 13.625rem;
  padding: 3.5rem 0.625rem;
  margin: 0 -0.5625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-content-body .drag-item .search-box .search-title {
  height: 2.5rem;
  padding: 0 0.5625rem;
  margin: 0 0 1.5rem;
}
.page-content-body .drag-item .search-box .search-title h1 {
  font-weight: 400;
  font-size: 2rem;
}
.page-content-body .drag-item .search-box .input-box {
  width: 43.75rem;
  height: 2.625rem;
  padding: 0 0.9375rem;
  border: 0.0625rem solid #363636;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-content-body .drag-item .search-box .input-box .input-search {
  width: 40rem;
  height: 2.5rem;
}
.page-content-body .drag-item .search-box .input-box .input-search input {
  width: 100%;
  height: 100%;
  padding: 0 1.25rem;
  border: 0;
}
.page-content-body .drag-item .search-box .input-box .input-search input::placeholder {
  font-size: 1rem;
  color: #999;
}
.page-content-body .drag-item .search-box .input-box button {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border: 0;
}
.page-content-body .container {
  display: block;
  width: 90rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}
.page-content-body .container .row {
  width: 75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2.5rem auto;
  align-items: center;
  justify-content: start;
}
.page-content-body .container .row .col-li {
  height: 31.25rem;
  width: 18.75rem;
  padding: 0 0.625rem;
  margin: 0 0 1.5rem;
}
.page-content-body .container .row .col-li a {
  margin: 0 0 2.5rem;
  display: block;
  width: 15.4375rem;
  height: 15.4375rem;
  transition: all 0.3s;
}
.page-content-body .container .row .col-li a img {
  width: 100%;
  height: 100%;
}
.page-content-body .container .row .col-li a:hover {
  transform: scale(1.02);
}
.page-content-body .container .row .col-li .info-box {
  padding: 0.625rem 0 0;
  height: 6.25rem;
  width: 100%;
}
.page-content-body .container .row .col-li .info-box .pro-title {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
}
.page-content-body .container .row .col-li .info-box .price {
  height: 1.5rem;
  line-height: 1.5rem;
  font-style: 1.125rem;
}
.page-content-body .container .row .col-li .info-box .price span {
  font-size: 0.875rem;
  text-decoration: line-through;
}
.page-content-body .container .row .col {
  height: 31.25rem;
  width: 18.75rem;
  padding: 0 0.5625rem;
  margin: 0 0 1.5rem;
}
.page-content-body .container .row .col a {
  display: block;
  width: 100%;
  height: 22.5rem;
  transition: all 0.3s;
}
.page-content-body .container .row .col a img {
  width: 100%;
  height: 100%;
}
.page-content-body .container .row .col a:hover {
  transform: scale(1.02);
}
.page-content-body .container .row .col .info-box {
  margin: 1.25rem 0 0;
  padding: 0.625rem 0 0;
  height: 6.25rem;
  width: 100%;
}
.page-content-body .container .row .col .info-box .pro-title {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1.125rem;
}
.page-content-body .container .row .col .info-box .price {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
  margin: 0 0 0.625rem;
  color: #f03d3d;
}
.page-content-body .container .row .col .info-box .price span {
  font-size: 0.875rem;
  color: #999;
  text-decoration: line-through;
}
.page-content-body .not-found {
  display: none;
  width: 100%;
  height: 18.25rem;
  padding: 0 0 3rem;
}
.page-content-body .not-found .list-box {
  width: 100%;
  height: 100%;
  padding: 1.75rem 0 0;
  margin: 0.625rem 0 3.75rem;
}
.page-content-body .not-found .list-box .text {
  width: 100%;
  height: 100%;
  padding: 4rem 0;
  text-align: center;
}
.page-content-body .not-found .list-box .text p {
  height: 1.75rem;
  line-height: 1.75rem;
  font-size: 1.25rem;
}
.page-content-body .not-found .list-box .text p a {
  text-decoration: underline;
}
