.page-content-body{
    width: 100%;
    height: 600px;
    .drag-item{
        // 购物车无内容
        .container1{
            display: none;
            width: 1440px;
            margin: 0 auto;
            height: 600px;
            text-align: center;
            h2{
                height: 152px;
                padding: 56px 16px;
                font-size: 36px;
                font-weight: normal;
            }
            .title{
                height: 64px;
                padding: 0 0 40px;
                font-size: 16px;
            }
            a{
                display: block;
                width: 200px;
                height: 44px;
                line-height: 44px;
                border-radius: 6px;
                margin: 0 auto;
                background-color: black;
                color: #fff;
                font-size: 16px;
                transition: all 0.3s;
                &:hover{
                    transform: scale(1.02);
                }
            }
        }

        // 购物车有内容
        .container2{
            display: block;
            width: 1440px;
            margin: 0 auto;
            text-align: center;
            h2{
                height: 152px;
                padding: 56px 16px;
                font-size: 36px;
                font-weight: normal;
            }
            // main
            .main{
                width: 100%;
                .table-header{
                    width: 100%;
                    height: 50px;
                    border-bottom: 1px solid #b8b8b8;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 16px;
                    font-weight: 550;
                    text-align: left;
                    .c-product{
                        width: 672px;
                        padding: 0 20px 0 0;
                    }
                    .c-price{
                        width: 280px;
                        padding: 0 20px;
                    }
                    .c-qty{
                        width: 280px;
                    }
                    .c-total{
                        width: 168px;
                        text-align: right;
                    }
                }
                .table-body{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    li{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        height: 212px;
                        padding: 32px 0;
                        font-size: 16px;
                        text-align: left;
                        border-bottom: 1px solid #b8b8b8;
                        .c-product-item{
                            height: 100%;
                            width: 672px;
                            padding: 0 20px 0 0;
                            display: flex;
                            justify-content: start;
                            .top{
                                height: 100%;
                                width: 110px;
                                
                                a{
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    background-color: pink;
                                    .img-box{
                                        width: 100%;
                                        height: 100%;
                                        img{
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                            .info{
                                width: 50%;
                                padding: 0 0 0 24px;
                                .title{
                                    display: block;
                                    height: 24px;
                                    font-size: 16px;
                                    font-weight: 510;
                                }
                                .c-color{
                                    height: 21px;
                                    font-size: 14px;
                                    color: #999999;
                                }
                                .remove{
                                    margin: 8px 0 0;
                                    width: 36px;
                                    height: 36px;
                                    line-height: 36px;
                                    border-radius: 50%;
                                    background-color: #f5f5f8;
                                    text-align: center;
                                }
                            }
                        }
                        .c-price-item{
                            width: 280px;
                            padding: 0 20px;
                        }
                        .c-qty-item{
                            width: 280px;
                            .c-input-box {
                                width: 180px;
                                height: 40px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                .c-input-number {
                                  display: flex;
                                  align-items: center;
                                  justify-content: space-between;
                                  width: 180px;
                                  height: 40px;
                                  border: 1px solid rgb(158, 157, 157);
                                  span {
                                    display: block;
                                    width: 40px;
                                    height: 40px;
                                    line-height: 44px;
                                    text-align: center;
                                  }
                                  .c-input {
                                    width: 60px;
                                    height: 40px;
                                    line-height: 44px;
                                    text-align: center;
                                  }
                                }
                              }
                        }
                        .c-total-item{
                            width: 168px;
                            text-align: right;
                        }
                    }
                }

                // 支付
                .checkout{
                    height: 400px;
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    .checkout-box{
                        width: 400px;
                        height: 320px;
                        padding: 48px 48px 10px;
                        margin: 0 -48px;
                        .item-price{
                            display: flex;
                            justify-content: space-between;
                            height: 34px;
                            padding: 5px 0;
                            .page-title{
                                font-size: 16px;
                                font-weight: 510;
                            }
                            .price-title-total{
                                font-size: 16px;
                                font-weight: 600;
                            }
                        }
                        .node{
                            line-height: 21px;
                            font-size: 14px;
                            color: #757577;
                            text-align: left;
                        }
                        .check-out{
                            width: 100%;
                            padding: 5px;
                            margin: 20px 0 0;
                            .margin-top-btn {
                                width: 100%;
                                height: 48px;
                                .col-md-12 {
                                  height: 48px;
                                  line-height: 48px;
                                  font-size: 16px;
                                  text-align: center;
                                  background-color: #000;
                                  border-radius: 6px;
                                  transition: all 0.3s;
                                  color: #fff;
                                  &:hover {
                                    transform: scale(1.02);
                                  }
                                }
                              }
                              .col-md-12 {
                                width: 100%;
                                height: 135px;
                                .paypal-button-container {
                                  margin-top: 10px;
                                  width: 100%;
                                  height: 40px;
                                  border-radius: 6px;
                                  line-height: 40px;
                                  font-size: 16px;
                                  text-align: center;
                                  background-color: #ffc439;
                                  span {
                                    font-size: 16px;
                                  }
                                }
                                .paypal-button-container1 {
                                  margin-top: 10px;
                                  width: 100%;
                                  height: 40px;
                                  border-radius: 6px;
                                  line-height: 40px;
                                  font-size: 16px;
                                  text-align: center;
                                  background-color: #080808;
                                  span {
                                    font-size: 16px;
                                    color: #fff;
                                  }
                                }
                                .paypal-powered-by {
                                  margin-top: 10px;
                                  width: 100%;
                                  height: 30px;
                                  line-height: 30px;
                                  font-size: 16px;
                                  text-align: center;
                                  img {
                                    height: 30px;
                                  }
                                  span {
                                    font-size: 16px;
                                    color: #807f7f;
                                  }
                                }
                              }
                        }
                    }
                }
            }
        }
    }
}