#app .content-box .page-content-header,
#app .content-box .top-nav {
  width: 100%;
  margin: 0 auto;
}
#app .content-box .bottom-nav {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.625rem;
}
#app .content-box #app .content-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#app .content-box .page-content-body {
  width: 100% !important;
  margin: 0 auto;
}
#app .content-box .page-content-body .drag-item1 {
  width: 100%;
  height: 18.75rem;
}
#app .content-box .page-content-body .drag-item1 .banner {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item1 .banner .swiper {
  width: 100%;
}
#app .content-box .page-content-body .drag-item1 .banner .swiper .swiper-wrapper {
  width: 100%;
}
#app .content-box .page-content-body .drag-item1 .banner .swiper .swiper-wrapper .swiper-side {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
#app .content-box .page-content-body .drag-item1 .banner .swiper .swiper-wrapper .swiper-side img {
  max-width: 100%;
}
#app .content-box .page-content-body .drag-item2 {
  width: 100%;
}
#app .content-box .page-content-body .drag-item2 .container {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item2 .container .row {
  width: 100%;
  display: flex;
  height: 500px;
  flex-wrap: wrap;
  overflow: hidden;
}
#app .content-box .page-content-body .drag-item2 .container .row div {
  height: 450px;
}
#app .content-box .page-content-body .drag-item2 .container .row div .col {
  width: 100%;
  flex-wrap: wrap;
  width: 90%;
}
#app .content-box .page-content-body .drag-item2 .container .row div .col a {
  width: 100%;
  display: block;
  height: 100%;
}
#app .content-box .page-content-body .drag-item2 .container .row div .col a .common-img-box {
  width: 100%;
  height: 18.75rem;
}
#app .content-box .page-content-body .drag-item2 .container .row div .col a .common-img-box .product-discount {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px !important;
  height: 50px !important;
  background-color: brown;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
}
#app .content-box .page-content-body .drag-item2 .container .row div .col a .common-img-box .product-discount .triangle {
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 0;
  height: 0 !important;
  border-top: 25px solid brown;
  border-right: 25px solid transparent;
}
#app .content-box .page-content-body .drag-item2 .container .row div .col a .common-img-box .product-discount .triangle1 {
  position: absolute;
  bottom: -24px;
  right: 0;
  width: 0;
  height: 0 !important;
  border-top: 25px solid brown;
  border-left: 25px solid transparent;
}
#app .content-box .page-content-body .drag-item2 .container .row div .col a .info-box {
  padding: 0.625rem 0;
}
#app .content-box .page-content-body .drag-item2 .container .row div .col a .info-box .title {
  width: 100%;
  height: 114px;
  margin: 0 0 0.3125rem;
  font-size: 1rem;
  font-weight: 510;
  color: #000;
  padding: 0.625rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
#app .content-box .page-content-body .drag-item2 .container .row div .col a .info-box .star {
  height: 43px;
}
#app .content-box .page-content-body .drag-item5 {
  width: 100%;
}
#app .content-box .page-content-body .drag-item5 .container {
  width: 100%;
}
#app .content-box .page-content-body .drag-item5 .container a {
  display: block;
  width: 100%;
  height: 15.625rem;
}
#app .content-box .page-content-body .drag-item5 .container a .common-img-box {
  width: 100%;
  height: 15.625rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
#app .content-box .page-content-body .drag-item5 .container a .common-img-box img {
  max-width: 100%;
  max-height: 100%;
}
#app .content-box .page-content-body .drag-item5 .container .main-box {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item5 .container .main-box .info {
  width: 100%;
  height: 100%;
  margin: 1.25rem auto;
}
#app .content-box .page-content-body .drag-item5 .container .main-box .info a {
  width: 8.4375rem;
  height: 3.125rem;
}
#app .content-box .page-content-body .drag-item6 {
  width: 100%;
}
#app .content-box .page-content-body .drag-item6 .container {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item6 .container h2 {
  margin: 0 0 1.875rem;
}
#app .content-box .page-content-body .drag-item6 .container .row {
  width: 100%;
  height: 1100px;
  display: flex;
}
#app .content-box .page-content-body .drag-item6 .container .row div {
  height: 450px;
}
#app .content-box .page-content-body .drag-item6 .container .row div .col {
  width: 100%;
  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 3.125rem;
}
#app .content-box .page-content-body .drag-item6 .container .row div .col a {
  width: 100%;
  display: block;
  height: 100%;
}
#app .content-box .page-content-body .drag-item6 .container .row div .col a .common-img-box {
  width: 100%;
  height: 18.75rem;
}
#app .content-box .page-content-body .drag-item6 .container .row div .col a .common-img-box .product-discount {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px !important;
  height: 50px !important;
  background-color: brown;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
}
#app .content-box .page-content-body .drag-item6 .container .row div .col a .common-img-box .product-discount .triangle {
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 0;
  height: 0 !important;
  border-top: 25px solid brown;
  border-right: 25px solid transparent;
}
#app .content-box .page-content-body .drag-item6 .container .row div .col a .common-img-box .product-discount .triangle1 {
  position: absolute;
  bottom: -24px;
  right: 0;
  width: 0;
  height: 0 !important;
  border-top: 25px solid brown;
  border-left: 25px solid transparent;
}
#app .content-box .page-content-body .drag-item6 .container .row div .col a .info-box {
  padding: 0.625rem 0;
}
#app .content-box .page-content-body .drag-item6 .container .row div .col a .info-box .title {
  width: 100%;
  height: 114px;
  margin: 0 0 0.3125rem;
  font-size: 1rem;
  font-weight: 510;
  color: #000;
  padding: 0.625rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
#app .content-box .page-content-body .drag-item6 .container .row div .col a .info-box .star {
  height: 43px;
}
#app .content-box .page-content-body .drag-item8 {
  margin-top: 3.125rem;
  width: 100%;
  height: 450px ;
}
#app .content-box .page-content-body .drag-item8 .container {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item8 .container .row {
  width: 100%;
  height: 18.75rem;
  display: flex;
}
#app .content-box .page-content-body .drag-item8 .container .row .col {
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item8 .container .row .col a {
  display: block;
  width: 100%;
  height: 16.875rem;
}
#app .content-box .page-content-body .drag-item8 .container .row .col a .common-img-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
#app .content-box .page-content-body .drag-item8 .container .row .col a .common-img-box img {
  max-width: 100%;
  max-height: 100%;
}
#app .content-box .page-content-body .drag-item8 .container .row .col .mt-4 {
  height: 50px;
}
#app .content-box .page-content-body .service {
  height: 400px;
}
#app .content-box .page-content-body .two-picture {
  width: 100% !important;
  display: flex;
  align-content: center;
  margin: 50px auto;
}
#app .content-box .page-content-body .two-picture .left-picture {
  flex: 1;
  height: 350px ;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 30px 30px;
}
#app .content-box .page-content-body .two-picture .left-picture img {
  max-width: 100%;
  max-height: 100%;
}
#app .content-box .page-content-body .two-picture .right-picture {
  margin: 30px 30px;
  flex: 1;
  height: 350px ;
  display: flex;
  justify-content: center;
  align-content: center;
}
#app .content-box .page-content-body .two-picture .right-picture img {
  max-width: 100%;
  max-height: 100%;
}
#app .content-box .page-content-body .company {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  margin: 50px auto;
  flex-wrap: wrap;
}
#app .content-box .page-content-body .company .company-profile {
  flex: 1;
  height: 400px;
  padding: 30px 30px;
}
#app .content-box .page-content-body .company .company-profile h1 {
  font-size: 24px;
  line-height: 24px;
}
#app .content-box .page-content-body .company .company-profile p {
  font-size: 17px;
  font-weight: 600;
  color: #666;
  margin: 20px 0 0;
  line-height: 20px;
}
#app .content-box .page-content-body .company .company-img {
  flex: 1;
  height: 350px;
  padding: 0 30px;
}
#app .content-box .page-content-body .company .company-img img {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .pack {
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
#app .content-box .page-content-body .pack .pack-img {
  flex: 1;
  padding: 0 30px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-content: center;
}
#app .content-box .page-content-body .pack .pack-img img {
  max-width: 100%;
  max-height: 100%;
}
#app .content-box .page-content-body .pack .pack-title {
  flex: 1;
  padding: 0 30px;
  font-size: 24px;
}
#app .content-box .page-content-body .pack .pack-title h1 {
  margin-top: 50px;
}
#app .content-box .page-content-body .pack .pack-title p {
  font-size: 30px;
  margin-top: 20px;
}
#app .content-box .page-content-body .pack .pack-title a {
  margin-top: 20px;
  display: block;
  padding: 10px 20px;
  width: 350px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}
#app .content-box .page-content-body .drag-item {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .collection-box {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .collection-box .container {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info h1 {
  padding: 0 1.25rem;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list {
  width: 100%;
  height: auto;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container {
  width: 100%;
  height: auto !important;
  display: flex;
  flex-wrap: wrap;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item {
  height: 570px !important;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a {
  width: 100%;
  display: block;
  height: 31.25rem;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a .img-box {
  width: 100%;
  height: 15.625rem;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a .bottom-text {
  padding: 0.625rem 0;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a .bottom-text .title {
  width: 100%;
  height: 114px;
  margin: 0 0 0.3125rem;
  font-size: 1rem;
  font-weight: 510;
  color: #000;
  padding: 0.625rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a .bottom-text .price {
  height: 1.5rem;
}
#app .content-box .page-content-body .drag-item {
  width: 100%;
  margin: 6.25rem auto !important;
}
#app .content-box .page-content-body .drag-item {
  width: 100%;
  margin: 0 auto !important;
}
#app .content-box .page-content-body .drag-item .banner {
  width: 100%;
  height: 15.625rem;
}
#app .content-box .page-content-body .drag-item .banner img {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .container {
  width: 100% !important;
  height: 100% ;
}
#app .content-box .page-content-body .container .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#app .content-box .page-content-body .container .row div .col {
  width: 100%;
  height: 25rem;
}
#app .content-box .page-content-body .container .row div .col a {
  width: 100%;
  display: block;
}
#app .content-box .page-content-body .container .row div .col a .common-img-box {
  width: 100%;
  height: 15.625rem;
}
#app .content-box .page-content-body .container .row div .col .info-box {
  padding: 0.625rem 0;
  height: 12.5rem;
}
#app .content-box .page-content-body .container .row div .col .info-box .pro-title {
  width: 100%;
  height: 5rem;
  margin: 0 0 0.3125rem;
  font-size: 1rem;
  font-weight: 510;
  color: #000;
  padding: 0.625rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
#app .content-box .page-content-body .container .row div .col .info-box .price {
  height: 1.25rem;
}
#app .content-box .page-content-body .drag-item {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .product-info {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .product-info .product-detail-primary {
  width: 100% !important;
}
#app .content-box .page-content-body .drag-item .product-info .top-box {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .swiper-box {
  flex: 1;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box {
  display: flex;
  justify-content: center;
  align-self: start;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .left-swiper {
  width: 4.375rem;
  margin-right: 0.625rem;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper {
  width: 25rem;
  padding-left: 1.25rem;
}
#app .content-box .page-content-body .drag-item .product-info .tab-box {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .product-info .tab-box .like-box {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .product-info .tab-box .like-box .star {
  height: 43px;
}
#app .content-box .page-content-body .drag-item .product-info .tab-box .Poplin {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .product-info .tab-box .Poplin .col {
  flex: 1;
}
#app .content-box .page-content-body .drag-item .product-info .tab-box .Poplin .col .info-box {
  width: 100%;
  margin: 0;
}
#app .content-box .page-content-body .drag-item {
  width: 100%;
}
#app .content-box .page-content-body .find {
  width: 100%;
  margin: 0 auto;
}
#app .content-box .page-content-body .find .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2.5rem auto;
  align-items: center;
  justify-content: start;
}
#app .content-box .page-content-body .find .row > div {
  height: 31.25rem;
}
#app .content-box .page-content-body .find .row .col {
  width: 100%;
  padding: 0 0.5625rem;
  margin: 0 0 1.5rem;
}
#app .content-box .page-content-body .find .row .col a {
  display: block;
  width: 100%;
}
#app .content-box .page-content-body .find .row .col a .common-img-box {
  width: 100%;
  height: 15.625rem;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
#app .content-box .page-content-body .find .row .col a .common-img-box img {
  max-width: 100%;
  max-height: 100%;
}
#app .content-box .page-content-body .find .row .col .info-box {
  margin: 1.25rem 0 0;
  padding: 0.625rem 0 0;
  height: 6.25rem;
  width: 100%;
}
#app .content-box .page-content-body .find .row .col .info-box .pro-title {
  width: 100%;
  height: 114px;
  margin: 0 0 0.3125rem;
  font-size: 1rem;
  color: #000;
  padding: 0.625rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
#app .content-box .page-content-body .find .row .col .info-box .star {
  height: 43px;
}
#app .content-box .page-content-body .find .row .col .info-box .price {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1.25rem;
  margin: 1.25rem 0;
  color: #f03d3d;
}
#app .content-box .page-content-body .find .row .col .info-box .price span {
  font-size: 0.875rem;
  color: #999;
  text-decoration: line-through;
}
#app .content-box .page-content-body .not-found {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .container1 {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .container2 {
  width: 100%;
  padding: 0 1.25rem;
}
#app .content-box .page-content-body .drag-item .container2 h2 {
  height: 6.25rem;
  padding: 1.875rem 1rem;
}
#app .content-box .page-content-body .drag-item .container2 .main {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .container2 .main .checkout {
  margin: 1.25rem 0;
  height: 200px;
}
#app .content-box .page-content-body .drag-item .container2 .main .checkout .checkout-box {
  width: 22.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1.25rem 0 0 1.25rem;
}
#app .content-box .page-content-body .drag-item .container2 .main .checkout .checkout-box .node {
  padding: 0.625rem;
}
#app .content-box .page-content-body .drag-item {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .order1 {
  display: none;
  width: 100%;
  margin: 0 auto;
  height: 37.5rem;
  text-align: center;
}
#app .content-box .page-content-body .drag-item .order1 h2 {
  height: 9.5rem;
  padding: 3.5rem 1rem;
  font-size: 1.875rem;
  font-weight: normal;
}
#app .content-box .page-content-body .drag-item .order1 a {
  display: block;
  width: 12.5rem;
  height: 2.75rem;
  line-height: 2.75rem;
  border-radius: 0.375rem;
  margin: 0 auto;
  background-color: black;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s;
}
#app .content-box .page-content-body .drag-item .order1 a:hover {
  transform: scale(1.02);
}
#app .content-box .page-content-body .drag-item .order2 {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#app .content-box .page-content-body .drag-item .order2 h2 {
  height: 9.5rem;
  padding: 3.5rem 1rem;
  font-size: 2.25rem;
  font-weight: normal;
}
#app .content-box .page-content-body .drag-item .order2 .main {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .order2 .main .orderList-header {
  width: 100%;
  height: 3.125rem;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2rem 0.625rem;
  font-size: 1rem;
  border-bottom: 0.0625rem solid #b8b8b8;
  margin-bottom: 1.25rem;
}
#app .content-box .page-content-body .drag-item .order2 .main .orderList-body {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px auto;
}
#app .content-box .page-content-body .drag-item .order2 .main .orderList-body li {
  margin-top: 1.25rem;
  width: 100%;
  padding: 0 !important;
  font-size: 13px;
  text-align: left;
  background-color: transparent;
  border-radius: 0.125rem;
  border: 0.0625rem solid #b8b8b8;
}
#app .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom {
  margin-top: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#app .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .left-box {
  display: flex;
  align-items: center;
  padding: 10px;
}
#app .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .left-box .info {
  color: #5a5a5a;
}
#app .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .left-box .info .order {
  font-size: 13px;
}
#app .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .left-box .info .time {
  font-size: 13px;
}
#app .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .right-box {
  padding: 10px;
}
#app .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .right-box .order-price {
  color: #070707;
  font-size: 13px;
}
#app .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .right-box .order-status {
  text-align: right;
  color: #34cf7a;
}
#app .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .right-box .err-status {
  text-align: right;
  color: #ec3d1e;
}
#app .content-box .page-content-body .order-header {
  width: 100%;
  padding: 0 200px;
}
#app .content-box .page-content-body .order-body {
  width: 100%;
  padding: 0 200px;
}
#app .content-box .page-content-footer {
  width: 100% !important;
  margin: 0 auto;
  height: 18.75rem;
}
#app .content-box .page-content-footer .container {
  width: 100%;
  height: 12.5rem;
}
#app .content-box .page-content-footer .container .item-box {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-footer .container .item-box .item-content {
  padding: 0.625rem;
}
#app .content-box .page-content-footer .container .item-box .item-content .from-content {
  width: 14.375rem;
}
#app .content-box .page-content-footer .container .item-box .item-content .from-content .input {
  padding: 0 2px;
}
#app .content-box .page-content-footer .container .item-box .item-content .from-content .input input {
  padding: 5px;
}
#app .content-box .page-content-footer .container .item-box .item-content .from-content .btn {
  width: 15px !important;
}
#app .content-box .page-content-footer .container .item-box .item-content .from-content .btn i {
  font-size: 0.875rem !important;
  margin-left: 0 !important;
}
#app .content-box .page-content-footer .footer-bottom-container {
  width: 100%;
  height: 6.25rem;
}
#app .content-box .page-content-footer .footer-bottom-container .bottom-box {
  width: 100%;
  height: 6.25rem;
}
#app .content-box .page-content-footer .footer-bottom-container .bottom-box .item-payment-box {
  flex: 1;
  padding: 0;
  margin: 0;
}
#app .content-box .page-content-footer .footer-bottom-container .bottom-box .item-copyright-box {
  flex: 1;
}
#app .content-box .shop-item {
  width: 100% !important;
  height: 18.75rem;
}
#app .content-box .shop-item .container {
  width: 100%;
  padding: 0 1.25rem;
}
#app .content-box .product-item {
  width: 100% !important;
  display: none;
}
#app .content-box .product-item .container {
  width: 100%;
}
#app .content-box .pages-item {
  width: 100% !important;
  display: none;
}
#app .content-box .pages-item .container {
  width: 100%;
}
#app,
.content-box {
  width: 100% ;
}
#app .main,
.content-box .main {
  width: 100%;
}
#app .main .checkout-box,
.content-box .main .checkout-box {
  width: 100%;
  display: flex;
}
#app .main .checkout-box .left-checkout,
.content-box .main .checkout-box .left-checkout {
  flex: 1;
  padding: 3.5rem 0.625rem;
}
#app .main .checkout-box .left-checkout .payment-info,
.content-box .main .checkout-box .left-checkout .payment-info {
  width: 28rem ;
  padding: 3.5rem 1.25rem;
}
#app .main .checkout-box .right-checkout,
.content-box .main .checkout-box .right-checkout {
  flex: 1;
  padding: 3.5rem 0.625rem;
}
#app .main .checkout-box .right-checkout .checkout-price,
.content-box .main .checkout-box .right-checkout .checkout-price {
  width: 28rem ;
  height: 100%;
  padding: 0;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list {
  width: 100%;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div {
  width: 100%;
  height: 100%;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .product-item,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .product-item {
  width: 100%;
  height: 100%;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .product-item,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .product-item {
  display: flex ;
  align-content: center;
  height: 6.25rem;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item {
  display: flex ;
  align-content: center;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .img-box,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .img-box {
  width: 3.125rem;
  height: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .img-box img,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .img-box img {
  max-width: 100%;
  max-height: 100%;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info {
  width: 12.5rem;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info .title,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info .title {
  width: 12.5rem;
  height: 36px;
}
#app,
.content-box {
  width: 100% ;
  height: 100%;
}
#app .main,
.content-box .main {
  width: 100%;
}
#app .main .checkout-box,
.content-box .main .checkout-box {
  width: 100%;
  display: flex;
}
#app .main .checkout-box .left-checkout,
.content-box .main .checkout-box .left-checkout {
  flex: 1;
  padding: 0.625rem;
}
#app .main .checkout-box .left-checkout .payment-info,
.content-box .main .checkout-box .left-checkout .payment-info {
  width: 31.25rem;
  padding: 1.25rem;
}
#app .main .checkout-box .left-checkout .payment-info .pay,
.content-box .main .checkout-box .left-checkout .payment-info .pay {
  height: auto ;
}
#app .main .checkout-box .left-checkout .payment-info .pay .payment-box,
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box {
  padding: 0 5px ;
}
#app .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-ma-12,
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-ma-12 {
  width: 100%;
  background-color: #bd263f;
}
#app .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-ma-12 .row h2,
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-ma-12 .row h2 {
  padding: 0 5px;
  font-size: 14px;
}
#app .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-ma-12 .row p,
.content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-ma-12 .row p {
  width: 100px ;
}
#app .main .checkout-box .right-checkout,
.content-box .main .checkout-box .right-checkout {
  flex: 1;
  padding: 3.5rem 1.25rem;
}
#app .main .checkout-box .right-checkout .checkout-price,
.content-box .main .checkout-box .right-checkout .checkout-price {
  width: 450px ;
  height: 100%;
  padding: 0;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list {
  width: 100%;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div {
  width: 100%;
  height: 100%;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .product-item,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .product-item {
  width: 100%;
  height: 100%;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .product-item,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .product-item {
  display: flex ;
  align-content: center;
  height: 6.25rem;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item {
  display: flex ;
  align-content: center;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .img-box,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .img-box {
  width: 3.125rem;
  height: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .img-box img,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .img-box img {
  max-width: 100%;
  max-height: 100%;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info {
  width: 15.625rem;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info .title,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info .title {
  width: 100%;
  height: 36px;
  font-size: 0.9375rem;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info .color,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info .color {
  height: 1.5rem;
  padding: 0.3125rem;
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
