#app .content-box .page-content-header,
#app .content-box .bottom-nav,
#app .content-box .top-nav {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.625rem;
}
#app .content-box .page-content-body {
  width: 100% !important;
  margin: 0 auto;
}
#app .content-box .page-content-body .drag-item1 {
  width: 100%;
  height: 18.75rem;
}
#app .content-box .page-content-body .drag-item1 .banner {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item1 .banner .swiper {
  width: 100%;
}
#app .content-box .page-content-body .drag-item1 .banner .swiper .swiper-wrapper {
  width: 100%;
}
#app .content-box .page-content-body .drag-item1 .banner .swiper .swiper-wrapper .swiper-side {
  width: 100%;
}
#app .content-box .page-content-body .drag-item1 .banner .swiper .swiper-wrapper .swiper-side img {
  width: 100%;
}
#app .content-box .page-content-body .drag-item2 {
  width: 100%;
  height: 34.375rem;
}
#app .content-box .page-content-body .drag-item2 .container {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item2 .container .row {
  width: 100%;
  height: 31.25rem;
  display: flex;
}
#app .content-box .page-content-body .drag-item2 .container .row div .col {
  flex: 1;
  flex-wrap: wrap;
  width: 90%;
  height: 31.25rem;
}
#app .content-box .page-content-body .drag-item2 .container .row div .col a {
  width: 100%;
  display: block;
}
#app .content-box .page-content-body .drag-item2 .container .row div .col a .common-img-box {
  width: 100%;
  height: 25rem;
}
#app .content-box .page-content-body .drag-item2 .container .row div .col a .common-img-box img {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item2 .container .row div .col a .info {
  height: 5rem;
}
#app .content-box .page-content-body .drag-item3 {
  margin-top: 2.5rem;
  width: 100%;
  height: 25rem;
}
#app .content-box .page-content-body .drag-item3 .container {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item3 .container .row {
  width: 100%;
  display: flex;
  height: 18.75rem;
}
#app .content-box .page-content-body .drag-item3 .container .row div {
  flex: 1;
  flex-wrap: wrap;
}
#app .content-box .page-content-body .drag-item3 .container .row div .col {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item3 .container .row div .col a {
  display: block;
  height: 15.625rem;
  width: 100%;
}
#app .content-box .page-content-body .drag-item3 .container .row div .col a .common-img-box {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item3 .container .row div .col a .common-img-box img {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item3 .container .row div .col .name {
  height: 3.125rem;
}
#app .content-box .page-content-body .drag-item5 {
  margin-top: 3.125rem;
  width: 100%;
  height: 18.75rem;
}
#app .content-box .page-content-body .drag-item5 .container {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item5 .container img {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item5 .container .main-box {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item5 .container .main-box .info {
  width: 100%;
  height: 100%;
  margin: 1.25rem auto;
}
#app .content-box .page-content-body .drag-item5 .container .main-box .info a {
  width: 8.4375rem;
  height: 3.125rem;
}
#app .content-box .page-content-body .drag-item6 {
  width: 100%;
  height: 34.375rem;
}
#app .content-box .page-content-body .drag-item6 .container {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item6 .container .row {
  width: 100%;
  height: 31.25rem;
  display: flex;
}
#app .content-box .page-content-body .drag-item6 .container .row div .col {
  flex: 1;
  flex-wrap: wrap;
  width: 90%;
  height: 31.25rem;
}
#app .content-box .page-content-body .drag-item6 .container .row div .col a {
  width: 100%;
  display: block;
}
#app .content-box .page-content-body .drag-item6 .container .row div .col a .common-img-box {
  width: 100%;
  height: 25rem;
}
#app .content-box .page-content-body .drag-item6 .container .row div .col a .common-img-box img {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item6 .container .row div .col a .info {
  height: 5rem;
}
#app .content-box .page-content-body .drag-item7 {
  margin-top: 3.125rem;
  width: 100%;
  height: 25rem;
}
#app .content-box .page-content-body .drag-item7 .container {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item7 .container .row {
  width: 100%;
  display: flex;
}
#app .content-box .page-content-body .drag-item7 .container .row div {
  flex: 1;
  flex-wrap: wrap;
}
#app .content-box .page-content-body .drag-item7 .container .row div .col {
  width: 100%;
}
#app .content-box .page-content-body .drag-item8 {
  margin-top: 3.125rem;
  width: 100%;
  height: 31.25rem;
}
#app .content-box .page-content-body .drag-item8 .container {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item8 .container .row {
  width: 100%;
  height: 25rem;
  display: flex;
}
#app .content-box .page-content-body .drag-item8 .container .row .col {
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item8 .container .row .col a {
  display: block;
  width: 100%;
  height: 16.875rem;
}
#app .content-box .page-content-body .drag-item8 .container .row .col a .common-img-box {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item8 .container .row .col a .common-img-box img {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item8 .container .row .col .mt-4 {
  height: 8.125rem;
}
#app .content-box .page-content-body .drag-item9 {
  margin-top: 3.125rem;
  width: 100%;
  height: 18.75rem;
}
#app .content-box .page-content-body .drag-item9 .container {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item9 .container .row {
  width: 100%;
  height: 18.75rem;
  display: flex;
}
#app .content-box .page-content-body .drag-item9 .container .row .col {
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item9 .container .row .col a {
  display: block;
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item9 .container .row .col a .common-img-box {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item9 .container .row .col a .common-img-box img {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item {
  width: 100%;
}
#app .content-box .page-content-body .drag-item {
  width: 100%;
  margin: 0 auto;
}
#app .content-box .page-content-body .drag-item .banner {
  width: 100%;
  height: 15.625rem;
}
#app .content-box .page-content-body .drag-item .banner img {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .container {
  width: 100% !important;
}
#app .content-box .page-content-body .container .row {
  width: 100%;
}
#app .content-box .page-content-body .container .row div .col {
  flex: 1;
  height: 31.25rem;
}
#app .content-box .page-content-body .container .row div .col a {
  display: block;
  width: 100%;
}
#app .content-box .page-content-body .container .row div .col a .common-img-box {
  width: 100%;
  height: 18.75rem;
}
#app .content-box .page-content-body .container .row div .col a .common-img-box img {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .drag-item {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .product-info {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .product-info .product-detail-primary {
  width: 100% !important;
}
#app .content-box .page-content-body .drag-item .product-info .top-box {
  width: 100%;
  height: 37.5rem;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .swiper-box {
  flex: 1;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box {
  display: flex;
  justify-content: center;
  align-self: start;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .left-swiper {
  width: 4.375rem;
  margin-right: 0.625rem;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper {
  width: 25rem;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .info-box {
  flex: 1;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .info-box div {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .info-box div .price-box {
  display: flex;
  justify-content: start;
  align-items: center;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .info-box div .price-box .a-price {
  width: 5.3125rem;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .info-box div .price-box .compare-at-price {
  width: 3.125rem;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .info-box div .price-box .discount-tag {
  width: 4.375rem;
  padding: 0 0.3125rem;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .info-box .coupon-box {
  width: 100%;
  margin-top: 0;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .info-box .product-specification {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options1 {
  margin-top: 6.875rem;
}
#app .content-box .page-content-body .drag-item .product-info .tab-box {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .product-info .tab-box .like-box {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .product-info .tab-box .Poplin {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .product-info .tab-box .Poplin .col {
  flex: 1;
}
#app .content-box .page-content-body .drag-item .product-info .tab-box .Poplin .col .info-box {
  width: 100%;
  margin: 0;
}
#app .content-box .page-content-body .drag-item {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .collection-box {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .collection-box .container {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info h1 {
  padding: 0 1.25rem;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row {
  width: 100%;
  height: 31.25rem;
  display: flex;
  flex-wrap: nowrap;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list2 {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list2 .row {
  width: 100%;
  height: 31.25rem;
  display: flex;
  flex-wrap: nowrap;
}
#app .content-box .page-content-body .drag-item {
  width: 100%;
}
#app .content-box .page-content-body .find {
  width: 100%;
  margin: 0 auto;
}
#app .content-box .page-content-body .find .row {
  width: 100%;
  margin: 0 auto;
}
#app .content-box .page-content-body .find .row div .col {
  flex: 1;
  margin: 0 auto;
}
#app .content-box .page-content-body .find .row div .col a {
  display: block;
  height: 21.875rem;
}
#app .content-box .page-content-body .find .row div .col a .common-img-box {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .find .row div .col a .common-img-box img {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-body .not-found {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .container1 {
  width: 100%;
}
#app .content-box .page-content-body .drag-item .container2 {
  width: 100%;
  padding: 0 1.25rem;
}
#app .content-box .page-content-footer {
  width: 100% !important;
  margin: 0 auto;
  height: 18.75rem;
}
#app .content-box .page-content-footer .container {
  width: 100%;
  height: 12.5rem;
}
#app .content-box .page-content-footer .container .item-box {
  width: 100%;
  height: 100%;
}
#app .content-box .page-content-footer .container .item-box .item-content {
  padding: 0.625rem;
}
#app .content-box .page-content-footer .container .item-box .item-content .from-content {
  width: 13.75rem;
}
#app .content-box .page-content-footer .footer-bottom-container {
  width: 100%;
  height: 6.25rem;
}
#app .content-box .page-content-footer .footer-bottom-container .bottom-box {
  width: 100%;
  height: 6.25rem;
}
#app .content-box .page-content-footer .footer-bottom-container .bottom-box .item-payment-box {
  flex: 1;
  padding: 0;
  margin: 0;
}
#app .content-box .page-content-footer .footer-bottom-container .bottom-box .item-copyright-box {
  flex: 1;
}
#app .shop-item {
  display: none;
  width: 100% !important;
  height: 18.75rem;
}
#app .shop-item .container {
  width: 100%;
  padding: 0 1.25rem;
}
#app .product-item {
  display: none;
}
#app .product-item .container {
  width: 100%;
}
#app .pages-item {
  display: none;
}
#app .pages-item .container {
  width: 100%;
}
#app,
.content-box {
  width: 100%;
  height: 100%;
}
#app .main,
.content-box .main {
  width: 100%;
}
#app .main .checkout-box,
.content-box .main .checkout-box {
  width: 100%;
  display: flex;
}
#app .main .checkout-box .left-checkout,
.content-box .main .checkout-box .left-checkout {
  flex: 1;
}
#app .main .checkout-box .left-checkout .payment-info,
.content-box .main .checkout-box .left-checkout .payment-info {
  width: 100%;
  padding: 3.5rem 1.25rem 0 1.25rem;
}
#app .main .checkout-box .right-checkout,
.content-box .main .checkout-box .right-checkout {
  flex: 1;
  padding: 3.5rem 1.25rem 0 1.25rem;
}
#app .main .checkout-box .right-checkout .checkout-price,
.content-box .main .checkout-box .right-checkout .checkout-price {
  width: 100%;
  height: 100%;
  padding: 0;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list {
  width: 100%;
  height: 7.5rem;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div {
  height: 100%;
}
#app .main .checkout-box .right-checkout .checkout-price .product-list div .product-item,
.content-box .main .checkout-box .right-checkout .checkout-price .product-list div .product-item {
  height: 100%;
  background-color: brown;
}
