@media (max-width: 540px) {
  #app .page-content-body .two-picture,
  .content-box .page-content-body .two-picture {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 50px auto;
  }
  #app .page-content-body .two-picture .left-picture,
  .content-box .page-content-body .two-picture .left-picture {
    flex: none !important;
    width: 100% !important;
    height: 200px !important;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 15px 0 !important;
  }
  #app .page-content-body .two-picture .left-picture img,
  .content-box .page-content-body .two-picture .left-picture img {
    max-width: 100%;
    max-height: 100%;
  }
  #app .page-content-body .two-picture .right-picture,
  .content-box .page-content-body .two-picture .right-picture {
    flex: none !important;
    margin: 15px 0 !important;
    width: 100% !important;
    height: 200px !important;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #app .page-content-body .two-picture .right-picture img,
  .content-box .page-content-body .two-picture .right-picture img {
    max-width: 100%;
    max-height: 100%;
  }
  #app .page-content-body .service,
  .content-box .page-content-body .service {
    height: 150px !important;
  }
  #app .page-content-body .company,
  .content-box .page-content-body .company {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  #app .page-content-body .company .company-profile,
  .content-box .page-content-body .company .company-profile {
    flex: none !important;
    width: 100% !important;
    height: 250px !important;
    padding: 0 30px !important;
  }
  #app .page-content-body .company .company-profile h1,
  .content-box .page-content-body .company .company-profile h1 {
    font-size: 18px !important;
    line-height: 22px !important;
  }
  #app .page-content-body .company .company-profile p,
  .content-box .page-content-body .company .company-profile p {
    font-size: 14px !important;
    font-weight: 550;
    color: #666;
    margin: 10px 0 0 !important;
    line-height: 15px !important;
  }
  #app .page-content-body .company .company-img,
  .content-box .page-content-body .company .company-img {
    flex: none !important;
    width: 100% !important;
    height: 200px !important;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #app .page-content-body .company .company-img img,
  .content-box .page-content-body .company .company-img img {
    max-width: 100%;
    max-height: 100%;
  }
  #app .page-content-body .pack,
  .content-box .page-content-body .pack {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  #app .page-content-body .pack .pack-img,
  .content-box .page-content-body .pack .pack-img {
    flex: none !important;
    width: 100% !important;
    padding: 0 15px !important;
    height: 300px !important;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #app .page-content-body .pack .pack-img img,
  .content-box .page-content-body .pack .pack-img img {
    max-width: 100%;
    max-height: 100%;
  }
  #app .page-content-body .pack .pack-title,
  .content-box .page-content-body .pack .pack-title {
    flex: none !important;
    width: 100% !important;
    padding: 0 15px !important;
    font-size: 24px;
    text-align: center;
  }
  #app .page-content-body .pack .pack-title h1,
  .content-box .page-content-body .pack .pack-title h1 {
    margin-top: 50px !important;
    font-size: 24px !important;
  }
  #app .page-content-body .pack .pack-title p,
  .content-box .page-content-body .pack .pack-title p {
    font-size: 20px !important;
    margin-top: 20px;
  }
  #app .page-content-body .pack .pack-title a,
  .content-box .page-content-body .pack .pack-title a {
    margin-top: 20px;
    display: block;
    padding: 10px 20px;
    width: 250px !important;
    font-size: 14px !important;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
  }
  #app .page-content-body .drag-item,
  .content-box .page-content-body .drag-item {
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info,
  .content-box .page-content-body .drag-item .product-info {
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info .product-detail-primary,
  .content-box .page-content-body .drag-item .product-info .product-detail-primary {
    width: 100% !important;
  }
  #app .page-content-body .drag-item .product-info .top-box,
  .content-box .page-content-body .drag-item .product-info .top-box {
    width: 100% !important;
    flex-wrap: wrap;
  }
  #app .page-content-body .drag-item .product-info .top-box .swiper-box,
  .content-box .page-content-body .drag-item .product-info .top-box .swiper-box {
    width: 100% !important;
    flex: none !important;
    margin: 0 auto;
  }
  #app .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box,
  .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box {
    flex: none !important;
    display: flex;
    align-content: center !important;
    justify-content: center;
  }
  #app .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .left-swiper,
  .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .left-swiper {
    display: none;
    width: 4.375rem;
    margin-right: 20px;
  }
  #app .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper,
  .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper {
    width: 360px !important;
    padding-left: 0 !important;
  }
  #app .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper .a-img,
  .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper .a-img {
    display: none;
  }
  #app .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper .mobile-product-swiper-container,
  .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper .mobile-product-swiper-container {
    display: block !important;
  }
  #app .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper .mobile-product-swiper-container.swiper,
  .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper .mobile-product-swiper-container.swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  #app .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper .mobile-product-swiper-container.swiper .swiper-slide,
  .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper .mobile-product-swiper-container.swiper .swiper-slide {
    text-align: center;
    font-size: 1.125rem;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
  }
  #app .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper .mobile-product-swiper-container.swiper .swiper-slide img,
  .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper .mobile-product-swiper-container.swiper .swiper-slide img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box {
    flex: 1 !important;
    padding: 0;
    padding-top: 20px;
    border-top: 1px solid #5a5959;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box div h1,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box div h1 {
    width: 100%;
    font-size: 20px;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box div .price-box,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box div .price-box {
    padding: 0 10px !important;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box div .price-box .discount-tag,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box div .price-box .discount-tag {
    padding: 0 0.3125rem;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box .coupon-box,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box .coupon-box {
    width: 100%;
    margin-top: 0;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box .product-specification,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box .product-specification {
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options .name,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options .name {
    display: block;
    min-height: 1.5rem;
    margin: 0 0 0.4375rem;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0 10px;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options .name span,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options .name span {
    font-weight: normal;
    font-size: 16px;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options .item-box .product-options-item,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options .item-box .product-options-item {
    padding: 0 0.625rem !important;
    font-size: 16px;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options1,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options1 {
    margin-bottom: 50px !important;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options1 .pc,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options1 .pc {
    display: none;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options1 .mobile,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options1 .mobile {
    display: block !important;
  }
  #app .page-content-body .drag-item .product-info .tab-box,
  .content-box .page-content-body .drag-item .product-info .tab-box {
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box {
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .title,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .title {
    font-size: 1.875rem !important;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row {
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row > div,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row > div {
    width: 50% !important;
    height: 450px;
    margin: 0 0 1.5rem;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row .col,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row .col {
    width: 100%;
    padding: 0 0.625rem;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row .col a,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row .col a {
    display: block;
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .common-img-box,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .common-img-box {
    padding: 0 0 1.25rem;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .common-img-box img,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .common-img-box img {
    max-width: 100%;
    max-height: 100%;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .pro-title,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .pro-title {
    font-size: 1rem;
    width: 100%;
    height: 114px;
    margin: 0.625rem 0.3125rem;
    color: #000;
    padding: 0.625rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .price,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .price {
    padding: 0 0.625rem;
    height: 1.5625rem;
    font-size: 1.25rem;
    color: #f10215;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .price span,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .price span {
    font-size: 0.875rem;
    margin-left: 0.3125rem;
    color: #666666;
    text-decoration: line-through;
  }
  #app .page-content-body .drag-item .product-info .tab-box .Poplin,
  .content-box .page-content-body .drag-item .product-info .tab-box .Poplin {
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info .tab-box .Poplin .col,
  .content-box .page-content-body .drag-item .product-info .tab-box .Poplin .col {
    flex: 1;
  }
  #app .page-content-body .drag-item .product-info .tab-box .Poplin .col .info-box,
  .content-box .page-content-body .drag-item .product-info .tab-box .Poplin .col .info-box {
    width: 100%;
    margin: 0;
  }
  #app .page-content-body .drag-item .container1,
  .content-box .page-content-body .drag-item .container1 {
    width: 100%;
  }
  #app .page-content-body .drag-item .container2,
  .content-box .page-content-body .drag-item .container2 {
    width: 100%;
    padding: 0 1.25rem;
  }
  #app .page-content-body .drag-item .container2 h2,
  .content-box .page-content-body .drag-item .container2 h2 {
    height: 6.25rem;
    padding: 1.875rem 1rem;
    font-size: 1.5rem;
  }
  #app .page-content-body .drag-item .container2 .main,
  .content-box .page-content-body .drag-item .container2 .main {
    width: 100%;
  }
  #app .page-content-body .drag-item .container2 .main .table-header,
  .content-box .page-content-body .drag-item .container2 .main .table-header {
    width: 100%;
    display: none;
  }
  #app .page-content-body .drag-item .container2 .main .table-header .c-product,
  .content-box .page-content-body .drag-item .container2 .main .table-header .c-product {
    width: 200px;
  }
  #app .page-content-body .drag-item .container2 .main .table-header .c-price,
  .content-box .page-content-body .drag-item .container2 .main .table-header .c-price {
    width: 100px;
  }
  #app .page-content-body .drag-item .container2 .main .table-header .c-qty,
  .content-box .page-content-body .drag-item .container2 .main .table-header .c-qty {
    width: 100px;
  }
  #app .page-content-body .drag-item .container2 .main .table-header .c-total,
  .content-box .page-content-body .drag-item .container2 .main .table-header .c-total {
    width: 100px;
  }
  #app .page-content-body .drag-item .container2 .main .pc,
  .content-box .page-content-body .drag-item .container2 .main .pc {
    display: none !important;
  }
  #app .page-content-body .drag-item .container2 .main .mobile,
  .content-box .page-content-body .drag-item .container2 .main .mobile {
    display: block !important;
    font-size: 14px !important;
  }
  #app .page-content-body .drag-item .container2 .main .checkout,
  .content-box .page-content-body .drag-item .container2 .main .checkout {
    margin: 1.25rem 0;
    height: 200px;
  }
  #app .page-content-body .drag-item .container2 .main .checkout .checkout-box,
  .content-box .page-content-body .drag-item .container2 .main .checkout .checkout-box {
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1.25rem 0 0 1.25rem;
  }
  #app .page-content-body .drag-item .container2 .main .checkout .checkout-box .node,
  .content-box .page-content-body .drag-item .container2 .main .checkout .checkout-box .node {
    padding: 0.625rem;
  }
  #app .page-content-body .drag-item,
  .content-box .page-content-body .drag-item {
    width: 100%;
  }
  #app .page-content-body .drag-item .order1,
  .content-box .page-content-body .drag-item .order1 {
    display: none;
    width: 100%;
    margin: 0 auto;
    height: 37.5rem;
    text-align: center;
  }
  #app .page-content-body .drag-item .order1 h2,
  .content-box .page-content-body .drag-item .order1 h2 {
    height: 9.5rem;
    padding: 3.5rem 1rem;
    font-size: 1.875rem;
    font-weight: normal;
  }
  #app .page-content-body .drag-item .order1 a,
  .content-box .page-content-body .drag-item .order1 a {
    display: block;
    width: 12.5rem;
    height: 2.75rem;
    line-height: 2.75rem;
    border-radius: 0.375rem;
    margin: 0 auto;
    background-color: black;
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s;
  }
  #app .page-content-body .drag-item .order1 a:hover,
  .content-box .page-content-body .drag-item .order1 a:hover {
    transform: scale(1.02);
  }
  #app .page-content-body .drag-item .order2,
  .content-box .page-content-body .drag-item .order2 {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #app .page-content-body .drag-item .order2 h2,
  .content-box .page-content-body .drag-item .order2 h2 {
    height: 9.5rem;
    padding: 3.5rem 1rem;
    font-size: 2.25rem;
    font-weight: normal;
  }
  #app .page-content-body .drag-item .order2 .main,
  .content-box .page-content-body .drag-item .order2 .main {
    width: 100%;
  }
  #app .page-content-body .drag-item .order2 .main .orderList-header,
  .content-box .page-content-body .drag-item .order2 .main .orderList-header {
    width: 100%;
    height: 3.125rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2rem 0.625rem;
    font-size: 1rem;
    border-bottom: 0.0625rem solid #b8b8b8;
    margin-bottom: 1.25rem;
  }
  #app .page-content-body .drag-item .order2 .main .orderList-body,
  .content-box .page-content-body .drag-item .order2 .main .orderList-body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
    padding: 0 10px !important;
  }
  #app .page-content-body .drag-item .order2 .main .orderList-body li,
  .content-box .page-content-body .drag-item .order2 .main .orderList-body li {
    margin-top: 1.25rem;
    width: 100%;
    font-size: 13px;
    text-align: left;
    background-color: transparent;
    border-radius: 0.125rem;
    border: 0.0625rem solid #b8b8b8;
  }
  #app .page-content-body .drag-item .order2 .main .orderList-body li .bottom,
  .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom {
    margin-top: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  #app .page-content-body .drag-item .order2 .main .orderList-body li .bottom .left-box,
  .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .left-box {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  #app .page-content-body .drag-item .order2 .main .orderList-body li .bottom .left-box .info,
  .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .left-box .info {
    color: #5a5a5a;
  }
  #app .page-content-body .drag-item .order2 .main .orderList-body li .bottom .left-box .info .order,
  .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .left-box .info .order {
    font-size: 13px;
  }
  #app .page-content-body .drag-item .order2 .main .orderList-body li .bottom .left-box .info .time,
  .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .left-box .info .time {
    font-size: 13px;
  }
  #app .page-content-body .drag-item .order2 .main .orderList-body li .bottom .right-box,
  .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .right-box {
    padding: 10px;
  }
  #app .page-content-body .drag-item .order2 .main .orderList-body li .bottom .right-box .order-price,
  .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .right-box .order-price {
    color: #070707;
    font-size: 14px;
  }
  #app .page-content-body .drag-item .order2 .main .orderList-body li .bottom .right-box .order-status,
  .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .right-box .order-status {
    text-align: right;
    color: #34cf7a;
  }
  #app .page-content-body .drag-item .order2 .main .orderList-body li .bottom .right-box .err-status,
  .content-box .page-content-body .drag-item .order2 .main .orderList-body li .bottom .right-box .err-status {
    text-align: right;
    color: #ec3d1e;
  }
  #app .page-content-body .order-header,
  .content-box .page-content-body .order-header {
    width: 100%;
    padding: 0 10px !important;
    height: 40px;
  }
  #app .page-content-body .order-header .title,
  .content-box .page-content-body .order-header .title {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
  }
  #app .page-content-body .order-body,
  .content-box .page-content-body .order-body {
    width: 100%;
    padding: 0 10px !important;
  }
  #app .page-content-body .order-body .order-num,
  .content-box .page-content-body .order-body .order-num {
    font-size: 18px;
    height: 40px;
    line-height: 18px;
  }
  #app .page-content-body .order-body .head,
  .content-box .page-content-body .order-body .head {
    padding: 0 10px;
  }
  #app .page-content-body .order-body .head ul li,
  .content-box .page-content-body .order-body .head ul li {
    font-size: 14px;
  }
  #app .page-content-body .order-body .body .product-list .info .text,
  .content-box .page-content-body .order-body .body .product-list .info .text {
    width: 150px;
    padding-left: 10px !important;
  }
  #app .page-content-body .order-body .body .product-list .info .text .pro-title,
  .content-box .page-content-body .order-body .body .product-list .info .text .pro-title {
    width: 150px;
    padding: 0 10px;
    font-size: 14px;
  }
  #app .page-content-body .order-body .body .product-list .info .text .pro-property,
  .content-box .page-content-body .order-body .body .product-list .info .text .pro-property {
    width: 150px;
    padding: 0 10px;
    font-size: 12px;
  }
  #app .page-content-body .order-body .body .product-list .num,
  .content-box .page-content-body .order-body .body .product-list .num {
    text-align: center;
    font-size: 14px;
  }
  #app .page-content-body .order-body .body .product-list .price,
  .content-box .page-content-body .order-body .body .product-list .price {
    font-style: 14px;
  }
  #app .page-content-body .order-body .body .order-shipping-address .shipping h5,
  .content-box .page-content-body .order-body .body .order-shipping-address .shipping h5 {
    font-size: 16px;
  }
  #app .page-content-body .order-body .body .order-shipping-address .shipping ul li,
  .content-box .page-content-body .order-body .body .order-shipping-address .shipping ul li {
    font-size: 13px;
  }
  #app .page-content-body .order-body .body .order-shipping-address .payment h5,
  .content-box .page-content-body .order-body .body .order-shipping-address .payment h5 {
    font-size: 16px;
  }
  #app .page-content-body .order-body .body .order-shipping-address .payment ul li,
  .content-box .page-content-body .order-body .body .order-shipping-address .payment ul li {
    font-size: 13px;
  }
  #app .page-content-footer,
  .content-box .page-content-footer {
    width: 100% !important;
    margin: 0 auto;
    height: 600px !important;
  }
  #app .page-content-footer .container,
  .content-box .page-content-footer .container {
    width: 100%;
    height: auto !important;
  }
  #app .page-content-footer .container .pc-menu,
  .content-box .page-content-footer .container .pc-menu {
    display: none !important;
  }
  #app .page-content-footer .container .mobile-menu,
  .content-box .page-content-footer .container .mobile-menu {
    display: block !important;
  }
  #app .page-content-footer .container .mobile-menu .body-show,
  .content-box .page-content-footer .container .mobile-menu .body-show {
    display: block !important;
  }
  #app .page-content-footer .container .mobile-menu .from-content,
  .content-box .page-content-footer .container .mobile-menu .from-content {
    width: 100% !important;
  }
  #app .page-content-footer .container .mobile-menu .from-content .input,
  .content-box .page-content-footer .container .mobile-menu .from-content .input {
    width: 100%;
    padding: 0 2px;
  }
  #app .page-content-footer .container .mobile-menu .from-content .input input,
  .content-box .page-content-footer .container .mobile-menu .from-content .input input {
    padding: 5px;
  }
  #app .page-content-footer .container .mobile-menu .from-content .btn,
  .content-box .page-content-footer .container .mobile-menu .from-content .btn {
    width: 15px !important;
  }
  #app .page-content-footer .container .mobile-menu .from-content .btn i,
  .content-box .page-content-footer .container .mobile-menu .from-content .btn i {
    font-size: 0.875rem !important;
    margin-left: 0 !important;
  }
  #app .page-content-footer .footer-bottom-container,
  .content-box .page-content-footer .footer-bottom-container {
    width: 100%;
    margin-top: 0 !important;
    border-top: 0 !important;
  }
  #app .page-content-footer .footer-bottom-container .bottom-box,
  .content-box .page-content-footer .footer-bottom-container .bottom-box {
    width: 100%;
    justify-content: center !important;
  }
  #app .page-content-footer .footer-bottom-container .bottom-box .item-payment-box,
  .content-box .page-content-footer .footer-bottom-container .bottom-box .item-payment-box {
    flex: 1;
    padding: 0;
    margin: 0;
  }
  #app .page-content-footer .footer-bottom-container .bottom-box .item-copyright-box,
  .content-box .page-content-footer .footer-bottom-container .bottom-box .item-copyright-box {
    flex: 1;
  }
  .pay-success {
    width: 400px !important;
    background-color: #fff;
    margin: 50px auto;
    padding: 50px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 6px 9px 12px 1px rgba(0, 0, 0, 0.1);
  }
  .pay-success .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .pay-success h1 {
    width: 100%;
    height: 50px;
    margin-top: 20px !important;
    text-align: center;
  }
  .pay-success .pay-content {
    margin: 20px 0 !important;
    padding: 0 20px;
    background-color: #272525;
    width: 100%;
    height: 170px !important;
    border-bottom: none;
    background: radial-gradient(circle at 50% 50%, #fff 0, #fff 50%, transparent 0), radial-gradient(circle at 50% 50%, #fff 0, #fff 50%, transparent 0);
    background-repeat: repeat-x;
    background-color: #e9e9e9;
    background-size: 24px 12px;
    background-position: 7px calc(100% - -5px), calc(100% + 17px) -5px;
  }
  .pay-success .pay-content .line {
    height: 30px;
    width: 100%;
    border-bottom: 3px dashed #fff;
  }
  .pay-success .pay-content .list {
    margin: 0 !important;
    padding: 20px 0;
  }
  .pay-success .pay-content .list .order-num {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
  }
  .pay-success .pay-content .list .order-price {
    text-align: right;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
  }
  .pay-success .pay-content .list .order-time {
    text-align: right;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
  }
  .pay-error {
    width: 400px !important;
    background-color: #fff;
    margin: 50px auto;
    padding: 50px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 6px 9px 12px 1px rgba(0, 0, 0, 0.1);
  }
  .pay-error .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .pay-error h1 {
    width: 100%;
    height: 50px;
    margin-top: 20px !important;
    text-align: center;
  }
  .pay-error .pay-content {
    margin: 20px 0 !important;
    padding: 0 20px;
    background-color: #272525;
    width: 100%;
    height: 170px !important;
    border-bottom: none;
    background: radial-gradient(circle at 50% 50%, #fff 0, #fff 50%, transparent 0), radial-gradient(circle at 50% 50%, #fff 0, #fff 50%, transparent 0);
    background-repeat: repeat-x;
    background-color: #e9e9e9;
    background-size: 24px 12px;
    background-position: 7px calc(100% - -5px), calc(100% + 17px) -5px;
  }
  .pay-error .pay-content .line {
    height: 30px;
    width: 100%;
    border-bottom: 3px dashed #fff;
  }
  .pay-error .pay-content .list {
    margin: 0 !important;
    padding: 20px 0;
  }
  .pay-error .pay-content .list .order-num {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
  }
  .pay-error .pay-content .list .order-price {
    text-align: right;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
  }
  .pay-error .pay-content .list .order-time {
    text-align: right;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
  }
}
