@media (max-width: 1024px) {
  .page-content-header {
    position: relative;
  }
  .page-content-header .bottom-nav .logo,
  .page-content-header .bottom-nav .tab,
  .page-content-header .bottom-nav .yonghu {
    display: none !important;
  }
  .page-content-header .bottom-nav .hs-mobile-home-nav-toggle {
    position: relative;
    display: inline-block !important;
    width: 100%;
    height: 4rem;
  }
  .page-content-header .bottom-nav .hs-mobile-home-nav-toggle .flex {
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
  }
  .page-content-header .bottom-nav .hs-mobile-home-nav-toggle .flex .menu {
    width: 3.125rem;
    height: 100%;
    padding: 0.8438rem 0;
  }
  .page-content-header .bottom-nav .hs-mobile-home-nav-toggle .flex .menu img {
    width: 100%;
    height: 100%;
  }
  .page-content-header .bottom-nav .hs-mobile-home-nav-toggle .flex .mobile-logo {
    width: 9.0625rem;
    height: 100%;
    padding: 0.8438rem 0;
  }
  .page-content-header .bottom-nav .hs-mobile-home-nav-toggle .flex .mobile-logo img {
    width: 100%;
    height: 100%;
  }
  .page-content-header .bottom-nav .hs-mobile-home-nav-toggle .flex .search-shopping {
    display: flex;
  }
  .page-content-header .bottom-nav .hs-mobile-home-nav-toggle .flex .search-shopping li {
    position: relative;
    width: 1.875rem;
    height: 1.375rem;
  }
  .page-content-header .bottom-nav .hs-mobile-home-nav-toggle .flex .search-shopping li .products {
    position: absolute;
    display: block;
    padding: 0 0.3125rem;
    border-radius: 0.9375rem;
    color: #fff;
    text-align: center;
    background-color: #f56c6c;
    top: -0.625rem;
    right: 0;
    font-size: 12px;
  }
  #app,
  .content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #app .page-content-body,
  .content-box .page-content-body {
    width: 100% !important;
    margin: 0 auto;
  }
  #app .page-content-body .drag-item1,
  .content-box .page-content-body .drag-item1 {
    width: 100%;
    height: 18.75rem;
  }
  #app .page-content-body .drag-item1 .banner,
  .content-box .page-content-body .drag-item1 .banner {
    width: 100%;
    height: 100%;
  }
  #app .page-content-body .drag-item1 .banner .swiper,
  .content-box .page-content-body .drag-item1 .banner .swiper {
    width: 100%;
  }
  #app .page-content-body .drag-item1 .banner .swiper .swiper-wrapper,
  .content-box .page-content-body .drag-item1 .banner .swiper .swiper-wrapper {
    width: 100%;
  }
  #app .page-content-body .drag-item1 .banner .swiper .swiper-wrapper .swiper-side,
  .content-box .page-content-body .drag-item1 .banner .swiper .swiper-wrapper .swiper-side {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #app .page-content-body .drag-item1 .banner .swiper .swiper-wrapper .swiper-side img,
  .content-box .page-content-body .drag-item1 .banner .swiper .swiper-wrapper .swiper-side img {
    max-width: 100%;
  }
  #app .page-content-body .drag-item2,
  .content-box .page-content-body .drag-item2 {
    width: 100%;
  }
  #app .page-content-body .drag-item2 .container,
  .content-box .page-content-body .drag-item2 .container {
    width: 100%;
    height: 100%;
  }
  #app .page-content-body .drag-item2 .container .row,
  .content-box .page-content-body .drag-item2 .container .row {
    width: 100%;
    display: flex;
    height: 420px ;
    flex-wrap: wrap;
    overflow: hidden;
  }
  #app .page-content-body .drag-item2 .container .row div,
  .content-box .page-content-body .drag-item2 .container .row div {
    height: 420px ;
  }
  #app .page-content-body .drag-item2 .container .row div .col,
  .content-box .page-content-body .drag-item2 .container .row div .col {
    width: 100%;
    flex-wrap: wrap;
    width: 90%;
  }
  #app .page-content-body .drag-item2 .container .row div .col a,
  .content-box .page-content-body .drag-item2 .container .row div .col a {
    width: 100%;
    display: block;
    height: 100%;
  }
  #app .page-content-body .drag-item2 .container .row div .col a .common-img-box,
  .content-box .page-content-body .drag-item2 .container .row div .col a .common-img-box {
    width: 100%;
    height: 200px ;
  }
  #app .page-content-body .drag-item2 .container .row div .col a .common-img-box .product-discount,
  .content-box .page-content-body .drag-item2 .container .row div .col a .common-img-box .product-discount {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px !important;
    height: 50px !important;
    background-color: brown;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
  }
  #app .page-content-body .drag-item2 .container .row div .col a .common-img-box .product-discount .triangle,
  .content-box .page-content-body .drag-item2 .container .row div .col a .common-img-box .product-discount .triangle {
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 0;
    height: 0 !important;
    border-top: 25px solid brown;
    border-right: 25px solid transparent;
  }
  #app .page-content-body .drag-item2 .container .row div .col a .common-img-box .product-discount .triangle1,
  .content-box .page-content-body .drag-item2 .container .row div .col a .common-img-box .product-discount .triangle1 {
    position: absolute;
    bottom: -24px;
    right: 0;
    width: 0;
    height: 0 !important;
    border-top: 25px solid brown;
    border-left: 25px solid transparent;
  }
  #app .page-content-body .drag-item2 .container .row div .col a .info-box,
  .content-box .page-content-body .drag-item2 .container .row div .col a .info-box {
    padding: 0.625rem 0;
  }
  #app .page-content-body .drag-item2 .container .row div .col a .info-box .title,
  .content-box .page-content-body .drag-item2 .container .row div .col a .info-box .title {
    width: 100%;
    height: 5rem !important;
    margin: 0 0 0.3125rem;
    font-size: 1rem;
    font-weight: 510;
    color: #000;
    padding: 0.625rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  #app .page-content-body .drag-item2 .container .row div .col a .info-box .star,
  .content-box .page-content-body .drag-item2 .container .row div .col a .info-box .star {
    height: 43px !important;
  }
  #app .page-content-body .drag-item2 .container .row div .col a .info-box .price,
  .content-box .page-content-body .drag-item2 .container .row div .col a .info-box .price {
    height: 1.25rem !important;
  }
  #app .page-content-body .drag-item5,
  .content-box .page-content-body .drag-item5 {
    width: 100%;
  }
  #app .page-content-body .drag-item5 .container,
  .content-box .page-content-body .drag-item5 .container {
    width: 100%;
  }
  #app .page-content-body .drag-item5 .container a,
  .content-box .page-content-body .drag-item5 .container a {
    display: block;
    width: 100%;
    height: 150px;
  }
  #app .page-content-body .drag-item5 .container a .common-img-box,
  .content-box .page-content-body .drag-item5 .container a .common-img-box {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #app .page-content-body .drag-item5 .container a .common-img-box img,
  .content-box .page-content-body .drag-item5 .container a .common-img-box img {
    max-width: 100%;
    height: 100%;
  }
  #app .page-content-body .drag-item5 .container .main-box,
  .content-box .page-content-body .drag-item5 .container .main-box {
    width: 100%;
    height: 100%;
  }
  #app .page-content-body .drag-item5 .container .main-box .info,
  .content-box .page-content-body .drag-item5 .container .main-box .info {
    width: 100%;
    height: 100%;
    margin: 1.25rem auto;
  }
  #app .page-content-body .drag-item5 .container .main-box .info a,
  .content-box .page-content-body .drag-item5 .container .main-box .info a {
    width: 8.4375rem;
    height: 3.125rem;
  }
  #app .page-content-body .drag-item6,
  .content-box .page-content-body .drag-item6 {
    width: 100%;
  }
  #app .page-content-body .drag-item6 .container,
  .content-box .page-content-body .drag-item6 .container {
    width: 100%;
    height: 100%;
  }
  #app .page-content-body .drag-item6 .container h2,
  .content-box .page-content-body .drag-item6 .container h2 {
    margin: 0 0 0.625rem;
  }
  #app .page-content-body .drag-item6 .container .row,
  .content-box .page-content-body .drag-item6 .container .row {
    width: 100%;
    height: 900px ;
    display: flex;
  }
  #app .page-content-body .drag-item6 .container .row div,
  .content-box .page-content-body .drag-item6 .container .row div {
    height: 420px !important;
    margin-bottom: 0 !important;
  }
  #app .page-content-body .drag-item6 .container .row div .col,
  .content-box .page-content-body .drag-item6 .container .row div .col {
    width: 100%;
    flex-wrap: wrap;
    width: 90%;
  }
  #app .page-content-body .drag-item6 .container .row div .col a,
  .content-box .page-content-body .drag-item6 .container .row div .col a {
    width: 100%;
    display: block;
    height: 100%;
  }
  #app .page-content-body .drag-item6 .container .row div .col a .common-img-box,
  .content-box .page-content-body .drag-item6 .container .row div .col a .common-img-box {
    width: 100%;
    height: 200px !important;
  }
  #app .page-content-body .drag-item6 .container .row div .col a .common-img-box .product-discount,
  .content-box .page-content-body .drag-item6 .container .row div .col a .common-img-box .product-discount {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px !important;
    height: 50px !important;
    background-color: brown;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
  }
  #app .page-content-body .drag-item6 .container .row div .col a .common-img-box .product-discount .triangle,
  .content-box .page-content-body .drag-item6 .container .row div .col a .common-img-box .product-discount .triangle {
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 0;
    height: 0 !important;
    border-top: 25px solid brown;
    border-right: 25px solid transparent;
  }
  #app .page-content-body .drag-item6 .container .row div .col a .common-img-box .product-discount .triangle1,
  .content-box .page-content-body .drag-item6 .container .row div .col a .common-img-box .product-discount .triangle1 {
    position: absolute;
    bottom: -24px;
    right: 0;
    width: 0;
    height: 0 !important;
    border-top: 25px solid brown;
    border-left: 25px solid transparent;
  }
  #app .page-content-body .drag-item6 .container .row div .col a .info-box,
  .content-box .page-content-body .drag-item6 .container .row div .col a .info-box {
    padding: 0.625rem 0;
    height: 12.5rem !important;
  }
  #app .page-content-body .drag-item6 .container .row div .col a .info-box .title,
  .content-box .page-content-body .drag-item6 .container .row div .col a .info-box .title {
    width: 100%;
    height: 5rem !important;
    margin: 0 0 0.3125rem;
    font-size: 0.9375rem;
    font-weight: 510;
    color: #000;
    padding: 0.625rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  #app .page-content-body .drag-item6 .container .row div .col a .info-box .star,
  .content-box .page-content-body .drag-item6 .container .row div .col a .info-box .star {
    height: 43px !important;
  }
  #app .page-content-body .drag-item6 .container .row div .col a .info-box .price,
  .content-box .page-content-body .drag-item6 .container .row div .col a .info-box .price {
    height: 1.25rem;
  }
  #app .page-content-body .drag-item8,
  .content-box .page-content-body .drag-item8 {
    margin-top: 3.125rem;
    width: 100%;
    height: 25rem;
  }
  #app .page-content-body .drag-item8 .container,
  .content-box .page-content-body .drag-item8 .container {
    width: 100%;
    height: 100%;
  }
  #app .page-content-body .drag-item8 .container .row,
  .content-box .page-content-body .drag-item8 .container .row {
    width: 100%;
    height: 18.75rem;
    display: flex;
  }
  #app .page-content-body .drag-item8 .container .row .col,
  .content-box .page-content-body .drag-item8 .container .row .col {
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  #app .page-content-body .drag-item8 .container .row .col a,
  .content-box .page-content-body .drag-item8 .container .row .col a {
    display: block;
    width: 100%;
    height: 16.875rem;
  }
  #app .page-content-body .drag-item8 .container .row .col a .common-img-box,
  .content-box .page-content-body .drag-item8 .container .row .col a .common-img-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #app .page-content-body .drag-item8 .container .row .col a .common-img-box img,
  .content-box .page-content-body .drag-item8 .container .row .col a .common-img-box img {
    max-width: 100%;
    max-height: 100%;
  }
  #app .page-content-body .drag-item8 .container .row .col .mt-4,
  .content-box .page-content-body .drag-item8 .container .row .col .mt-4 {
    height: 8.125rem;
  }
  #app .page-content-body .drag-item9,
  .content-box .page-content-body .drag-item9 {
    margin-top: 3.125rem;
    width: 100%;
    height: 18.75rem;
  }
  #app .page-content-body .drag-item9 .container,
  .content-box .page-content-body .drag-item9 .container {
    width: 100%;
    height: 100%;
  }
  #app .page-content-body .drag-item9 .container .row,
  .content-box .page-content-body .drag-item9 .container .row {
    width: 100%;
    height: 18.75rem;
    display: flex;
  }
  #app .page-content-body .drag-item9 .container .row .col,
  .content-box .page-content-body .drag-item9 .container .row .col {
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  #app .page-content-body .drag-item9 .container .row .col a,
  .content-box .page-content-body .drag-item9 .container .row .col a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #app .page-content-body .drag-item9 .container .row .col a .common-img-box,
  .content-box .page-content-body .drag-item9 .container .row .col a .common-img-box {
    width: 100%;
    height: 100%;
  }
  #app .page-content-body .drag-item9 .container .row .col a .common-img-box img,
  .content-box .page-content-body .drag-item9 .container .row .col a .common-img-box img {
    width: 100%;
    height: 100%;
  }
  #app .page-content-body .drag-item,
  .content-box .page-content-body .drag-item {
    width: 100%;
  }
  #app .page-content-body .drag-item .collection-box,
  .content-box .page-content-body .drag-item .collection-box {
    width: 100%;
  }
  #app .page-content-body .drag-item .collection-box .container,
  .content-box .page-content-body .drag-item .collection-box .container {
    width: 100%;
  }
  #app .page-content-body .drag-item .collection-box .container .info,
  .content-box .page-content-body .drag-item .collection-box .container .info {
    width: 100%;
  }
  #app .page-content-body .drag-item .collection-box .container .info h1,
  .content-box .page-content-body .drag-item .collection-box .container .info h1 {
    padding: 0 1.25rem;
  }
  #app .page-content-body .drag-item .collection-box .container .info .list-box,
  .content-box .page-content-body .drag-item .collection-box .container .info .list-box {
    width: 100%;
  }
  #app .page-content-body .drag-item .collection-box .container .info .list-box .main-box,
  .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box {
    width: 100%;
  }
  #app .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list,
  .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list {
    width: 100%;
    height: auto;
  }
  #app .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container,
  .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container {
    width: 100%;
    height: auto !important;
    display: flex;
    flex-wrap: wrap;
  }
  #app .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a,
  .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a {
    width: 100%;
    display: block;
    height: 31.25rem;
  }
  #app .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a .img-box,
  .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a .img-box {
    width: 100%;
    height: 15.625rem !important;
  }
  #app .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a .bottom-text,
  .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a .bottom-text {
    padding: 0.625rem;
  }
  #app .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a .bottom-text .title,
  .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a .bottom-text .title {
    width: 100%;
    height: 5rem;
    margin: 0 0 0.3125rem;
    font-size: 1rem;
    font-weight: 510;
    color: #000;
    padding: 0.625rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  #app .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a .bottom-text .star,
  .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a .bottom-text .star {
    height: 43px;
  }
  #app .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a .bottom-text .price,
  .content-box .page-content-body .drag-item .collection-box .container .info .list-box .main-box .infinite-list .row.shop-product-container .shop-product-item a .bottom-text .price {
    height: 1.5rem;
  }
  #app .page-content-body .drag-item,
  .content-box .page-content-body .drag-item {
    width: 100%;
    margin: 6.25rem auto !important;
  }
  #app .page-content-body .drag-item,
  .content-box .page-content-body .drag-item {
    width: 100%;
    margin: 0 auto !important;
  }
  #app .page-content-body .drag-item .banner,
  .content-box .page-content-body .drag-item .banner {
    width: 100%;
    height: 15.625rem;
  }
  #app .page-content-body .drag-item .banner img,
  .content-box .page-content-body .drag-item .banner img {
    width: 100%;
    height: 100%;
  }
  #app .page-content-body .container,
  .content-box .page-content-body .container {
    width: 100% !important;
    height: 100% !important;
  }
  #app .page-content-body .container .row,
  .content-box .page-content-body .container .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #app .page-content-body .container .row div .col,
  .content-box .page-content-body .container .row div .col {
    width: 100%;
    height: 25rem;
  }
  #app .page-content-body .container .row div .col a,
  .content-box .page-content-body .container .row div .col a {
    width: 100%;
    display: block;
  }
  #app .page-content-body .container .row div .col a .common-img-box,
  .content-box .page-content-body .container .row div .col a .common-img-box {
    width: 100%;
    height: 15.625rem !important;
  }
  #app .page-content-body .container .row div .col .info-box,
  .content-box .page-content-body .container .row div .col .info-box {
    padding: 0.625rem 0;
  }
  #app .page-content-body .container .row div .col .info-box .pro-title,
  .content-box .page-content-body .container .row div .col .info-box .pro-title {
    width: 100%;
    height: 5rem;
    margin: 0 0 0.3125rem;
    font-size: 1rem;
    font-weight: 510;
    color: #000;
    padding: 0.625rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  #app .page-content-body .drag-item,
  .content-box .page-content-body .drag-item {
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info,
  .content-box .page-content-body .drag-item .product-info {
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info .product-detail-primary,
  .content-box .page-content-body .drag-item .product-info .product-detail-primary {
    width: 100% !important;
  }
  #app .page-content-body .drag-item .product-info .top-box,
  .content-box .page-content-body .drag-item .product-info .top-box {
    width: 100%;
    height: 700px !important;
  }
  #app .page-content-body .drag-item .product-info .top-box .swiper-box,
  .content-box .page-content-body .drag-item .product-info .top-box .swiper-box {
    flex: 1;
  }
  #app .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box,
  .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box {
    display: flex;
    justify-content: center;
    align-self: start;
  }
  #app .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .left-swiper,
  .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .left-swiper {
    width: 4.375rem;
    margin-right: 0.625rem;
  }
  #app .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper,
  .content-box .page-content-body .drag-item .product-info .top-box .swiper-box .sticky-box .right-swiper {
    width: 250px !important;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box {
    flex: 2;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box div h1,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box div h1 {
    width: 100%;
    font-size: 24px;
    padding-right: 10px !important;
    padding-left: 0.625rem;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box div .subtitle,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box div .subtitle {
    padding-left: 0.625rem;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box div .price-box,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box div .price-box {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 0.625rem;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box div .price-box .a-price,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box div .price-box .a-price {
    width: 5.3125rem;
    padding-left: 0.625rem;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box div .price-box .compare-at-price,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box div .price-box .compare-at-price {
    width: 3.125rem;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box div .price-box .discount-tag,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box div .price-box .discount-tag {
    width: 4.375rem;
    padding: 0 0.3125rem;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box .coupon-box,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box .coupon-box {
    width: 100%;
    margin-top: 0;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box .product-specification,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box .product-specification {
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options .item-box .product-options-item,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options .item-box .product-options-item {
    padding: 0 0.625rem !important;
  }
  #app .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options1,
  .content-box .page-content-body .drag-item .product-info .top-box .info-box .product-specification .product-options1 {
    margin-top: 50px !important;
  }
  #app .page-content-body .drag-item .product-info .tab-box,
  .content-box .page-content-body .drag-item .product-info .tab-box {
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box {
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .title,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .title {
    font-size: 1.875rem !important;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row {
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row > div,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row > div {
    width: 25%;
    height: 450px;
    margin: 0 0 1.5rem;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row .col,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row .col {
    width: 100%;
    padding: 0 0.625rem;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row .col a,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row .col a {
    display: block;
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .common-img-box,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .common-img-box {
    padding: 0 0 1.25rem;
    height: 15.625rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .common-img-box img,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .common-img-box img {
    max-width: 100%;
    max-height: 100%;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .pro-title,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .pro-title {
    font-size: 1rem;
    width: 100%;
    height: 114px;
    margin: 0.625rem 0.3125rem;
    color: #000;
    padding: 0.625rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .star,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .star {
    height: 43px;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .price,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .price {
    padding: 0.625rem;
    height: 1.5625rem;
    font-size: 1.25rem;
    color: #f10215;
  }
  #app .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .price span,
  .content-box .page-content-body .drag-item .product-info .tab-box .like-box .row .col a .price span {
    font-size: 0.875rem;
    margin-left: 0.3125rem;
    color: #666666;
    text-decoration: line-through;
  }
  #app .page-content-body .drag-item .product-info .tab-box .Poplin,
  .content-box .page-content-body .drag-item .product-info .tab-box .Poplin {
    width: 100%;
  }
  #app .page-content-body .drag-item .product-info .tab-box .Poplin .col,
  .content-box .page-content-body .drag-item .product-info .tab-box .Poplin .col {
    flex: 1;
  }
  #app .page-content-body .drag-item .product-info .tab-box .Poplin .col .info-box,
  .content-box .page-content-body .drag-item .product-info .tab-box .Poplin .col .info-box {
    width: 100%;
    margin: 0;
  }
  #app .page-content-body .drag-item,
  .content-box .page-content-body .drag-item {
    width: 100%;
  }
  #app .page-content-body .find,
  .content-box .page-content-body .find {
    width: 100%;
    margin: 0 auto;
  }
  #app .page-content-body .find .row,
  .content-box .page-content-body .find .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2.5rem auto;
    align-items: center;
    justify-content: start;
  }
  #app .page-content-body .find .row > div,
  .content-box .page-content-body .find .row > div {
    height: 31.25rem;
  }
  #app .page-content-body .find .row .col,
  .content-box .page-content-body .find .row .col {
    width: 100%;
    padding: 0 0.5625rem;
    margin: 0 0 1.5rem;
  }
  #app .page-content-body .find .row .col a,
  .content-box .page-content-body .find .row .col a {
    display: block;
    width: 100%;
  }
  #app .page-content-body .find .row .col a .common-img-box,
  .content-box .page-content-body .find .row .col a .common-img-box {
    width: 100%;
    height: 15.625rem;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
  }
  #app .page-content-body .find .row .col a .common-img-box img,
  .content-box .page-content-body .find .row .col a .common-img-box img {
    max-width: 100%;
    max-height: 100%;
  }
  #app .page-content-body .find .row .col .info-box,
  .content-box .page-content-body .find .row .col .info-box {
    margin: 1.25rem 0 0;
    padding: 0.625rem 0 0;
    height: 6.25rem;
    width: 100%;
  }
  #app .page-content-body .find .row .col .info-box .pro-title,
  .content-box .page-content-body .find .row .col .info-box .pro-title {
    width: 100%;
    height: 5rem;
    margin: 0 0 0.3125rem;
    font-size: 1rem;
    color: #000;
    padding: 0.625rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  #app .page-content-body .find .row .col .info-box .star,
  .content-box .page-content-body .find .row .col .info-box .star {
    height: 43px;
  }
  #app .page-content-body .find .row .col .info-box .price,
  .content-box .page-content-body .find .row .col .info-box .price {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.25rem;
    margin: 1.25rem 0;
    color: #f03d3d;
  }
  #app .page-content-body .find .row .col .info-box .price span,
  .content-box .page-content-body .find .row .col .info-box .price span {
    font-size: 0.875rem;
    color: #999;
    text-decoration: line-through;
  }
  #app .page-content-body .not-found,
  .content-box .page-content-body .not-found {
    width: 100%;
  }
  #app .page-content-body .drag-item .container1,
  .content-box .page-content-body .drag-item .container1 {
    width: 100%;
  }
  #app .page-content-body .drag-item .container2,
  .content-box .page-content-body .drag-item .container2 {
    width: 100%;
    padding: 0 1.25rem;
  }
  #app .page-content-body .drag-item .container2 h2,
  .content-box .page-content-body .drag-item .container2 h2 {
    height: 6.25rem;
    padding: 1.875rem 1rem;
  }
  #app .page-content-body .drag-item .container2 .main,
  .content-box .page-content-body .drag-item .container2 .main {
    width: 100%;
  }
  #app .page-content-body .drag-item .container2 .main .checkout,
  .content-box .page-content-body .drag-item .container2 .main .checkout {
    margin: 1.25rem 0;
    height: 200px;
  }
  #app .page-content-body .drag-item .container2 .main .checkout .checkout-box,
  .content-box .page-content-body .drag-item .container2 .main .checkout .checkout-box {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1.25rem 0 0 1.25rem;
  }
  #app .page-content-body .drag-item .container2 .main .checkout .checkout-box .node,
  .content-box .page-content-body .drag-item .container2 .main .checkout .checkout-box .node {
    padding: 0.625rem;
  }
  #app .page-content-footer,
  .content-box .page-content-footer {
    width: 100% !important;
    margin: 0 auto;
    height: 18.75rem;
  }
  #app .page-content-footer .container,
  .content-box .page-content-footer .container {
    width: 100%;
    height: 12.5rem;
  }
  #app .page-content-footer .container .item-box,
  .content-box .page-content-footer .container .item-box {
    width: 100%;
    height: 100%;
  }
  #app .page-content-footer .container .item-box .item-content,
  .content-box .page-content-footer .container .item-box .item-content {
    padding: 0.625rem;
  }
  #app .page-content-footer .container .item-box .item-content .from-content,
  .content-box .page-content-footer .container .item-box .item-content .from-content {
    width: 14.375rem;
  }
  #app .page-content-footer .container .item-box .item-content .from-content .input,
  .content-box .page-content-footer .container .item-box .item-content .from-content .input {
    padding: 0 2px;
  }
  #app .page-content-footer .container .item-box .item-content .from-content .input input,
  .content-box .page-content-footer .container .item-box .item-content .from-content .input input {
    padding: 5px;
  }
  #app .page-content-footer .container .item-box .item-content .from-content .btn,
  .content-box .page-content-footer .container .item-box .item-content .from-content .btn {
    width: 15px !important;
  }
  #app .page-content-footer .container .item-box .item-content .from-content .btn i,
  .content-box .page-content-footer .container .item-box .item-content .from-content .btn i {
    font-size: 0.875rem !important;
    margin-left: 0 !important;
  }
  #app .page-content-footer .footer-bottom-container,
  .content-box .page-content-footer .footer-bottom-container {
    width: 100%;
    height: 6.25rem;
  }
  #app .page-content-footer .footer-bottom-container .bottom-box,
  .content-box .page-content-footer .footer-bottom-container .bottom-box {
    width: 100%;
    height: 6.25rem;
  }
  #app .page-content-footer .footer-bottom-container .bottom-box .item-payment-box,
  .content-box .page-content-footer .footer-bottom-container .bottom-box .item-payment-box {
    flex: 1;
    padding: 0;
    margin: 0;
  }
  #app .page-content-footer .footer-bottom-container .bottom-box .item-copyright-box,
  .content-box .page-content-footer .footer-bottom-container .bottom-box .item-copyright-box {
    flex: 1;
  }
  body #app,
  body .content-box {
    width: 100%;
  }
  body #app .main,
  body .content-box .main {
    width: 100%;
  }
  body #app .main .checkout-box,
  body .content-box .main .checkout-box {
    width: 100%;
    display: flex;
    height: 1180px;
  }
  body #app .main .checkout-box .left-checkout,
  body .content-box .main .checkout-box .left-checkout {
    flex: 1;
    padding: 0.625rem;
  }
  body #app .main .checkout-box .left-checkout .payment-info,
  body .content-box .main .checkout-box .left-checkout .payment-info {
    width: 400px;
    padding: 1.25rem;
  }
  body #app .main .checkout-box .left-checkout .payment-info .pay,
  body .content-box .main .checkout-box .left-checkout .payment-info .pay {
    height: auto;
  }
  body #app .main .checkout-box .left-checkout .payment-info .pay .payment-box,
  body .content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box {
    padding: 0 5px;
  }
  body #app .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-ma-12,
  body .content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-ma-12 {
    width: 100%;
    background-color: #bd263f;
  }
  body #app .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-ma-12 .row h2,
  body .content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-ma-12 .row h2 {
    padding: 0 5px;
    font-size: 14px;
  }
  body #app .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-ma-12 .row p,
  body .content-box .main .checkout-box .left-checkout .payment-info .pay .payment-box .col-ma-12 .row p {
    width: 100px;
  }
  body #app .main .checkout-box .right-checkout,
  body .content-box .main .checkout-box .right-checkout {
    flex: 1;
    padding: 3.5rem 1.25rem;
  }
  body #app .main .checkout-box .right-checkout .checkout-price,
  body .content-box .main .checkout-box .right-checkout .checkout-price {
    width: 370px;
    height: 100%;
    padding: 0;
  }
  body #app .main .checkout-box .right-checkout .checkout-price .product-list,
  body .content-box .main .checkout-box .right-checkout .checkout-price .product-list {
    width: 100%;
  }
  body #app .main .checkout-box .right-checkout .checkout-price .product-list div,
  body .content-box .main .checkout-box .right-checkout .checkout-price .product-list div {
    width: 100%;
    height: 100%;
  }
  body #app .main .checkout-box .right-checkout .checkout-price .product-list div .product-item,
  body .content-box .main .checkout-box .right-checkout .checkout-price .product-list div .product-item {
    width: 100%;
    height: 100%;
  }
  body #app .main .checkout-box .right-checkout .checkout-price .product-list div .product-item,
  body .content-box .main .checkout-box .right-checkout .checkout-price .product-list div .product-item {
    display: flex;
    align-content: center;
    height: 6.25rem;
  }
  body #app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item,
  body .content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item {
    display: flex;
    align-content: center;
  }
  body #app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .img-box,
  body .content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .img-box {
    width: 3.125rem;
    height: 4.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body #app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .img-box img,
  body .content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .img-box img {
    max-width: 100%;
    max-height: 100%;
  }
  body #app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info,
  body .content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info {
    width: 15.625rem;
  }
  body #app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info .title,
  body .content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info .title {
    width: 100%;
    height: 2.5rem;
    font-size: 0.9375rem;
  }
  body #app .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info .color,
  body .content-box .main .checkout-box .right-checkout .checkout-price .product-list div .checkout-product-item .left .info .color {
    height: 1.5rem;
    padding: 0.3125rem;
    font-size: 0.875rem;
  }
  .menu-mask {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 20;
    padding: 0;
  }
  .menu-mask .menu-body {
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
  }
  .menu-mask .menu-body .menu-ul {
    padding: 3.125rem 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
  .menu-mask .menu-body .menu-ul li {
    height: 3.125rem;
    line-height: 3.125rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
  }
  .menu-mask .menu-body .menu-ul li a {
    display: block;
    flex: 1;
    height: 100%;
  }
  .menu-mask .menu-body .menu-ul li i {
    padding-right: 1rem;
    flex: 9;
    text-align: right;
  }
  .menu-mask .menu-body .login {
    position: absolute;
    bottom: 8.125rem;
    left: 5%;
    display: block;
    width: 80%;
    text-align: center;
    height: 3.125rem;
    line-height: 3.125rem;
    background-color: #000;
    border: 0.0625rem solid black;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.3125rem;
  }
  .menu-mask .menu-body .register {
    position: absolute;
    bottom: 3.125rem;
    left: 5%;
    display: block;
    width: 80%;
    text-align: center;
    height: 3.125rem;
    line-height: 3.125rem;
    border: 0.0625rem solid black;
    font-size: 1rem;
    border-radius: 0.3125rem;
  }
  .menu-mask .menu-body .logout {
    position: absolute;
    bottom: 3.125rem;
    left: 5%;
    display: block;
    width: 80%;
    text-align: center;
    height: 3.125rem;
    line-height: 3.125rem;
    background-color: #000;
    border: 0.0625rem solid black;
    color: #fff;
    border-radius: 0.3125rem;
  }
  .menu-mask .shop-body {
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
  }
  .menu-mask .shop-body .shop-ul {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
  .menu-mask .shop-body .shop-ul .menu-return {
    display: block;
    height: 3.125rem;
    line-height: 3.125rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .menu-mask .shop-body .shop-ul li {
    height: 3.125rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    line-height: 3.125rem;
    font-size: 1.25rem;
  }
  .menu-mask .shop-body .shop-ul li a {
    display: block;
    flex: 6;
    height: 100%;
  }
  .menu-mask .shop-body .shop-ul li i {
    padding-right: 1rem;
    flex: 4;
    text-align: right;
  }
  .menu-mask .tops-body {
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
  }
  .menu-mask .tops-body .tops-ul {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
  .menu-mask .tops-body .tops-ul .shop-return {
    display: block;
    height: 3.125rem;
    line-height: 3.125rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .menu-mask .tops-body .tops-ul li {
    height: 3.125rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    line-height: 3.125rem;
    font-size: 1.25rem;
  }
  .menu-mask .tops-body .tops-ul li a {
    display: block;
    flex: 1;
    height: 100%;
  }
  .menu-mask .outwear-body {
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
  }
  .menu-mask .outwear-body .outwear-ul {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
  .menu-mask .outwear-body .outwear-ul .shop-return {
    display: block;
    height: 3.125rem;
    line-height: 3.125rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .menu-mask .outwear-body .outwear-ul li {
    height: 3.125rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    line-height: 3.125rem;
    font-size: 1.25rem;
  }
  .menu-mask .outwear-body .outwear-ul li a {
    display: block;
    flex: 1;
    height: 100%;
  }
  .menu-mask .hoodies-body {
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
  }
  .menu-mask .hoodies-body .hoodies-ul {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
  .menu-mask .hoodies-body .hoodies-ul .shop-return {
    display: block;
    height: 3.125rem;
    line-height: 3.125rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .menu-mask .hoodies-body .hoodies-ul li {
    height: 3.125rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    line-height: 3.125rem;
    font-size: 1.25rem;
  }
  .menu-mask .hoodies-body .hoodies-ul li a {
    display: block;
    flex: 1;
    height: 100%;
  }
  .menu-mask .product-body {
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
  }
  .menu-mask .product-body .product-ul {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
  .menu-mask .product-body .product-ul .menu-return {
    display: block;
    height: 3.125rem;
    line-height: 3.125rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .menu-mask .product-body .product-ul li {
    height: 3.125rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    line-height: 3.125rem;
    font-size: 1.125rem;
  }
  .menu-mask .product-body .product-ul li a {
    display: block;
    flex: 1;
    height: 100%;
  }
  .menu-mask .page-body {
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
  }
  .menu-mask .page-body .page-ul {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
  .menu-mask .page-body .page-ul .menu-return {
    display: block;
    height: 3.125rem;
    line-height: 3.125rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .menu-mask .page-body .page-ul li {
    height: 3.125rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    line-height: 3.125rem;
    font-size: 1.125rem;
  }
  .menu-mask .page-body .page-ul li a {
    display: block;
    flex: 1;
    height: 100%;
  }
}
