#app .content-box {
    .page-content-header, .bottom-nav{
        width: 100%;
        margin: 0 auto;
    }
    .page-content-body{
        width: 100%;
        margin: 0 auto;
    }
    .drag-item1{
        width: 100%;
    }
    .drag-item2{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .page-content-footer{
        width: 100%;
        margin: 0 auto;
    }
    .item-box{
        width: 100%;
    }
}
