<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="fecify is a privatized saas system, a system to build N e-commerce malls">
    <!-- icon -->
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <!-- 判断屏幕尺寸 -->
    <link rel="stylesheet" href="./css/style1440.css" media="screen and (max-width:1440px)">
    <link rel="stylesheet" href="./css/style1024.css" media="screen and (max-width:1024px)">
    <link rel="stylesheet" href="./css/style820.css" media="screen and (max-width:820px)">
    <link rel="stylesheet" href="./css/style768.css" media="screen and (max-width:768px)">
    <link rel="stylesheet" href="./css/style540.css" media="screen and (max-width:540px)">
    <link rel="stylesheet" href="./css/style375.css" media="screen and (max-width:375px)">
    <!--公共区 -->
    <link rel="stylesheet" href="./css/commom.css">
    <!-- 初始化 -->
    <link rel="stylesheet" href="./css/初始化.css">
    <link rel="stylesheet" href="./layui/css/layui.css">
    <link rel="stylesheet" href="./css/product.css">
    <link rel="stylesheet" href="./css/css/swiper css/swiper.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="./art-template/template-web.js"></script>
    <title></title>
</head>

<body>
    <div id="app">
        <div class="content-box">
            <!-- 头部 -->
            <div class="page-content-header">
                <header>
                    <nav class="top-nav">
                        <a href="#"><img src="./images/facebook.png" alt=""></a>
                        <a href="#"><img src="./images/staginer.png" alt=""></a>
                        <a href="#"><img src="./images/pinterest.png" alt=""></a>
                        <a href="#"><img src="./images/twitter .png" alt=""></a>
                        <a href="#"><img src="./images/YouTube.png" alt=""></a>
                        <a href="#"><img src="./images/TikTok.png" alt=""></a>
                    </nav>
                    <nav class="bottom-nav">
                        <div class="hs-mobile-home-nav-toggle" style="display: none;">
                            <div class="flex">
                                <div class="menu"><img src="./upload/menu-button.svg" alt=""></div>
                                <a href="#" class="mobile-logo">
                                    <img src="#" alt="" class="logo-img">
                                </a>
                                <ul class="search-shopping">
                                    <li>
                                        <a href="./search.html">
                                            <i class="layui-icon layui-icon-search"
                                                style="font-size: 20px;background-color: #fff;"></i>
                                        </a>
                                    </li>
                                    <li class="user-li" style="display: none;">
                                        <a href="./order-list.html">
                                            <i class="layui-icon layui-icon-username "
                                                style="font-size: 20px;background-color: #fff;"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <i class="products"><span class="products-num">0</span></i>
                                        <a href="./shopping-cart.html">
                                            <i class="layui-icon layui-icon-cart"
                                                style="font-size: 20px;background-color: #fff;"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <a href="#" class="logo"><img src="#" alt="" class="logo-img"></a>
                        <ul class="tab">
                            <li><a href="./index.html">Home</a></li>
                            <li>
                                <a href="./shop.html" class="shop">Shop</a>

                            </li>
                            <li>
                                <i>hot</i>
                                <a href="./productDetail.html" class="product">Product</a>
                            </li>
                            <li><a href="./About Us.html" class="pages">Pages</a></li>
                            <!-- <li><a href="./Coupons.html">Coupons</a></li> -->

                        </ul>

                        <!-- 显示 shop-->
                        <div class="shop-item">
                            <div class="container">
                                <div class="left">
                                    <ul>
                                        <h2><a href="./shop.html">Tops</a></h2>
                                        <li><a href="./shop.html">Blouses & Shirts</a></li>
                                        <li><a href="./shop.html">T-shirts</a></li>
                                        <li><a href="./shop.html">Tank Tops & Camis</a></li>
                                        <li><a href="./shop.html">Crop Tops</a></li>
                                        <li><a href="./shop.html">Kimonos</a></li>
                                    </ul>
                                    <ul>
                                        <h2><a href="./shop.html">Outwear & Sweaters</a></h2>
                                        <li><a href="./shop.html">Coats</a></li>
                                        <li><a href="./shop.html">Sweaters</a></li>
                                        <li><a href="./shop.html">Blazers</a></li>
                                        <li><a href="./shop.html">Jackers</a></li>
                                        <li><a href="./shop.html">Cardigans</a></li>
                                    </ul>
                                    <ul>
                                        <h2><a href="./shop.html">Hoodies</a></h2>
                                        <li><a href="./shop.html">Hoodies</a></li>
                                        <li><a href="./shop.html">Sweat Shirts</a></li>
                                    </ul>
                                    <ul>
                                        <h2><a href="./shop.html">Cover Ups</a></h2>
                                    </ul>

                                </div>

                            </div>
                        </div>
                        <!-- product -->
                        <div class="product-item">
                            <div class="container">
                                <ul>
                                    <li><a href="./productDetail.html">Dresses</a></li>
                                    <li><a href="./productDetail.html">OuterWears</a></li>
                                    <li><a href="./productDetail.html">Bottoms</a></li>
                                    <li><a href="./productDetail.html">Tops</a></li>
                                    <li><a href="./productDetail.html">New in</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- pages -->
                        <div class="pages-item">
                            <div class="container">
                                <ul>
                                    <li><a href="./Shipping $ Return.html">Shipping & Return</a></li>
                                    <li><a href="./Shipping Policies.html">Shipping Policies</a></li>
                                    <li><a href="./About Us.html">About Us</a></li>
                                </ul>
                            </div>
                        </div>

                        <ul class="yonghu">
                            <li><a href="./search.html"><i class="layui-icon layui-icon-search"
                                        style="font-size: 20px;background-color: #fff;"></i></a></li>
                            <li class="user-root">
                                <i class="layui-icon layui-icon-username username"
                                    style="font-size: 20px;background-color: #fff;"></i>
                                <div class="root">
                                    <div class="row">
                                        <a href="./login.html">Log in</a>
                                        <a href="./register.html">Register</a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-user"><i class="layui-icon layui-icon-username username"
                                    style="font-size: 20px;background-color: #fff;"></i></li>
                            <li>
                                <i class="products"><span class="products-num">0</span></i>
                                <a href="./shopping-cart.html"><i class="layui-icon layui-icon-cart"
                                        style="font-size: 20px;background-color: #fff;"></i></a>
                            </li>


                        </ul>

                    </nav>
                </header>

            </div>


            <!-- 内容 -->
            <div class="page-content-body">
                <div class="drag-item">
                    <div class="product-info product-box">
                        <div class="product-detail-primary">

                        </div>

                        <!-- tab -->
                        <div class="tab-box">
                            <div class="tab-nav">
                                <div class="tab-list">
                                    <div class="tab-item nav-active">Product Description</div>

                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-item-content1 tab-item-content silhouette">
                                    <!-- <h4>The Iconic Silhouette</h4>
                                    <p>&nbsp;</p>
                                    <p>
                                        But indeed we both accuse and lead with just hatred those who,
                                        softened by the flattery of present pleasures and corrupted by the cares and
                                        troubles they are about to experience,
                                        blinded by greed, do not provide for them, and the like are in fault who forsake
                                        the duties of the softness of the mind,
                                        that is it is the flight of labors and pains. And indeed the distinction between
                                        these things is easy and expedient.
                                        For in free time, when we have the option of choosing nothing
                                    </p> -->
                                </div>

                            </div>
                            <div class="like-box">
                                <div class="title">You May Also Like</div>
                                <div class="row likeRow">
                                    <!-- <div class="col">
                                        <a href="#">
                                            <div class="common-img-box">
                                                <img src="./upload/shop3.webp" alt="">
                                            </div>
                                            <div class="pro-title">Tinted Sunglasses</div>
                                            <div class="star">
                                                <div id="ID-rate-demo-readonly-1"></div>
                                            </div>
                                            <div class="price">$21.34 <span>$34.89</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="#">
                                            <div class="common-img-box">
                                                <img src="./upload/T-shirt.webp" alt="">
                                            </div>
                                            <div class="pro-title">Oversized T-shirt</div>
                                            <div class="star"></div>
                                            <div class="price">$23.12 <span>$54.00</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="#">
                                            <div class="common-img-box">
                                                <img src="./upload/shop1.webp" alt="">
                                            </div>
                                            <div class="pro-title">Quilted Shoulder Bag</div>
                                            <div class="star">
                                                <div id="ID-rate-demo-readonly-2"></div>
                                            </div>
                                            <div class="price">$65.00 <span>$87.00</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="#">
                                            <div class="common-img-box">
                                                <img src="./upload/shop2.webp" alt="">
                                            </div>
                                            <div class="pro-title">Polarised Sunglasses</div>
                                            <div class="star"></div>
                                            <div class="price">$199.00 <span>$213.00</span>
                                            </div>
                                        </a>
                                    </div> -->
                                </div>

                            </div>
                            <!-- <div class="Poplin">
                                <div class="row-contain">
                                    <div class="col">
                                        <a href="#">
                                            <div class="common-img-box">
                                                <img src="./upload/jiao.webp" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <div class="info-box">
                                            <h3>Poplin Top With Ruffle Trim</h3>
                                            <div class="text">
                                                <p>We believe in crafting pieces where sustainability and style go hand
                                                    in hand.
                                                    Made from materials like recycled cashmere and sust</p>
                                            </div>
                                            <a href="#">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>

            <!-- Shopping cart -->
            <div class="shopping-cart-mask">
                <div class="shopping-cart">
                    <div class="header">
                        Shopping cart
                        <i class="layui-icon layui-icon-close close" style="font-size: 30px; color: #000;"></i>
                    </div>
                    <div class="body">
                        <div class="main-box">
                            <ul class="table-body ul">
                                <!-- <li class="table-item c-product-item li">
                                    <div class="img-box">
                                        <img src="./upload/swiper1.webp" alt="">
                                    </div>
                                    <div class="table-info">
                                        <div class="title">Polarised Sunglasses</div>
                                        <div class="p">Black</div>
                                        <div class="price">$199.00</div>
                                        <div class="count">
                                            <div class="input-box">
                                                <div class="input-number">
                                                    <span class="sub1 c-sub" data-id="${item.id}" data-color="${item.color}" data-size="${item.size}"><i class="layui-icon layui-icon-subtraction"></i>
                                                    </span>

                                                    <div class="input1 c-input">
                                                        1
                                                    </div>
                                                    <span class="add1 c-sub" data-id="${item.id}" data-color="${item.color}" data-size="${item.size}"><i
                                                            class="layui-icon layui-icon-addition"></i></span>
                                                </div>
                                            </div>
                                            <div class="remove-btn remove" data-id="${item.id}" data-color="${item.color}" data-size="${item.size}">
                                                <i class="layui-icon layui-icon-delete" style="font-size: 24px;"></i>
                                            </div>
                                        </div>


                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="item-price">
                            <span>Subtotal</span>
                            <div class="total-price price-title-total">$241.86</div>
                        </div>
                        <div class="button-box">
                            <a href="./checkout.html">
                                <div class="col-md-12">Checkout</div>
                            </a>
                            <!-- <div class="payment-box">
                                <div class="col-md-12">
                                    <div class="paypal-button-container">
                                        <img src="./upload/paypal.svg" alt=""><span> 立即购买</span>
                                    </div>
                                     <div class="paypal-button-container1">
                                        <img src="./upload/银行卡.svg" alt="">
                                        <span> 借记卡或信用卡</span>
                                    </div>
                                    <div class="paypal-powered-by">
                                        <span>技术提供方：</span>
                                        <img src="./upload/paypal.svg" alt="">
                                    </div> -->
                            <!-- </div>
                            </div> -->
                        </div>

                    </div>
                </div>
            </div>


            <!-- 尾 -->
            <div class="page-content-footer">
                <div class="container">
                    <div class="item-box pc-menu">
                        <div class="item-content menu-1">
                            <div class="item">
                                <div class="menu-link">
                                    <p>SUPPORT</p>
                                    <ul>
                                        <li class="menu-item"><a href="./About Us.html">About us</a></li>
                                        <!-- <li class="menu-item"><a href="#">FAQs</a></li> -->
                                        <li class="menu-item"><a href="./Shipping Policies.html">Shipping Policies</a>
                                        </li>
                                        <li class="menu-item"><a href="./Shipping $ Return.html">Shipping & return</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item-content menu-2">
                            <div class="item">
                                <div class="menu-link">
                                    <p>Quick links</p>
                                    <ul>
                                        <li class="menu-item"><a href="#"  class="my-account">My account</a></li>
                                        <li class="menu-item"><a href="./shopping-cart.html">Cart</a></li>
                                        <!-- <li class="menu-item"><a href="#">Coupon</a></li> -->
                                        <!-- <li class="menu-item"><a href="#">Query Order</a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item-content menu-3">
                            <div class="item">
                                <div class="menu-link">
                                    <p>Follow us</p>
                                    <div class="lg">
                                        <ul class="clearfix">
                                            <li class="menu-item"><a href="#"><img src="./images/facebook.png"
                                                        alt=""></a></li>
                                            <li class="menu-item"><a href="#"><img src="./images/staginer.png"
                                                        alt=""></a></li>
                                            <li class="menu-item"><a href="#"><img src="./images/pinterest.png"
                                                        alt=""></a></li>
                                            <li class="menu-item"><a href="#"><img src="./images/twitter .png"
                                                        alt=""></a></li>
                                            <li class="menu-item"><a href="#"><img src="./images/YouTube.png"
                                                        alt=""></a></li>
                                            <li class="menu-item"><a href="#"><img src="./images/TikTok.png" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-content menu-4">
                            <div class="item">
                                <div class="menu-link">
                                    <p>Newsletter</p>
                                    <div class="mb-10">
                                        <span class="address"></span>
                                    </div>
                                    <form action="">
                                        <div class="from-content">
                                            <i class="layui-icon layui-icon-email"
                                                style="font-size: 20px; color: black;margin-left: 10px;"></i>
                                            <div class="input">
                                                <input type="email" name="Email" id="" autocomplete="off"
                                                    placeholder="Email">
                                            </div>
                                            <div class="btn">
                                                <i class="layui-icon layui-icon-right"
                                                    style="font-size: 20px;margin-left: 10px;"></i>
                                            </div>
                                        </div>
                                        <div class="err">Please input the email address</div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu" style="display: none;">
                        <div class="item-content menu-1">
                            <div class="item">
                                <div class="menu-link support-btn">
                                    <p>SUPPORT</p><i class="layui-icon layui-icon-down"style="font-size: 20px;color: #000;"></i>
                                </div>
                                <ul class="support-body" style="display: none;">
                                    <li class="menu-item"><a href="./About Us.html">About us</a></li>
                                    <!-- <li class="menu-item"><a href="#">FAQs</a></li> -->
                                    <li class="menu-item"><a href="./Shipping Policies.html">Shipping Policies</a>
                                    </li>
                                    <li class="menu-item"><a href="./Shipping $ Return.html">Shipping & return</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-content menu-2">
                            <div class="item">
                                <div class="menu-link quick-btn">
                                    <p>Quick links</p><i class="layui-icon layui-icon-down"style="font-size: 20px;color: #000;"></i>
                                </div>
                                    <ul class="quick-body" style="display: none;">
                                        <li class="menu-item"><a href="#"  class="my-account">My account</a></li>
                                        <li class="menu-item"><a href="./shopping-cart.html">Cart</a></li>
                                        <!-- <li class="menu-item"><a href="#">Coupon</a></li> -->
                                        <!-- <li class="menu-item"><a href="#">Query Order</a></li> -->
                                    </ul>
                                
                            </div>
                        </div>
                        <div class="item-content menu-3">
                            <div class="item">
                                <div class="menu-link follow-btn">
                                    <p>Follow us</p><i class="layui-icon layui-icon-down"style="font-size: 20px;color: #000;"></i>
                                </div>
                                    <div class="follow-body" style="display: none;">
                                        <ul class="clearfix">
                                            <li class="menu-item"><a href="#"><img src="./images/facebook.png"
                                                        alt=""></a></li>
                                            <li class="menu-item"><a href="#"><img src="./images/staginer.png"
                                                        alt=""></a></li>
                                            <li class="menu-item"><a href="#"><img src="./images/pinterest.png"
                                                        alt=""></a></li>
                                            <li class="menu-item"><a href="#"><img src="./images/twitter .png"
                                                        alt=""></a></li>
                                            <li class="menu-item"><a href="#"><img src="./images/YouTube.png"
                                                        alt=""></a></li>
                                            <li class="menu-item"><a href="#"><img src="./images/TikTok.png" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                               
                            </div>
                        </div>
                        <div class="item-content menu-4">
                            <div class="item">
                                <div class="menu-link newsletter-btn">
                                    <p>Newsletter</p><i class="layui-icon layui-icon-down"style="font-size: 20px;color: #000;"></i>
                                </div>
                                    <div class="news-body" style="display: none;">
                                        <div class="mb-10">
                                            <span class="address"></span>
                                        </div>
                                        <form action="">
                                            <div class="from-content">
                                                <i class="layui-icon layui-icon-email"
                                                    style="font-size: 20px; color: black;margin-left: 10px;"></i>
                                                <div class="input">
                                                    <input type="email" name="Email" id="" autocomplete="off"
                                                        placeholder="Email">
                                                </div>
                                                <div class="btn">
                                                    <i class="layui-icon layui-icon-right"
                                                        style="font-size: 20px;margin-left: 10px;"></i>
                                                </div>
                                            </div>
                                            <div class="err">Please input the email address</div>
                                        </form>
                                    </div>                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom-container" >
                    <div class="bottom-box">
                        <div class="item-payment-box">
                            <img src="./images/visa.svg" alt="">
                            <img src="./images/mastercard.svg" alt="">
                            <img src="./images/amex.svg" alt="">
                            <img src="./images/discover.svg" alt="">
                            <img src="./images/alipay.svg" alt="">
                            <img src="./images/jcb.svg" alt="">
                            <img src="./images/diners.svg" alt="">
                            <img src="./images/ideal.svg" alt="">
                            <img src="./images/giropay.svg" alt="">
                            <img src="./images/eps.svg" alt="">
                            <img src="./images/bancontact.svg" alt="">
                            <img src="./images/cod_1.svg" alt="">
                            <img src="./images/paypal.svg" alt="">
                        </div>
                        <!-- <div class="item-copyright-box">
                            <p>@2022 Fecify 版权信息 鲁ICP备19015289号-6</p> 
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-mask" style="display: none;">
            <div class="menu-body" style="display: none;">
                <ul class="menu-ul">
                    <li><a href="./index.html" class="menu-li">Home</a></li>
                    <li><a href="./shop.html" class="menu-li">Shop</a>
                    </li>
                    <li><a href="./productDetail.html" class="menu-li">Product</a>
                    </li>
                    <li><a href="./About Us.html" class="menu-li">Pages</a>
                        <i class="layui-icon layui-icon-right page-i" style="font-size: 20px; "></i>
                    </li>
                    <!-- <li><a href="./Coupons.html" class="menu-li">Coupons</a></li> -->
                </ul>
                <a href="./login.html" class="login">Log in</a>
                <a href="./register.html" class="register">Register</a>
                <a href="#" class="logout" style="display: none;">Log out</a>
            </div>

            <!-- page -->
            <div class="page-body" style="display: none;">
                <ul class="page-ul">
                    <a href="#" class="menu-return"><i class="layui-icon layui-icon-return"></i> Return</a>
                    <li><a href="./Shipping $ Return.html" class="page-li">Shipping & Return</a></li>
                    <li><a href="./Shipping Policies.html" class="page-li">Shipping Policies</a></li>
                    <li><a href="./About Us.html" class="page-li">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <script type="text/html" id="product_thumbPic_template">

    </script> -->
    <script type="text/html" id="product_detail_template">
        <div class="top-box" id=${item.id}>
            <div class="swiper-box">
                <div class="sticky-box">
                    <div class="left-swiper">
                        <div class="side">
                            <div class="swiper-list ">
                                {{each specialProduct.images thumb}}
                                {{if thumb == specialProduct.images}}
                                <div class="swiper-item active">
                                    <img src={{url+thumb}} alt="" />
                                </div>
                                {{/if}}
                                {{if thumb !== specialProduct.images}}
                                <div class="swiper-item">
                                    <img src={{url+thumb}} alt="" />
                                </div>
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div> 
                    <div class="right-swiper">
                        <img src={{url+specialProduct.images[0]}} alt="" class="a-img">
                        <div class="mobile-product-swiper-container swiper mySwiper" style="display: none;">
                            <div class="swiper-wrapper ">
                                {{each specialProduct.images thumb}}
                                <div class="swiper-slide">
                                    <img src={{url+thumb}} alt="img" />
                                </div>
                                {{/each}}    
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-box">
                <div>
                    <h1 class="title a-title">{{specialProduct.title}}</h1>
                    <p class="subtitle">{{specialProduct.title}}</p>
                    <div class="price-box">
                        <div class="price a-price">${{specialProduct.price}}</div>
                        <div class="compare-at-price">${{specialProduct.costprice}}</div>
                        <div class="discount-tag">{{discountTag}}% OFF</div>
                    </div>
                    <!-- <div class="coupon-box">
                        <div class="item-coupon">
                            <div class="left-info">
                                <span class="off">-$5.00</span>
                                <span class="condition">No threshold</span>
                            </div>
                            <div class="right-info">
                                <button class="code-btn">
                                    <span>Receive</span>
                                </button>
                            </div>
                        </div>
                    </div> -->
                    <div class="product-specification">
                        {{if colorArr.length}}
                        <div class="product-options">
                            <label class="name upppercase">
                                Color:<span class="color">{{colorArr[0]}}</span>
                            </label>
                            <div class="item-box">
                                
                                <!-- <div class="product-options-item color-item"> {{specialProduct.color2}} </div> -->
                                {{each colorArr color}}
                                {{if color === colorArr[0]}}
                                <div class="product-options-item color-item color-active"> {{color}} </div>
                                {{/if}}
                                {{if color !== colorArr[0]}}
                                <div class="product-options-item color-item "> {{color}} </div>
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>
                        {{/if}}
                        {{if sizeArr.length}}
                        <div class="product-options">
                            <label class="name upppercase">
                                Size:<span class="size">{{sizeArr[0]}}</span>
                            </label>
                            <div class="item-box">
                                <!-- <div class="product-options-item size-active size-item" > M </div> -->
                                {{each sizeArr size}}
                                {{if size === sizeArr[0]}}
                                <div class="product-options-item size-item size-active"> {{size}} </div>
                                {{/if}}
                                {{if size !== sizeArr[0]}}
                                    <div class="product-options-item size-item"> {{size}} </div>
                                {{/if}}    
                                {{/each}}
                            </div>
                        </div>
                        {{/if}}
                        <div class="product-options1">
                            <div class="row">
                                <div class="product-quantity">
                                    <label class="name uppercase"> Quantity </label>
                                    <div class="input-box">
                                        <div class="input-number">
                                            <span class="sub"><i
                                                    class="layui-icon layui-icon-subtraction"></i>
                                            </span>
    
                                            <div class="input">
                                                1
                                            </div>
                                            <span class="add"><i
                                                    class="layui-icon layui-icon-addition"></i></span>
                                        </div>
                                        <div class="add-to-cart pc">
                                            <div class="t-minor-button a-btn">Add to cart</div>
                                        </div>
                                        <div class="add-to-cart mobile" style="display: none;">
                                                <div class="t-minor-button a-btn">Add to cart</div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="margin-top-btn">
                                    <a href="./checkout.html?checkout_flag=new_product"><div class="col-md-12 buynow">Buy it now</div></a>
                                </div>
                                <!-- <div class="col-md-12">
                                    <div class="paypal-button-container">
                                        <img src="./upload/paypal.svg" alt=""><span> 立即购买</span>
                                    </div>
                                    <div class="paypal-button-container1">
                                        <img src="./upload/银行卡.svg" alt="">
                                        <span> 借记卡或信用卡</span>
                                    </div>
                                    <div class="paypal-powered-by">
                                        <span>技术提供方：</span>
                                        <img src="./upload/paypal.svg" alt="">
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
         
    </script>



    <script src="./layui/layui.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./swiper/js/js/swiper.min.js"></script>
    <script src="./js/icon-title.js"></script>
    <script src="./utils/LocalStorageUtil.js"></script>
    <script src="./js/root.js"></script>
    <script src="./js/tab.js"></script>
    <script src="./js/shop-col.js"></script>
    <script src="./js/mobile-nav.js"></script>
    <script src="./js/my account.js"></script>
    <script src="./js/mobile-footer.js"></script>
    <!-- 开发环境版本，包含了有帮助的命令行警告
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
     <script>
         var app = new Vue({
             el:".app",
             // el:"#app",
             // el:"div",
             data:{
                 message:"0"
             }
         })
     </script> -->
</body>

</html>